[buildout]
extensions +=
    mr.developer

# alm.solrindex does not current have a released version that works on Plone 4.3.
# Add alm.solrindex to your eggs
always-checkout = force
auto-checkout =
    alm.solrindex
    z3c.recipe.usercrontab
    dss.portlet.person
    collective.newrelic
    dssweb.theme.magic
    Products.FacultyStaffDirectory
    Products.IssEvent
    collective.portlet.contentleadimage
    Products.Relations
    Products.Clouseau
    webcouturier.dropdownmenu
    collective.navrootacquisition
    dssweb.facnavviews
    Products.DssPageTypes
    collective.jqxgrid_pages
    collective.tinyaccordion
    dss.web
    dssweb.config
    collective.contentleadimage
    anz.casclient
	dssweb.portlet.personleadimage
	dssweb.policy
	dssweb.views
	

[sources]
dssweb.views = git https://github.com/CMcStone/dssweb.views.git rev=9d6cc18e636997e7ca440f7e0ee2bbd501efecc0
dssweb.config = fs dssweb.config
dssweb.theme.magic = fs dssweb.theme.magic
dssweb.facnavviews = fs dssweb.facnavviews
dss.web = fs dss.web
dss.portlet.person = fs dss.portlet.person
Products.DssPageTypes = fs Products.DssPageTypes
Products.IssEvent = fs Products.IssEvent
Products.FacultyStaffDirectory =  git git@github.com:ucdavis/Products.FacultyStaffDirectory.git
collective.jqxgrid_pages = git git@github.com:CMcStone/collective.jqxgrid_pages.git
collective.portlet.contentleadimage = git https://github.com/CMcStone/collective.portlet.contentleadimage.git rev=bc6d9c6290cda91c4f2c6ed88ea5e0af0a57273a

Products.Clouseau = git https://github.com/djowett/Products.Clouseau.git rev=211c092693f908708c8c8734d6c72103405db7c3
webcouturier.dropdownmenu = git https://github.com/CMcStone/webcouturier.dropdownmenu.git rev=4acfeb88d645ee77ca66393b9eba9400fab58bf5
collective.navrootacquisition = git https://github.com/smcmahon/collective.navrootacquisition rev=2718a96a8bde844bd75d395d7c8406258f035ede
collective.tinyaccordion = git https://github.com/CMcStone/collective.tinyaccordion.git rev=a817363ab12659b11ebd077500325ad30c64333b
collective.contentleadimage = git https://github.com/collective/collective.contentleadimage.git rev=7b32db7847ddcdcf12c138b07532cab9377bb069
dssweb.portlet.personleadimage = git https://github.com/CMcStone/dssweb.portlet.personleadimage.git
dssweb.policy = git https://github.com/CMcStone/dssweb.policy.git

alm.solrindex = git https://github.com/collective/alm.solrindex.git rev=d4038049161a58fd88b5a94b88a0c13b366b9ed5
z3c.recipe.usercrontab = git https://github.com/alecpm/z3c.recipe.usercrontab.git rev=116734e27ea1f93129559fb60821f2a278c08150
collective.newrelic = git https://github.com/collective/collective.newrelic.git rev=52d8bcf0cef9d7cfa5e2b77e61fd508a0f8aa9ca
anz.casclient = git https://github.com/ucdavis/anz.casclient.git rev=4627f93f2f9bee8250bd113d92f13b19495bd1c0

[versions]
