/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
/* 2013-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
/* _typography.scss */
body, div, p, li, input, textarea, select { color: #000; color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.3125em; }

/*
@font-face {
	font-family: 'lucida sans bold';
	src: url('fonts/lucida/LucidaSansBold.ttf');
	font-weight: normal;
	font-style: normal;
}
*/
a { color: #4d688c; }

em { font-style: italic; }

button { font-size: 14px; font-size: 0.875rem; line-height: 24px; line-height: 1.5rem; }

.btn-txt { display: none; }

.nobr { white-space: nowrap; }

p { margin-bottom: 15px; }

.portlet li, .portlet p, .portlet h4 { font-size: 13px; font-size: 0.8125rem; line-height: 18px; line-height: 1.125rem; }
.portlet .portlet-items li { font-size: 10px; font-size: 0.625rem; }
.portlet .portlet-items li a { font-size: 13px; font-size: 0.8125rem; line-height: 17px; line-height: 1.0625rem; text-decoration: none; }
.portlet .portlet-items li a:hover { text-decoration: underline; }
.portlet .portlet-items li .event-date { font-size: 13px; font-size: 0.8125rem; }

.col-lg-4 h2 { font-weight: bold !important; font-size: 30px !important; font-size: 1.875rem !important; margin-bottom: 15px; }

.about-bio h3 { font-weight: bold; }

.pager .pager-string { font-size: 13px; font-size: 0.8125rem; line-height: 25px; line-height: 1.5625rem; }

.sidebar h3 a { text-transform: uppercase; font-size: 13px; font-size: 0.8125rem; line-height: 18px !important; line-height: 1.125rem !important; letter-spacing: 0.1em; padding-bottom: 4px; }
.sidebar li { font-size: 13px !important; font-size: 0.8125rem !important; line-height: 18px; line-height: 1.125rem; }
.sidebar .vcard { font-size: 13px; font-size: 0.8125rem; line-height: 18px; line-height: 1.125rem; }
.sidebar .vcard .adr, .sidebar .vcard #email-phone { line-height: 18px; line-height: 1.125rem; }

figure figcaption { text-align: right; font-size: 10.65px; font-size: 0.66563rem; color: #002855; text-transform: uppercase; }

#content form input, #content form select, #content form textarea { font-size: 13px; font-size: 0.8125rem; line-height: 18px; line-height: 1.125rem; }
#content form .req-txt { font-size: 10px; font-size: 0.625rem; }

.corner-box h2, .corner-box h3, .corner-box p, .corner-box li, .corner-box a { color: #FFF; }
.corner-box .box-content h2 { padding: 15px 0; font-size: 24px; font-size: 1.5rem; letter-spacing: 0.075em; }
.corner-box .box-content h3 { padding: 0 0 8px 0; font-size: 13px; font-size: 0.8125rem; }
.corner-box .box-content p { font-size: 13px; font-size: 0.8125rem; line-height: 20px; line-height: 1.25rem; }

.sidebar-info h4 { font-weight: bold; font-size: 16px; font-size: 1rem; }

.uc { text-transform: uppercase; letter-spacing: 0.1em !important; }

.content-title { padding-bottom: 30px; font-size: 36px; font-size: 2.25rem; line-height: 43px; line-height: 2.6875rem; letter-spacing: 0.01em; margin-top: 0 !important; }

#content h2, #am-content h2 { font-size: 24px !important; font-size: 1.5rem !important; font-weight: normal; padding-top: 15px; padding-bottom: 15px; }
#content h3, #am-content h3 { font-size: 15px; font-size: 0.9375rem; line-height: 25px; line-height: 1.5625rem; padding-top: 15px; padding-bottom: 15px; }
#content .narrow-col h2, #content .narrow-col h3, #am-content .narrow-col h2, #am-content .narrow-col h3 { padding-bottom: 0; }

body.bio #summary #jumplinks { width: 30% !important; }
body.bio #summary #jumplinks ul { margin-right: 35px; }
body.bio #summary #jumplinks ul li { font-size: 13px; font-size: 0.8125rem; line-height: 22px; line-height: 1.375rem; padding-left: 0 !important; background-image: none !important; text-align: right; }
body.bio #summary #education { width: 70% !important; }
body.bio #summary #education ul { margin-top: 10px; }
body.bio #summary #education ul li { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; margin-bottom: 5px; padding-left: 0 !important; background-image: none !important; }

#cm-content p.intro { margin-bottom: 45px; }

#content p, #content li, #content ol, #content div, #am-content p, #am-content li, #am-content ol, #am-content div { line-height: 24px !important; line-height: 1.5rem !important; }
#content p, #am-content p { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; }
#content p.intro, #am-content p.intro { font-size: 18px; font-size: 1.125rem; line-height: 30px !important; line-height: 1.875rem !important; }
#content li, #content ol, #am-content li, #am-content ol { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; }
#content .breadcrumb p, #am-content .breadcrumb p { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; margin-bottom: 0; }
#content .breadcrumb p a, #am-content .breadcrumb p a { text-decoration: none; }
#content .breadcrumb p a:hover, #am-content .breadcrumb p a:hover { text-decoration: underline; }

/*----- Mobile breakpoint --------*/
@media screen and (max-width: 768px) { body.bio .content-title { display: none; }
  body.bio .bio-card h4.fn { padding-bottom: 30px; font-size: 23px; font-size: 1.4375rem; line-height: 25px; line-height: 1.5625rem; letter-spacing: 0.01em; margin-top: 4px !important; }
  .sidebar h3 { font-size: 13px; font-size: 0.8125rem; line-height: 40px; line-height: 2.5rem; letter-spacing: .1em; }
  #content .panel-group .row.panel .panel-title a, #am-content .panel-group .row.panel .panel-title a { font-size: 18px; font-size: 1.125rem; line-height: 40px; line-height: 2.5rem; }
  #top-panel-row { margin-top: 45px; }
  .panel-group #middle-row h2 { font-size: 18px !important; font-size: 1.125rem !important; line-height: 24px; line-height: 1.5rem; }
  #thumb-section .panel-group .panel-heading .panel-title a { font-size: 18px !important; font-size: 1.125rem !important; line-height: 45px !important; line-height: 2.8125rem !important; } }
body.res-lab #content-row div > h2 { font-size: 24px !important; font-size: 1.5rem !important; line-height: 28px; line-height: 1.75rem; margin-top: 15px; margin-bottom: 15px; }

#thumb-section .panel-group .panel-heading .panel-title a { font-size: 24px; font-size: 1.5rem; line-height: 70px; line-height: 4.375rem; }
#thumb-section section h4 { font-size: 20px !important; font-size: 1.25rem !important; margin-bottom: 25px; }

#content ul li, #am-content ul li, #cm-content ul li { font-size: 15px !important; font-size: 0.9375rem !important; line-height: 24px; line-height: 1.5rem; }

/*----- tablet breakpoint -------*/
@media screen and (min-width: 768px) { .top-panel { /*
&.left-panel {
	//text-align: right;
}
&.middle-panel {
	//text-align: center;
}
&.right-panel {
	//text-align: left;
}
*/ }
  .top-panel #content .narrow-col, .top-panel #am-content .narrow-col, .top-panel #cm-content .narrow-col { color: #FFF; }
  .top-panel #content .narrow-col h2, .top-panel #am-content .narrow-col h2, .top-panel #cm-content .narrow-col h2 { text-align: center !important; }
  .top-panel #content .narrow-col h3, .top-panel #content .narrow-col p, .top-panel #am-content .narrow-col h3, .top-panel #am-content .narrow-col p, .top-panel #cm-content .narrow-col h3, .top-panel #cm-content .narrow-col p { text-align: left !important; }
  .top-panel.left-panel h2, .top-panel.left-panel h2, .top-panel.left-panel h2 { text-align: center !important; }
  .container .sidebar .panel-heading .panel-title { padding-top: 8px !important; } }
/*----- Tablet breakpoint --------*/
@media screen and (max-width: 992px) { body.home #content .narrow-col h2, body.home #am-content .narrow-col h2 { font-size: 17px; font-size: 1.0625rem; }
  body.home #content #top-panel-row .narrow-col .bcontroller .btn-primary, body.home #am-content #top-panel-row .narrow-col .bcontroller .btn-primary { font-size: 11px; font-size: 0.6875rem; line-height: 18px !important; line-height: 1.125rem !important; }
  body.home #content #bottom-panel-row h2, body.home #am-content #bottom-panel-row h2 { font-size: 18px; font-size: 1.125rem; }
  #content .content-title, #am-content .content-title { font-size: 26px; font-size: 1.625rem; line-height: 28px; line-height: 1.75rem; }
  .corner-box .box-content h2 { padding: 10px 0; font-size: 16px; font-size: 1rem; letter-spacing: 0.075em; }
  .corner-box .box-content h3 { padding: 0 0 0 0; font-size: 11px; font-size: 0.6875rem; }
  .corner-box .box-content p { font-size: 11px; font-size: 0.6875rem; line-height: 15px; line-height: 0.9375rem; }
  #thumb-section .panel-group .panel-heading .panel-title a { font-size: 16px !important; font-size: 1rem !important; line-height: 40px !important; line-height: 2.5rem !important; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) { body.home #content #top-panel-row .narrow-col .bcontroller .btn-primary, body.home #am-content #top-panel-row .narrow-col .bcontroller .btn-primary { font-size: 14px; font-size: 0.875rem; line-height: 30px !important; line-height: 1.875rem !important; } }
@media screen and (max-width: 1310px) { body.home #content .narrow-col a, body.home #content .narrow-col p, body.home #content .narrow-col li, body.home #am-content .narrow-col a, body.home #am-content .narrow-col p, body.home #am-content .narrow-col li { font-size: 12px; font-size: 0.75rem; line-height: 15px !important; line-height: 0.9375rem !important; } }
/* /_typography.scss */
/*----- Mobile breakpoint --------*/
@media screen and (max-width: 768px) { .panel .panel-body { margin-top: 0 !important; }
  #content-row #content, #content-row #am-content { margin-top: 0 !important; }
  #content-row #content .bio-card, #content-row #am-content .bio-card { margin-bottom: 8px; margin-left: -15px !important; margin-right: -15px !important; }
  #content-row #content .bio-card .panel-heading, #content-row #am-content .bio-card .panel-heading { padding: 0 !important; display: none; }
  #content-row #content .bio-card .breadcrumb, #content-row #content .bio-card h4, #content-row #am-content .bio-card .breadcrumb, #content-row #am-content .bio-card h4 { margin-left: 15px; }
  #content-row #content .bio-card h4, #content-row #am-content .bio-card h4 { padding-bottom: 0; }
  #content-row #content .bio-card .title.org p, #content-row #am-content .bio-card .title.org p { font-style: italic; margin: 0; }
  #content-row #content .bio-card .portlet-content, #content-row #am-content .bio-card .portlet-content { padding: 0 !important; }
  #content-row #content .bio-card .portlet-content .vcard, #content-row #am-content .bio-card .portlet-content .vcard { padding: 0; }
  #content-row #content .bio-card .portlet-content .vcard div, #content-row #am-content .bio-card .portlet-content .vcard div { margin-left: 15px !important; }
  #content-row #content .bio-card .portlet-content .vcard img.photo, #content-row #am-content .bio-card .portlet-content .vcard img.photo { width: 214px; height: 214px; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items { position: absolute; left: 212px; top: 0; padding: 5px; margin: 0; width: 38.5%; background-color: #008EAA; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li { padding-bottom: 0; background-color: #e5e5e5; background-image: none; margin-bottom: 4px; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li:last-child, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li:last-child { margin-bottom: 0; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span { text-align: left; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span a, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span a { width: 100% !important; display: inline-block !important; padding: 5px 15px 5px 40% !important; line-height: 38px !important; line-height: 2.375rem !important; background-position: 20% 50% !important; text-decoration: none; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span a:hover, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span a:hover { text-decoration: underline; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.email-bio, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.email-bio { font-size: 13px !important; font-size: 0.8125rem !important; letter-spacing: 0.05em; background: url(../../images/icons/email-icon-m.png) 20% 50% no-repeat; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.cv, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.cv { background: url(../../images/icons/pdf-icon-t.png) 19% 50% no-repeat; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.vcard-file, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.vcard-file { background: url(../../images/icons/calendar-icon-m.png) 20% 50% no-repeat; }
  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.office, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.office { background: url(../../images/icons/office-icon-m.png) 20% 50% no-repeat; }
  #content-row #content #summary, #content-row #am-content #summary { margin-bottom: 0; }
  #content-row #content #summary #education, #content-row #am-content #summary #education { width: 100% !important; } }
@media screen and (min-width: 768px) { #content-row #summary #jumplinks #jumplinks-anchors { margin-top: 0; }
  #content-row .bio-card.portlet .portlet-items { margin: 0; }
  #content-row .bio-card.portlet .portlet-items li { margin-bottom: 0; }
  .sidebar-right { margin-top: 45px; }
  .sidebar-right .bio-card .panel-body .vcard { position: relative; }
  .sidebar-right .bio-card .panel-body .vcard img.photo { margin-top: 6px; margin-bottom: 25px; margin-left: auto; margin-right: auto; display: block; }
  .sidebar-right .bio-card .panel-body .vcard h4 { font-size: 13px; font-size: 0.8125rem; text-transform: uppercase; letter-spacing: 0.05em; font-weight: bold; margin-left: 35px; }
  .sidebar-right .bio-card .panel-body .vcard .title.org { margin-left: 35px; margin-right: 35px; padding-left: 0; margin-top: 15px; margin-bottom: 25px; }
  .sidebar-right .bio-card .panel-body .vcard .title.org p { font-size: 12px; font-size: 0.75rem; line-height: 14px; line-height: 0.875rem; font-style: italic; margin-bottom: 7px; }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items { margin: 0; border-top: 1px solid #FFF; height: 40px; }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li { float: left; height: 40px; border-left: 1px solid #FFF; width: 33.33%; text-align: center; margin-bottom: 0; }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li:first-child { border-left-width: 0 !important; }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li a { display: inline-block; margin-left: auto; margin-right: auto; height: 40px; font-size: 12px; font-size: 0.75rem; line-height: 40px; line-height: 2.5rem; letter-spacing: 0.05em; padding-left: 25px; text-decoration: none; background-position: 10% 50%; background-repeat: no-repeat !important; }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li a:hover { text-decoration: underline; }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li .email-bio a { background-image: url(../../images/icons/email.gif); }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li .cv a { background-image: url(../../images/icons/filetype/pdf.gif); }
  .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li .vcard-file a { background-image: url(../../images/icons/calendar-icon-t.png); } }
/*----- "M" breakpoint -------*/
@media screen and (min-width: 768px) and (max-width: 991px) { .sidebar-right .bio-card .panel-body .vcard img.photo { margin-top: 2px !important; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) { .sidebar-right { margin-top: 45px; }
  .sidebar-right .bio-card img.photo { margin-top: 15px; } }
