/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
/* 2013-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Palette */
/* Custom colors */
/* _typography.scss */
body, div, p, li { color: #000; color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.3125em; }

a { color: #4d688c; }

em { font-style: italic; }

@font-face { font-family: 'lucida sans bold'; src: url("fonts/lucida/LucidaSansBold.ttf"); font-weight: normal; font-style: normal; }
.uc { text-transform: uppercase; letter-spacing: 0.1em !important; }

body.bio #summary #jumplinks { width: 30% !important; }
body.bio #summary #jumplinks ul { margin-right: 35px; }
body.bio #summary #jumplinks ul li { font-size: 13px; font-size: 0.8125rem; line-height: 22px; line-height: 1.375rem; padding-left: 0 !important; background-image: none !important; text-align: right; }
body.bio #summary #education { width: 70% !important; }
body.bio #summary #education ul { margin-top: 10px; }
body.bio #summary #education ul li { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; margin-bottom: 5px; padding-left: 0 !important; background-image: none !important; }

#content-main p, #content-main li, #content-main ol, #content-main div, #content-main span { line-height: 24px !important; line-height: 1.5rem !important; }
#content-main p { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; }
#content-main p.intro { font-size: 18px; font-size: 1.125rem; line-height: 30px !important; line-height: 1.875rem !important; }
#content-main li, #content-main ol { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; }
#content-main .breadcrumb p { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; margin-bottom: 0; }
#content-main .breadcrumb p a { text-decoration: none; }
#content-main .breadcrumb p a:hover { text-decoration: underline; }
#content-main figure figcaption { text-align: right; font-size: 10.65px; font-size: 0.66563rem; text-transform: uppercase; }

/*----- Desktop breakpoint -------*/
@media screen and (min-width: 768px) { .top-panel { /*
&.left-panel {
	//text-align: right;
}
&.middle-panel {
	//text-align: center;
}
&.right-panel {
	//text-align: left;
}
*/ }
  .top-panel #content-main .narrow-col { color: #FFF; }
  .top-panel #content-main .narrow-col h2 { text-align: center !important; }
  .top-panel #content-main .narrow-col h3, .top-panel #content-main .narrow-col p { text-align: left !important; }
  .top-panel.left-panel h2, .top-panel.left-panel h2, .top-panel.left-panel h2 { text-align: center !important; } }
/* /_typography.scss */
/* CSS Document */
/* index css */
.content-main > div, .content-main > h1 { margin-left: 0; }

.right-panel .panel-body .narrow-col { float: left; }

.bottom-panel .narrow-col .btn-primary { color: #002855 !important; text-transform: uppercase; font-size: 18px; font-size: 1.125rem; text-decoration: none; }

@media screen and (max-width: 440px) { .content-main { /* Custom Styles for this breakpoint */ }
  .content-main h2 { text-align: center; } }
@media screen and (min-width: 768px) { /* Style adjustments for the partial-cover home wall component */
  .wall { height: 741px !important; }
  #middle-row h2 { font-size: 36px !important; font-size: 2.25rem !important; line-height: 25px; line-height: 1.5625rem; margin-top: 35px; margin-bottom: 25px; text-align: center; }
  #bottom-panel-row .narrow-col { width: 80%; }
  #bottom-panel-row .narrow-col h2 { text-align: center; }
  #bottom-panel-row .narrow-col p { color: #002855; }
  #bottom-panel-row .left-panel .narrow-col { margin-left: auto; }
  #bottom-panel-row .middle-panel .narrow-col { margin: 0 auto; }
  #bottom-panel-row .right-panel .narrow-col { margin: 0 auto; } }
.tab { background-color: #e5e5e5; height: 100px; margin-bottom: 10px; width: 100%; }
.tab img { float: left; }
.tab .tab-title { width: 100%; height: 100%; padding-right: 10%; padding-left: 115px; position: relative; }
.tab .tab-title span { text-align: left; position: absolute; top: 50%; transform: translate(0, -50%); margin-left: auto; margin-right: 10%; color: #002855; }

@media screen and (min-width: 1310px) { .content-main h2 { text-align: center; }
  /* Custom Styles for this breakpoint */ }
