@font-face { font-family: 'lsr'; src: url("fonts/lucida/LucidaSansRegular.ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'lsb'; src: url("fonts/lucida/LucidaSansBold.ttf"); font-weight: normal; font-style: normal; }

/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
/* 2014-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
/* _typography.scss */
body, div, p, li, a, input, textarea, select { color: #000; color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.3125em; }

a { color: #4d688c; }

em { font-style: italic; }

h1 { color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.3125em; }

h4.source { font-size: 12px !important; font-size: 0.75rem !important; text-transform: uppercase; }

blockquote { color: #008eaa; margin-top: 35px; margin-left: 70px; margin-right: 70px; padding: 0 0 0 55px; background-image: url(../images/icons/t-T9-open-quote.png); background-position: top left; background-repeat: no-repeat; }
blockquote .bq-content { display: block; padding: 20px; background-color: #e5f3f6; }
blockquote p { color: #008eaa; font-style: italic; }
blockquote p.byline { margin-bottom: 0; font-style: normal; font-size: 13px !important; font-size: 0.8125rem !important; }
blockquote .close-quote { display: block; padding: 0 55px 0 0; background-image: url(../images/icons/t-T9-closed-quote.png); background-repeat: no-repeat; background-position: bottom right; }

button { font-size: 14px; font-size: 0.875rem; line-height: 24px; line-height: 1.5rem; }

.btn-txt { display: none; }

.nobr { white-space: nowrap; }

p { margin-bottom: 15px; }

.portlet li, .portlet p, .portlet h4 { font-size: 13px; font-size: 0.8125rem; line-height: 18px; line-height: 1.125rem; }
.portlet .portlet-items li { font-size: 10px; font-size: 0.625rem; }
.portlet .portlet-items li a { font-size: 13px; font-size: 0.8125rem; line-height: 17px; line-height: 1.0625rem; text-decoration: none; }
.portlet .portlet-items li a:hover { text-decoration: underline; }
.portlet .portlet-items li .event-date { font-size: 13px; font-size: 0.8125rem; }

.panel-body h2 { font-size: 18px; font-size: 1.125rem; letter-spacing: .03em; }
.panel-body h3 { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; letter-spacing: .01em; font-weight: normal; margin-top: 0; }

#content #top-panel-row .panel-body .narrow-col p, #content #top-panel-row .panel-body .narrow-col li, #content #top-panel-row .panel-body .narrow-col a { font-size: 15px; font-size: 0.9375rem; line-height: 18px !important; line-height: 1.125rem !important; }
#content #top-panel-row .middle-panel h3, #content #top-panel-row .right-panel h3 { text-transform: uppercase; }
#content #top-panel-row .middle-panel ul, #content #top-panel-row .right-panel ul { margin-bottom: 0; }

#nested-left { padding-left: 0; }
#nested-left h3, #nested-left h4, #nested-left p { font-size: 13px !important; font-size: 0.8125rem !important; line-height: 18px !important; line-height: 1.125rem !important; }

.col-lg-4 h2 { font-weight: bold !important; font-size: 30px !important; font-size: 1.875rem !important; margin-bottom: 15px; }

.about-bio h3 { font-weight: bold; }

.pager .pager-string { font-size: 13px; font-size: 0.8125rem; line-height: 25px; line-height: 1.5625rem; }

.sidebar a { font-size: 13px; font-size: 0.8125rem; }
.sidebar h3 a { text-transform: uppercase; font-size: 13px; font-size: 0.8125rem; line-height: 18px !important; line-height: 1.125rem !important; letter-spacing: 0.1em; padding-bottom: 4px; }
.sidebar li { font-size: 13px !important; font-size: 0.8125rem !important; line-height: 15px !important; line-height: 0.9375rem !important; }
.sidebar .vcard { font-size: 13px; font-size: 0.8125rem; line-height: 18px; line-height: 1.125rem; }
.sidebar .vcard .adr, .sidebar .vcard #email-phone { line-height: 18px; line-height: 1.125rem; }

#content .vcard .adr, #content .vcard #email-phone, #am-content .vcard .adr, #am-content .vcard #email-phone { line-height: 18px !important; line-height: 1.125rem !important; }
#content .sidebar .panel-body li, #am-content .sidebar .panel-body li { font-size: 13px !important; font-size: 0.8125rem !important; line-height: 15px !important; line-height: 0.9375rem !important; }

figure figcaption { text-align: right; font-size: 11px; font-size: 0.6875rem; line-height: 15px; line-height: 0.9375rem; color: #000; text-transform: uppercase; padding-top: 6px; }
figure figcaption em { text-transform: none !important; }

#content form input, #content form select, #content form textarea { font-size: 13px; font-size: 0.8125rem; line-height: 18px; line-height: 1.125rem; }
#content form .req-txt { font-size: 10px; font-size: 0.625rem; }

.corner-box h2, .corner-box h3, .corner-box p, .corner-box li, .corner-box a { color: #FFF; }
.corner-box .box-content h2 { padding: 15px 0 10px 0 !important; font-size: 24px; font-size: 1.5rem; letter-spacing: 0.075em; }
.corner-box .box-content h3 { padding: 7px 0 !important; font-size: 18px; font-size: 1.125rem; font-weight: normal !important; }

#content .box-content p, #am-content .box-content p { font-size: 13px !important; font-size: 0.8125rem !important; line-height: 20px !important; line-height: 1.25rem !important; }

.sidebar-info h4 { font-weight: bold; font-size: 16px; font-size: 1rem; }

.uc { text-transform: uppercase; letter-spacing: 0.1em !important; }

.content-title { padding-bottom: 30px; font-size: 36px; font-size: 2.25rem; line-height: 43px; line-height: 2.6875rem; letter-spacing: 0.01em; margin-top: 0 !important; }

#content h2, #content h2 a, #am-content h2, #am-content h2 a { font-size: 24px !important; font-size: 1.5rem !important; font-weight: normal; padding-top: 15px; padding-bottom: 15px; }
#content h3, #am-content h3 { font-size: 15px; font-size: 0.9375rem; line-height: 25px; line-height: 1.5625rem; font-weight: bold; padding-top: 6px; padding-bottom: 6px; }
#content h2 + ul, #am-content h2 + ul { padding: 0; margin: 0; }
#content h3 + ul, #am-content h3 + ul { padding: 0; margin: 0; }
#content #thumb-section h3, #am-content #thumb-section h3 { font-weight: normal !important; }
#content #thumb-section .panel-group section .readmore, #am-content #thumb-section .panel-group section .readmore { font-size: 15px !important; font-size: 0.9375rem !important; }
#content .narrow-col h2, #content .narrow-col h3, #am-content .narrow-col h2, #am-content .narrow-col h3 { padding-bottom: 0; }

#nested-left .read-more { font-size: 12px !important; font-size: 0.75rem !important; }

body.bio #summary #jumplinks { width: 30% !important; }
body.bio #summary #jumplinks ul { margin-right: 35px; }
body.bio #summary #jumplinks ul li { font-size: 13px; font-size: 0.8125rem; line-height: 22px; line-height: 1.375rem; padding-left: 0 !important; background-image: none !important; text-align: right; }
body.bio #summary #education { width: 70% !important; }
body.bio #summary #education ul { margin-top: 10px; }
body.bio #summary #education ul li { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; margin-bottom: 5px; padding-left: 0 !important; background-image: none !important; }

#cm-content p.intro { margin-bottom: 45px; }

#content p, #content li, #content ol, #content div, #am-content p, #am-content li, #am-content ol, #am-content div { line-height: 24px !important; line-height: 1.5rem !important; }
#content p, #am-content p { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; }
#content p.intro, #am-content p.intro { font-size: 18px; font-size: 1.125rem; line-height: 30px !important; line-height: 1.875rem !important; }
#content li, #content ol, #am-content li, #am-content ol { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; }
#content .breadcrumb p, #am-content .breadcrumb p { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; margin-bottom: 0; }
#content .breadcrumb p a, #am-content .breadcrumb p a { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; text-decoration: none; }
#content .breadcrumb p a:hover, #am-content .breadcrumb p a:hover { text-decoration: underline; }

/*----- Mobile breakpoint --------*/
@media screen and (max-width: 767px) { body.bio .content-title { display: none; }
  body.bio .bio-card h4.fn { padding-bottom: 30px; font-size: 23px; font-size: 1.4375rem; line-height: 25px; line-height: 1.5625rem; letter-spacing: 0.01em; margin-top: 4px !important; }
  .sidebar h3 { font-size: 13px; font-size: 0.8125rem; line-height: 40px; line-height: 2.5rem; letter-spacing: .1em; }
  #content h1, #am-content h1 { padding-bottom: 20px; }
  #content .breadcrumb p, #am-content .breadcrumb p { margin-bottom: 15px; }
  #content .breadcrumb p a, #am-content .breadcrumb p a { -webkit-text-size-adjust: none; font-size: 10px !important; font-size: 0.625rem !important; line-height: 13px !important; line-height: 0.8125rem !important; }
  #content .panel-group .row.panel .panel-title, #am-content .panel-group .row.panel .panel-title { min-height: 40px; }
  #content .panel-group .row.panel .panel-title a, #am-content .panel-group .row.panel .panel-title a { font-size: 12px !important; font-size: 0.75rem !important; line-height: 25px !important; line-height: 1.5625rem !important; }
  figure figcaption { padding-right: 15px; padding-left: 15px; -webkit-text-size-adjust: none; }
  .panel-group #middle-row h2 { font-size: 18px !important; font-size: 1.125rem !important; line-height: 24px; line-height: 1.5rem; }
  #thumb-section .panel-group .panel-heading .panel-title a { font-size: 18px !important; font-size: 1.125rem !important; line-height: 45px !important; line-height: 2.8125rem !important; } }
/*
body.res-lab {
	#content-row div {
		> h2 {
			@include font_size(24px,!important);
			@include line_height(28px);
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}*/
#thumb-section .panel-group .panel-heading .panel-title a { font-size: 24px; font-size: 1.5rem; line-height: 70px; line-height: 4.375rem; }
#thumb-section section h4 { font-size: 20px !important; font-size: 1.25rem !important; margin-bottom: 25px; }

#content ul li, #am-content ul li, #cm-content ul li { font-size: 15px !important; font-size: 0.9375rem !important; line-height: 24px; line-height: 1.5rem; }

body.home #bottom-panel-row h2 { font-weight: normal !important; }

/*----- tablet breakpoint -------*/
@media screen and (min-width: 768px) { .top-panel { /*
&.left-panel {
	//text-align: right;
}
&.middle-panel {
	//text-align: center;
}
&.right-panel {
	//text-align: left;
}
*/ }
  .top-panel #content .narrow-col, .top-panel #am-content .narrow-col, .top-panel #cm-content .narrow-col { color: #FFF; }
  .top-panel #content .narrow-col h2, .top-panel #am-content .narrow-col h2, .top-panel #cm-content .narrow-col h2 { text-align: center !important; }
  .top-panel #content .narrow-col h3, .top-panel #content .narrow-col p, .top-panel #am-content .narrow-col h3, .top-panel #am-content .narrow-col p, .top-panel #cm-content .narrow-col h3, .top-panel #cm-content .narrow-col p { text-align: left !important; }
  .top-panel.left-panel h2, .top-panel.left-panel h2, .top-panel.left-panel h2 { text-align: center !important; }
  .container .sidebar .panel-heading .panel-title { padding-top: 6px !important; }
  .narrow-col h2 { padding: 15px 0 10px 0 !important; font-size: 24px; font-size: 1.5rem; letter-spacing: 0.075em; }
  .narrow-col h3 { padding: 7px 0 !important; font-size: 18px; font-size: 1.125rem; font-weight: normal !important; }
  .narrow-col p { font-size: 15px !important; font-size: 0.9375rem !important; line-height: 20px !important; line-height: 1.25rem !important; } }
/*----- Tablet breakpoint --------*/
@media screen and (max-width: 992px) { body.home #content .narrow-col h2, body.home #am-content .narrow-col h2 { font-size: 17px; font-size: 1.0625rem; }
  body.home #content #top-panel-row .narrow-col .bcontroller .btn-primary, body.home #am-content #top-panel-row .narrow-col .bcontroller .btn-primary { font-size: 13px; font-size: 0.8125rem; line-height: 18px !important; line-height: 1.125rem !important; }
  body.home #content #bottom-panel-row h2, body.home #am-content #bottom-panel-row h2 { font-size: 18px; font-size: 1.125rem; }
  #content .content-title, #am-content .content-title { font-size: 26px; font-size: 1.625rem; line-height: 28px; line-height: 1.75rem; }
  .corner-box .box-content h2 { padding: 10px 0; font-size: 16px; font-size: 1rem; letter-spacing: 0.075em; }
  .corner-box .box-content h3 { padding: 0; font-size: 11px; font-size: 0.6875rem; }
  .corner-box .box-content p { font-size: 11px; font-size: 0.6875rem; line-height: 15px; line-height: 0.9375rem; }
  #thumb-section .panel-group .panel-heading .panel-title a { font-size: 16px !important; font-size: 1rem !important; line-height: 40px !important; line-height: 2.5rem !important; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) { body.home #content #top-panel-row .narrow-col .bcontroller .btn-primary, body.home #am-content #top-panel-row .narrow-col .bcontroller .btn-primary { font-size: 14px; font-size: 0.875rem; line-height: 30px !important; line-height: 1.875rem !important; } }
/*----- Tablet breakpoint -------*/
@media screen and (min-width: 768px) and (max-width: 991px) { #content .narrow-col h2, #am-content .narrow-col h2 { font-size: 17px !important; font-size: 1.0625rem !important; line-height: 24px !important; line-height: 1.5rem !important; } }
@media screen and (max-width: 1310px) { body.home #content .narrow-col p, body.home #content .narrow-col li, body.home #content .narrow-col a, body.home #am-content .narrow-col p, body.home #am-content .narrow-col li, body.home #am-content .narrow-col a { font-size: 13px !important; font-size: 0.8125rem !important; line-height: 15px !important; line-height: 0.9375rem !important; font-weight: normal !important; }
  body.home #content .narrow-col h3, body.home #am-content .narrow-col h3 { font-size: 18px !important; font-size: 1.125rem !important; line-height: 22px !important; line-height: 1.375rem !important; font-weight: normal !important; } }
/* /_typography.scss */
#content-core button { width: auto; }
#content-core button a { padding: 5px; text-decoration: none; color: #000; font-size: 14px; font-size: 0.875rem; }
#content-core ul#pubs { margin: 5px 0 15px 2px; }
#content-core ul#pubs li { margin-top: 10px; }

/*----- Mobile breakpoint --------*/
i { font-style: italic !important; }

@media screen and (max-width: 767px) { .email a { background-position: 45% 70% !important; } }
/*----- "M" breakpoint -------*/
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) { .sidebar-right { margin-top: 116px; } }
