src/dssweb.theme.magic/dssweb/theme/magic/static/assets/styles.css
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/sub-org.css
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/global.css
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/components
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/components/*.css
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/sections
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/sections/*.css
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/vendor/
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/vendor/bootstrap.css
src/dssweb.theme.magic/dssweb/theme/magic/static/assets/vendor/jquery.cf.happybox.css
.sass-cache
*.sass-cache
*.pyc
*.swp
.mr.developer.cfg
.installed.cfg
parts/
eggs/
fake-eggs/
var/
develop-eggs/
bin/
downloads/*
extends/*
*.sublime*
src/Products.FacultyStaffDirectory
src/collective.jqxgrid_pages
src/collective.portlet.contentleadimage
src/Products.Relations
src/Products.Clouseau
src/webcouturier.dropdownmenu
src/collective.navrootacquisition
src/collective.tinyaccordion
src/collective.contentleadimage
src/alm.solrindex
src/z3c.recipe.usercrontab
src/collective.newrelic
src/anz.casclient
