/* <dtml-with base_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */
.breadcrumb { margin-top: 35px; }
.breadcrumb p a { font-size: 10px; font-size: 0.625rem; line-height: 13px; line-height: 0.8125rem; }

.breadcrumb, .content-title { z-index: -1; }


table.fc-header td {
    position:relative;
}

#datePicker {
    position:absolute;
    left:0;
    z-index:100;
    top:0;
}

#sfc-ical-export {
    float: right;
}

#calendar div.fc-content {
    z-index:0;
}

.fc-content .fc-corner-bottom a {
    border-bottom-width:0;
    margin-bottom:0;
}

.fc-content .fc-corner-top a {
    border-top-width:0;
    margin-top:0;
}

.fc-content .fc-corner-right a {
    border-right-width:0;
    margin-right:0;
}
.fc-content .fc-corner-left a {
    border-left-width:0;
    margin-left:0;
}

.fc-event-vert {
    border-width:1px;
}

.fc-event-hori a {
    color:#FFFFFF;
}

#calendar div.contentmenu_selected a {
    background-color: #FFF !important;
    color: #000;
}

#calendar .fc-content table {
    padding:0px;
    margin:0px;
}

#calendar .fc-header-center table {
    margin:auto;
}

#calendar div.contentmenu_selected,
#calendar div.contentmenu_selected .fc-event-time {
    background-color:#fff !important;
}

#calendar div.contentmenu_selected {
    border:1px solid #ffF  !important;
}

#calendar .contentmenu_selected {
    border: none !important;
    background-color: transparent !important;
}

#content #calendar div.contentmenu_selected a:hover {
    color: #000000 !important;
}

#calendar div.event_cutted,
#calendar div.event_copied {
    opacity:0.7;
}

.fc-agenda .fc-event-time, .fc-event-bg {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.fc-event, .fc-event a {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content #calendar .fc-content a:link {
    border:none;
    color:#000000;
}

#content #calendar .fc-content a:hover {
    color:#FFFFFF !important;
}

#calendar span.fc-event-time {
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

#calendar  .ui-draggable-dragging {
    -moz-box-shadow:4px 4px 5px #666666;
    box-shadow:4px 4px 5px #666666;
    -webkit-box-shadow:4px 4px 5px #666666;
}

#calendar .fc-event:hover,
#calendar .fc-event.contentmenu_selected {
    -moz-box-shadow:2px 2px 3px #AAAAAA;
    box-shadow:2px 2px 3px #AAAAAA;
    -webkit-box-shadow:2px 2px 3px #AAAAAA;
}

.fc-event-vert span.fc-event-bg {
    opacity:0.5;
}

.ui-resizable-s {
    color: #333333 !important;
}

.fc-event .fc-event-inner{
    border-radius: 4px;
    border-width: 1px;
}

#SFQuery {
    overflow:hidden;
	padding-top:8px;
}

#SFQuery .SFQuery_input {
    float:left;
    margin:0 1% 10px 0;
}

#event_edit_container #content {
    margin:0px;
}

#event_edit_container #visual-portal-wrapper {
    width:100%;
    margin:0px;
    padding:0px;
    min-width:0px;
    max-width:100%;
}

#event_edit_container #portal-column-content {
    float:none;
    left:0px;
    width:100%;
    margin:0px;
    padding:0px;
}

#event_edit_container #content h1 {
    display:none;
}

#event_edit_container .eventDetails {
    float:none;
    margin:0px;
}
.fc-event-title {
	font-size: .9rem;
}
#content-row div > div.fc-event-title {
    line-height: 1rem !important;}

/* COLOR INDEXES */

#calendar div.fc-event.colorIndex-undefined {
    border:1px solid #AAAAAA;
}
#calendar div.fc-event.colorIndex-undefined a {
    background-color: #AAAAAA;
}
label.colorIndex-undefined {
    color: #AAAAAA;
}

a.fc-event.colorIndex-0.Subject.colorIndex-0{
    background-color: $evergreen; 
	border:1px solid $evergreen;
	color:#fff;
}
a.fc-event.fc-event-vert.fc-event-start.fc-event-end.contextualContentMenuEnabled.state-published.type-Event.colorIndex-0.Subject > div.fc-event-inner > div.fc-event-time {
	color:#fff !important;
}
a.fc-event.fc-event-vert.fc-event-start.fc-event-end.contextualContentMenuEnabled.state-published.type-Event.colorIndex-0.Subject > div.fc-event-inner > div.fc-event-title {
	color:#fff !important;
}
label.colorIndex-0 {
    color: $evergreen;
}

#calendar a.colorIndex-1 {
    border:1px solid $cal_popp;
}

a.fc-event.colorIndex-1.Subject.colorIndex-1 {
    background-color:$cal_popp;
    border-color: $cal_popp;
}
label.colorIndex-1 {
    color: $cal_popp;
}

#calendar a.colorIndex-2 {
    border:1px solid $sun_grass;
}

a.fc-event.colorIndex-2.Subject.colorIndex-2 {
    background-color: $sun_grass;
    border-color: $sun_grass;
}
label.colorIndex-2 {
    color: $sun_grass;
}

#calendar a.colorIndex-3 {
    border:1px solid $wine_grape;
}

a.fc-event.colorIndex-3.Subject.colorIndex-3 {
    background-color: $wine_grape;
    border-color: $wine_grape;
	color:#fff !important;
} a.fc-event.fc-event-vert.fc-event-start.fc-event-end.contextualContentMenuEnabled.state-published.type-Event.colorIndex-3.Subject > div.fc-event-inner > div.fc-event-time {
	color:#fff !important;
}
a.fc-event.fc-event-vert.fc-event-start.fc-event-end.contextualContentMenuEnabled.state-published.type-Event.colorIndex-3.Subject > div.fc-event-inner > div.fc-event-title {
	color:#fff !important;
}

label.colorIndex-3 {
    color: $wine_grape;
}

#calendar a.colorIndex-4 {
    border:1px solid $west_redbud;
}

a.fc-event.colorIndex-4.Subject.colorIndex-4 {
    background-color: $west_redbud;
    border-color: $west_redbud;
}
label.colorIndex-4 {
    color: $west_redbud;
}
a.fc-event.fc-event-vert.fc-event-start.fc-event-end.contextualContentMenuEnabled.state-published.type-Event.colorIndex-4.Subject > div.fc-event-inner > div.fc-event-time {
	color:#fff !important;
}
a.fc-event.fc-event-vert.fc-event-start.fc-event-end.contextualContentMenuEnabled.state-published.type-Event.colorIndex-4.Subject > div.fc-event-inner > div.fc-event-title {
	color:#fff !important;
}

#calendar a.colorIndex-5 {
    border:1px solid $gold_lup;
}

a.fc-event.colorIndex-5.Subject.colorIndex-5 {
    background-color: $gold_lup;
    border-color: $gold_lup;
}
label.colorIndex-5 {
    color: $gold_lup;
}

#calendar a.colorIndex-6 {
    border:1px solid $sky_blue;
}

a.fc-event.colorIndex-6.Subject.colorIndex-6 {
    background-color: $sky_blue;
    border-color: $sky_blue;
}
label.colorIndex-6 {
    color: $sky_blue;
}

#calendar a.colorIndex-7 {
    border:1px solid $rec_blue;
}

a.fc-event.colorIndex-7.Subject.colorIndex-7 {
    background-color: $rec_blue;
    border-color: $rec_blue;
}
label.colorIndex-7 {
    color: $rec_blue;
}

#calendar a.colorIndex-8 {
    border:1px solid $cork_oak;
}

#calendar a.colorIndex-8 .fc-event-skin {
    background-color: $cork_oak;
    border-color: $cork_oak;
}
label.colorIndex-8 {
    color: $cork_oak;
}

#calendar a.colorIndex-9 {
    border:1px solid #c7d42a;
}

#calendar a.colorIndex-9 .fc-event-skin {
    background-color: #c7d42a;
    border-color: #c7d42a;
}
label.colorIndex-9 {
    color: #c7d42a;
}

#calendar a.colorIndex-10 {
    border:1px solid #cd6031;
}

#calendar a.colorIndex-10 .fc-event-skin {
    background-color: #cd6031;
    border-color: #cd6031;
}
label.colorIndex-10 {
    color: #cd6031;
}

/*COLORS FOR STATES*/

#calendar.query-review_state div.fc-event.state-private {
    border:1px solid Red;
}
#calendar.query-review_state div.fc-event.state-private a {
    background-color: Red;
}
label.state-private {
    color: Red;
}

.state-private .fc-event-head .fc-event-time,
.state-private .fc-event-inner .fc-event-time{
    background: url("lock_icon.gif") no-repeat scroll left center transparent;
    padding-left: 15px;
}

#calendar.query-review_state div.fc-event.state-visible {
    border:1px solid #74AE0B;
}
#calendar.query-review_state div.fc-event.state-visible a {
    background-color: #74AE0B;
}
label.state-visible {
    color: #74AE0B;
}

#calendar.query-review_state div.fc-event.state-published {
    border:1px solid ;
}
#calendar.query-review_state div.fc-event.state-published a {
	
}
label.state-published {
 
}

#calendar.query-review_state div.fc-event.state-pending {
    border:1px solid #FFA500;
}
#calendar.query-review_state div.fc-event.state-pending a {
    background-color: #FFA500;
}
label.state-pending {
    color: #FFA500;
}

#calendar.query-review_state div.fc-event.state-expired {
    border:1px solid Red;
}
#calendar.query-review_state div.fc-event.state-expired a {
    background-color: Red;
}
label.state-expired {
    color: Red;
}

#calendar.query-review_state div.fc-event.syndicated {
    border:1px solid #008000;
}
#calendar.query-review_state div.fc-event.syndicated a {
    background-color: #008000;
}
label.syndicated {
    color: #008000;
}

/* </dtml-with> */
/* @end */
