/*Plone Styles */
@charset "utf-8";
@import "variables";


/* override wallpaper height without breaking cakefarm theme  */
.wall .wallpaper .notsobig {
	height:540px !important;
}


.hiddenStructure {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 0.1em;
    margin: -0.1em 0 0 -0.1em;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.submenu_description {
    display: none;
}

/*--image tags --*/
.image-left {
   float: left;
   margin: 0.5em 1em 0.5em 0;
}
.image-right {
   float: right;
   margin: 0.5em;
}
.image-inline {
   float: none;
}

// pending activation
#uti-share {
    // display: none; // 2014-10-13 RAK: Need to show share button for review
}

/*top bar override */
.top-bar .top-bar-section .left > li > a {
  height: 80px;
  line-height: 80px !important;
   padding: 0 0;
}

a#portal-logo {  //overrides theme wdth setting that was causing menu to break
	width:100%;
}
#portal-logo {
	    display: inline-block;
	    margin: 0 0;
	    padding-top: 0px;
}

#portal-searchbox {
	float: none;
	text-align: left;
	clear: right;
	margin: 0 0;
	font-size: 80%;
	z-index:20;
}
#searchGadget {
	width:12em;
}

#LSResult {
	position: absolute;
	right: 0;
	background: rgba(255,0,0,0.1);
	margin: 84px 0 0 -7em;
	z-index: 20;
}
#livesearchLegend {
background-color: $ucd_bright_gold_70;
padding: 0.3em;
}
/*----- Breadcrumbs ----- */
#portal-breadcrumbs > span > a, span#breadcrumbs-current {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin-bottom: 0px;
}
/*-----anything to get the dropdown menu working correctly ----*/
a.hasDropDown {
    background-image:url('&dtml-portal_url;/arrowRight.gif');
    background-position:14em 50%;
    background-repeat:no-repeat;
}
/*----------Email Links---------*/
.email-link {
     display: inline-block;
	text-transform:uppercase;
     height: 16px;
     padding-left: 22px;
     background: url(../images/icons/email.gif) 0 70% no-repeat;
     text-decoration: none; }

.email-link a:hover{
		text-decoration: underline;
	}




/*---- Person tile -----*/
span.personName {
position: relative;
padding-left: 20px;
display: flex;
margin-right: 0;
padding-top: 5px;
padding-bottom: 10px;
}
.labs {
padding-top: 5px;
}
/*---- Person portlet ---*/
.adr {
	padding-left:35px;
}

@media screen {
/*------News Happy Box ---------*/
#content a:visited, dl.portlet a:visited {
	border-bottom:none;
}
#content a:link, dl.portlet a:link {
		border-bottom:none;

}
.content-wrap dd.portletItem {
	background-color:transparent;
}
.content-wrap dd.portletItem a.tile {
	color:white !important;

}
.content-wrap > dd > a > img.portletItemDetails {
	margin-top:-3px;
}
.content-wrap dd.portletItem a:hover {
	text-decoration:underline;

}

/*----- About Happy Box ---------*/
dl.portlet-static-quick-facts dt {
	padding: 0.42em 1em;
	background: transparent;
	line-height: normal;
    font-size: 120%;
}
/*----- homepage title ------*/
.homepage-title {
	font-size: 36px !important;
	font-size: 2.25rem !important;
	line-height: 1.5625rem;
	margin-top: 35px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: normal;
	}
/*---------Homepage middle ---------*/
/*-------left column ------------*/

#left-front-column {

	> dl {
		background-color:transparent;
	}


	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		padding-left: 10px;
		height: 100px;
		margin-bottom: 10px;
		padding-top: 12px;
		width: 100%;
	 }

	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
	}
	 > dl > dt {
	background:transparent;
    }
	> dl > dt > a > span {
		background:transparent;
		color:$ucd_black_80;
		@include font_size(24px, !important);
		font-weight:normal;
		/*padding-top:15px; */
		padding-bottom:15px;
		text-align:center;
		border-bottom: none;
		text-transform:none;
		letter-spacing: 0.1em;
}



	dl.portlet dt.portletHeader a, a:visited {
	background:transparent;
	color:$ucd_black_80;
	@include font_size(24px, !important);
	font-weight:normal;
	/*padding-top:15px; */
	padding-bottom:15px;
	text-align:center;
	border-bottom: none;

}

	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
		a.tile {
			color:$ucd_blue_100 !important;
	          border-bottom: none;
			position:relative;


		}


}
#middle-front-column {

	> dl {
		background-color:transparent;
	}

	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		height: 100px;
		margin-bottom: 10px;
		width: 100%;
		padding-top: 12px;
	 }

	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
	}
	 > dl > dt {
		background:transparent;
		font-size: 24px !important;
		font-size: 1.5rem !important;
		font-weight: normal;
		/*padding-top: 15px; */
		text-align:center;

	}
	dl.portlet dt.portletHeader a, a:visited {
		background:transparent;
		color:$ucd_black_80;
		@include font_size(24px, !important);
		font-weight:normal;
		padding-top:15px;
		/* padding-bottom:15px; */
		text-align:center;
		border-bottom: none;
	}
	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
	a.tile {
		color:$ucd_blue_100 !important;
          border-bottom: none;
	}
	> dl > dt > a > span {
		background:transparent;
		color:$ucd_black_80;
		@include font_size(24px, !important);
		font-weight:normal;
		/* padding-top:15px; */
		padding-bottom:15px;
		text-align:center;
		border-bottom: none;
		text-transform:none;
		letter-spacing: 0.1em;
	}


}

#right-front-column {

		> dl {
			background-color:transparent;
		}
		dd.portletItem {
			background-color: transparent;
			cursor: pointer;
			height: 100px;
			margin-bottom: 10px;
			width: 100%;
			padding-top: 12px;
		 }
		img.portletItemDetails.image-left {
			margin-top: -17px;
			margin-left: 0px;
			width:100px; //override for index.css
		}
		 > dl > dt {
			background:transparent;
			font-size: 24px !important;
			font-size: 1.5rem !important;
			font-weight: normal;
			padding-bottom: 0;
			text-align:center;

		}
		dt.portletHeader span {
			text-transform:none;
			font-size:15px;
			letter-spacing:0.1em;
			color:$ucd_black_80;
			padding-top:0;
		}
		dl.portlet dt.portletHeader a, a:visited {
			background:transparent;
			color:$ucd_black_80;
			@include font_size(24px, !important);
			font-weight:normal;
	      /*		padding-top:15px; */
 			padding-bottom:15px;
			text-align:center;
			border-bottom: none;
		}
		dl.portlet a, a:visited {
			background:transparent;
			color:$ucd_blue_100;
		}
		dl.portlet a:hover {
			text-decoration:underline;
		}
		a.tile {
			color:$ucd_blue_100 !important;
	          border-bottom: none;
		}
		> dl > dt > a > span {
			background:transparent;
			color:$ucd_black_80;
			@include font_size(24px, !important);
			font-weight:normal;
			/* padding-top:0px; */
			padding-bottom:0px;
			text-align:center;
			border-bottom: none;
			text-transform:none;
			letter-spacing: 0.1em;
		}



	}

dl.portlet a:link {
  color: $ucd_blue_100;
  border-bottom: none;
}
dl.portlet a:hover {
color: $ucd_blue_100;
text-decoration:underline;
border-bottom: none;
}

dl.portlet a:visited {
border-bottom:transparent;
}
/*---right-side-portlets----*/
dl.portlet dt {
	display: block;
	background-color:$rec_blue;
	/*padding-top:.75em;
	padding-bottom:.75em; */
	text-transform: uppercase;
	font-size: 0.8125rem;
	line-height: 1.125rem !important;
	letter-spacing: 0.1em;
	/* padding-bottom: 7px;*/
	padding-left:35px;

	a, a:link {
		color:white;
		width:100%;
		text-decoration:none;
	}
}
dt.portletHeader span {
    color: white;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1.125rem !important;
    letter-spacing: 0.2em;
    padding-bottom: 4px;
    padding-right: 30px;
    top: 2px;
	display:block;
	padding-left:10px;
}
.portletItemDetails {
	font-size: 85%;
	padding-top: .5em;
    line-height: 1.5em;
    margin-left: 1em;
    display: block;
}
dd.portletFooter {
	text-align: right;
	clear:both;
	padding-top:10px;
	padding-bottom:10px;
	}


dd.portletItem {
	padding-top:10px;
	padding-bottom:20px;
	background-color:#f2f2f2;
	padding-right: 20px;
	clear:both;
}

.portletItemDetails.image-left {
	margin-top:-5px;
	margin-left:0;
}
.sidebar-1, .sidebar-2 {
	margin-top: 73px;
}
.sidebar-1 {
	padding-left:0 !important;
	padding-right:0 !important;
	//margin-top: 145px; // ad-hoc ... set position of sidebar in javascript
}
.portlet.adr-only {
margin-left: 0px;
}
.portlet.sm-contacts {
margin-left: 0;
margin-right: -15px;
}
/*------Contact Page Portlet ------*/


/*------ General Content ----------*/
#content .documentDescription {
	color: inherit;
	margin-left: 0;
	font: inherit;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 30px !important;
	line-height: 1.875rem !important;
	margin-bottom: 45px;
}
dl.portlet a:link {
  color: $ucd_blue_100;
  border-bottom: none;
}
#content-core dd {
margin: 0 0 1em 2em;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 1em;
margin-left: 2em;
}
#content-core dt {
font-weight: bold;
margin-bottom: 0;
margin-right: 0;
}
dd.portletItem > h4.org{
min-height: 28px;
background-color: #E5E9EF !important;
padding: 12px 35px !important;
letter-spacing: 0.05em;
font-weight: bold;
}
/*------------PFG Forms and Errors -----------*/
div.field.error {
background-color: $ucd_error;
border: 1px solid $wine_grape;
padding: 0.5em;
margin: 1em 0;
}
.field.error input[type="text"][name$=".title"],
.error input#title {
    width: 99%;
}
div.field > img {
padding-top: 5px;
padding-bottom: 5px;
float: right;
}

.fieldRequired {
    background: url(required.png) center left no-repeat;
    padding: 0 0 0 1em;
    color: White;
}
.fieldUploadFile {
    text-align: right;
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    color: #555;
    margin: 0 0 0.2em 0;
    display: block;
    font-weight: normal;
}
div.field.error {
    background-color: $ucd_error;
    border:  1px solid $wine_grape;
    padding: 0.5em;
    margin:  1em 0;
}
.error .fieldRequired {
    color: #d00;
}
div.error.warning {
    background-color: transparent;
    border: none;
    margin-top: 0;
    padding: 0;
}

div.error.warning input {
    border: 2px solid $wine_grape;
}
/*--Two Collumn Page View ----*/
p.figcaption {
float: right;
padding-right: 5px;
}
.uc.blue-head {
	color:#008EAA;
}
div#nested-left > div > p > a {
font-size: small;
}
/*------Collection Summary View with Images -------*/
tileItem.visualIEFloatFix {
padding-top: 3%;
}
.tileImage {
float: left;
padding-right: 10px;
padding-top:.6em;
}
p.tileBody {
display: flex;
}
p.tileFooter {
	float:right;
	padding-right:10%;
}

.visualClear {
	height:1em;
	clear:both;
}
/*---Portlets -----*/
.blockedPortlet .portletBlockedMessage {
    color: white;
    display: inline;
}
dl.portlet {
	/* margin-top: 50px; //I think we don't need this */
	background-color: $box_light_gray; /* TODO //not sure this is a good idea */
}
dl.portlet a {
	text-decoration:none;
}
dl.portlet a:hover {
color: $ucd_blue_100 !important;
text-decoration:underline;
border-bottom: none;
}

dl.portlet a:visited {
border-bottom:transparent;
}
.newsImageContainer { //fix for ISS Images
    float:left;
    padding-right:10px;
}
ul.navTree {
	margin-bottom:0;
}

.portletNavigationTree > dd {
padding-left: 35px;
}
/*--Basic rec pool Blue Portlet --*/



/*-------footer-------*/

#vcard p {
	font-size: 16px;
	line-height: 1.5em;
}

ul#footer-nav {

	padding-left: 5%;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;

	column-count: 3;
	column-gap: 10px;

	-moz-column-count:3;
	-moz-column-gap:10px;

}
#footer-nav a{
	color:white;
	white-space:nowrap;
	border-left:1px solid white;
	padding-left:5px;
	line-height:1.5em;
}
 /* Footer Navigation portlet */

#footer-middle {
	width:55%;
	padding-left: 5%;
	margin-left:20%;

	ul {padding-left: 5%;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;

	column-count: 3;
	column-gap: 10px;

	-moz-column-count:3;
	-moz-column-gap:10px;
     }

	ul.navTree li a {
    	border: none;
		font-size:95%;
    	display: block;
		color:white;
    	zoom: 1;
	}

	ul.navTree li {
		a:hover {
			color:white !important;

		}
		a:active {
			color:white !important;
		}
	}

	dl.portletNavigationTree dd.portletItem {
    	padding: 0;
		background-color: transparent;
	}

	ul.navTreeLevel0 > .navTreeItem {
    	padding: 0.25em 1em;
    	border-bottom: None;
    	line-height: 2em;
		color: white;
	}

	ul > li {
		border-left: 1px solid white;
		margin-bottom: 0;

	}

	ul.navTreeLevel1 .navTreeItem {
    	padding-left: 0.5em;
    	line-height: 2em;
	}
	.navTreeItem .state-published {
		color: white !important;

	}

	ul.navTree .navTreeCurrentItem {
		background-color:transparent;
		color:white;

	}
}
#portal-footer {
	clear:both;
}
#portal-footer > p {
color: white;
margin-right: 135px;
font-size: 0.75rem;
line-height: 1.4em;
}
/*--- Logo responsive magic ---*/
@media screen and (min-width:991px)
{
	#logosm {display:none;
	}
	h1#parent-fieldname-title {
	line-height:1.25; }
}

@media screen and (max-width: $screen-md-min){
	li.name > a#portal-logo {
		display: none;
	}
	#logosm h1 {
		color:white;
		text-transform: uppercase;
		font-size:150%;
	    margin-top:-30px;
		padding-left:5px;
}
    .homepage-title	{
    	font-size:1.8rem !important;
    }
}

@media screen and (max-width: $screen-md-min) {
    #portal-globalnav {
        display: none;
    }
}

@media screen and (min-width: $screen-md-min) {
    .top-bar-section {
       // display: none;
    }

    /* Plone globalnav */


}
/*Forms */
.formControls {
	padding-top:10px;
}
input.button {
height: 40px;
width: 120px;
background-color: #Daaa00;
text-align: center;
border: 0;
}
.formControls.form {
padding-top: 1em;
text-align: center;
}
.field {
	padding-top:4px;
}

/*#content form input {
font-size: 13px;
font-size: 0.8125rem;
line-height: 18px;
line-height: 1.125rem;
height: 35px;
text-align: left;
width:100%;
padding:4px 4px 4px 4px;
}
textarea#message{
	width:100%;
} */
/*Faculty Bio Page */
p.org {
	padding-bottom: 1.5em;
}
/* Hacky bit of css to get bio page address portlet to line up */
dt.dept-title {
margin-left: -32px;
margin-right: -12px;
}
.street-address {
	line-height:1.8em;
}
.org.follow {
line-height: 2em;
}
/*---------solgema full calendar -------------*/
/*table.fc-header td {
    position:relative;
}

#datePicker {
    position:absolute;
    left:0;
    z-index:100;
    top:0;
}

#sfc-ical-export {
    float: right;
}

#calendar div.fc-content {
    z-index:0;
}
#content #calendar .fc-content a:hover {
    color:#FFFFFF !important;
}


.fc-content .fc-corner-bottom a {
    border-bottom-width:0;
    margin-bottom:0;
}

.fc-content .fc-corner-top a {
    border-top-width:0;
    margin-top:0;
}

.fc-content .fc-corner-right a {
    border-right-width:0;
    margin-right:0;
}
.fc-content .fc-corner-left a {
    border-left-width:0;
    margin-left:0;
}

.fc-event-vert {
    border-width:1px;
}

.fc-event-hori a {
    color:#FFFFFF;
}

#calendar .fc-content table {
    padding:0px;
    margin:0px;
}

#calendar .fc-header-center table {
    margin:auto;
}*/

/*.fc-button {
    position: relative;
    background-color: $ucd_blue_10 !important;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer; }*/

/*.fc-button-today, .fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
	background-color: $ucd_blue_10;
	display: inline-block;
	width: 82px;
	margin-left: 2px;
	padding-top: 8px;
	padding-bottom: 15px;
	height: 40px !important;
	text-align: center;
} */
/*.fc-button .ui-icon {
    position: relative;
    float: left;
   margin-top: -50%;
} */

.fc-button.fc-button-prev.ui-state-default.ui-corner-left{
background-position: center center;
display: inline-block;
width: 40px;
padding-top: 8px;

margin-bottom: -14px;
height: 40px;
background: url("../images/icons/d-pager-prev.gif") no-repeat scroll 0px $ucd_blue_10;
}
.fc-button.fc-button-next.ui-state-default.ui-corner-right{
background-position: center center;
height: 40px;
width: 40px;
margin-left:2px;
margin-bottom:-14px;
background: url("../images/icons/d-pager-next.gif") no-repeat scroll 0px $ucd_blue_10;
}
tr.fc-first.fc-last {
background-color: $rec_blue;
color: white;
}
table.fc-header {
/* padding-bottom: 20px; */
margin-bottom: 20px;
}
td.fc-header-right {
margin-bottom: -14px;
}
th.fc-day-header.fc-mon.ui-widget-header.fc-first {
padding-top: 5px;}

.fc-grid .fc-day-number {
float: right;
padding: 0 2px;}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;}

.ui-widget-content {
    border: 1px solid #CCC;
    background-color: white;
}

.fc-agenda .fc-agenda-axis {
    font-weight: normal;
    padding: 0 4px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
}
.fc-agenda-allday .fc-day-content {
    min-height: 34px;
}
#calendar div.contentmenu_selected a {
    background-color: pink !important;
    color: #000;}
}

#calendar .fc-content table {
    padding:0px;
    margin:0px;
}

#calendar .fc-header-center table {
    margin:auto;
}

#calendar div.contentmenu_selected,
#calendar div.contentmenu_selected .fc-event-time {
    background-color: yellow !important;
}

#calendar div.contentmenu_selected {
    border:1px solid blue !important;
}

#calendar .contentmenu_selected {
    border: none !important;
    background-color: transparent !important;
}

#content #calendar div.contentmenu_selected a:hover {
    color: #000000 !important;
}

#calendar div.event_cutted,
#calendar div.event_copied {
    opacity:0.7;
}

.fc-agenda .fc-event-time, .fc-event-bg {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.fc-event, .fc-event a {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content #calendar .fc-content a:link {
    border:none;
    color:#000000;
}

#content #calendar .fc-content a:hover {
    color:#FFFFFF !important;
}

#calendar span.fc-event-time {
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

#calendar  .ui-draggable-dragging {
    -moz-box-shadow:4px 4px 5px #666666;
    box-shadow:4px 4px 5px #666666;
    -webkit-box-shadow:4px 4px 5px #666666;
}

#calendar .fc-event:hover,
#calendar .fc-event.contentmenu_selected {
    -moz-box-shadow:2px 2px 3px #AAAAAA;
    box-shadow:2px 2px 3px #AAAAAA;
    -webkit-box-shadow:2px 2px 3px #AAAAAA;
}

.fc-event-vert span.fc-event-bg {
    opacity:0.5;
}

.ui-resizable-s {
    color: #333333 !important;
}

.fc-event .fc-event-inner{
    border-radius: 4px;
    border-width: 1px;
}

#SFQuery {
    overflow:hidden;
}

#SFQuery .SFQuery_input {
    float:left;
    margin:0 1% 10px 0;
    width:32%;
}

#event_edit_container #content {
    margin:0px;
}

#event_edit_container #visual-portal-wrapper {
    width:100%;
    margin:0px;
    padding:0px;
    min-width:0px;
    max-width:100%;
}

#event_edit_container #portal-column-content {
    float:none;
    left:0px;
    width:100%;
    margin:0px;
    padding:0px;
}

#event_edit_container #content h1 {
    display:none;
}

#event_edit_container .eventDetails {
    float:none;
    margin:0px;
}

/* COLOR INDEXES */

#calendar div.fc-event.colorIndex-undefined {
    border:1px solid #AAAAAA;
}
#calendar div.fc-event.colorIndex-undefined a {
    background-color: #AAAAAA;
}
label.colorIndex-undefined {
    color: #AAAAAA;
}

#calendar div.fc-event.colorIndex-0 {
    border:1px solid #4ca9ff;
}
#calendar div.fc-event.colorIndex-0 a {
    background-color: #4ca9ff;
}
label.colorIndex-0 {
    color: #4ca9ff;
}

#calendar a.colorIndex-1 {
    border:1px solid #96d510;
}

#calendar a.colorIndex-1 .fc-event-skin {
    background-color: #96d510;
    border-color: #96d510;
}
label.colorIndex-1 {
    color: #96d510;
}

#calendar a.colorIndex-2 {
    border:1px solid #ff1942;
}

#calendar a.colorIndex-2 .fc-event-skin {
    background-color: #ff1942;
    border-color: #ff1942;
}
label.colorIndex-2 {
    color: #ff1942;
}

#calendar a.colorIndex-3 {
    border:1px solid #ff8900;
}

#calendar a.colorIndex-3 .fc-event-skin {
    background-color: #ff8900;
    border-color: #ff8900;
}
label.colorIndex-3 {
    color: #ff8900;
}

#calendar a.colorIndex-4 {
    border:1px solid #1e4ae6;
}

#calendar a.colorIndex-4 .fc-event-skin {
    background-color: #1e4ae6;
    border-color: #1e4ae6;
}
label.colorIndex-4 {
    color: #1e4ae6;
}

#calendar a.colorIndex-5 {
    border:1px solid #009934;
}

#calendar a.colorIndex-5 .fc-event-skin {
    background-color: #009934;
    border-color: #009934;
}
label.colorIndex-5 {
    color: #009934;
}

#calendar a.colorIndex-6 {
    border:1px solid #8a0dec;
}

#calendar a.colorIndex-6 .fc-event-skin {
    background-color: #8a0dec;
    border-color: #8a0dec;
}
label.colorIndex-6 {
    color: #8a0dec;
}

#calendar a.colorIndex-7 {
    border:1px solid #e01e9e;
}

#calendar a.colorIndex-7 .fc-event-skin {
    background-color: #e01e9e;
    border-color: #e01e9e;
}
label.colorIndex-7 {
    color: #e01e9e;
}

#calendar a.colorIndex-8 {
    border:1px solid #32ccc2;
}

#calendar a.colorIndex-8 .fc-event-skin {
    background-color: #32ccc2;
    border-color: #32ccc2;
}
label.colorIndex-8 {
    color: #32ccc2;
}

#calendar a.colorIndex-9 {
    border:1px solid #c7d42a;
}

#calendar a.colorIndex-9 .fc-event-skin {
    background-color: #c7d42a;
    border-color: #c7d42a;
}
label.colorIndex-9 {
    color: #c7d42a;
}

#calendar a.colorIndex-10 {
    border:1px solid #cd6031;
}

#calendar a.colorIndex-10 .fc-event-skin {
    background-color: #cd6031;
    border-color: #cd6031;
}
label.colorIndex-10 {
    color: #cd6031;
}

/*COLORS FOR STATES*/

#calendar.query-review_state div.fc-event.state-private {
    border:1px solid Red;
}
#calendar.query-review_state div.fc-event.state-private a {
    background-color: Red;
}
label.state-private {
    color: Red;
}

.state-private .fc-event-head .fc-event-time,
.state-private .fc-event-inner .fc-event-time{
    background: url("lock_icon.gif") no-repeat scroll left center transparent;
    padding-left: 15px;
}

#calendar.query-review_state div.fc-event.state-visible {
    border:1px solid #74AE0B;
}
#calendar.query-review_state div.fc-event.state-visible a {
    background-color: #74AE0B;
}
label.state-visible {
    color: #74AE0B;
}

#calendar.query-review_state div.fc-event.state-published {
    border:1px solid &dtml-linkColor;;
}
#calendar.query-review_state div.fc-event.state-published a {
    background-color: &dtml-linkColor;;
}
label.state-published {
    color: &dtml-linkColor;;
}

#calendar.query-review_state div.fc-event.state-pending {
    border:1px solid #FFA500;
}
#calendar.query-review_state div.fc-event.state-pending a {
    background-color: #FFA500;
}
label.state-pending {
    color: #FFA500;
}

#calendar.query-review_state div.fc-event.state-expired {
    border:1px solid Red;
}
#calendar.query-review_state div.fc-event.state-expired a {
    background-color: Red;
}
label.state-expired {
    color: Red;
}

#calendar.query-review_state div.fc-event.syndicated {
    border:1px solid #008000;
}
#calendar.query-review_state div.fc-event.syndicated a {
    background-color: #008000;
}
label.syndicated {
    color: #008000;
}

section.thumbify-processed.nofollow a.readmore {
    display: none !important;
}


/* @end */

