/*Plone Styles */
@charset "utf-8";
@import "variables";


/* override wallpaper height without breaking cakefarm theme  */
.wall .wallpaper .notsobig {
	height:540px !important;
}


.hiddenStructure {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 0.1em;
    margin: -0.1em 0 0 -0.1em;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.submenu_description {
    display: none;
}

/*--image tags --*/
.image-left {
   float: left;
   margin: 0.5em 1em 0.5em 0;
}
.image-right {
   float: right;
   margin: 0.5em;
}
.image-inline {
   float: none;
}

// pending activation
#uti-share {
    // display: none; // 2014-10-13 RAK: Need to show share button for review
}

/*top bar override */
.top-bar .top-bar-section .left > li > a {
  height: 80px;
  line-height: 80px !important;
   padding: 0 0;
}

a#portal-logo {  //overrides theme wdth setting that was causing menu to break
	width:100%;
}
#portal-logo {
	    display: inline-block;
	    margin: 0 0;
	    padding-top: 0px;
}

#portal-searchbox {
	float: none;
	text-align: left;
	clear: right;
	margin: 0 0;
	font-size: 80%;
	z-index:20;
}
#searchGadget {
	width:12em;
}

#LSResult {
	position: absolute;
	right: 0;
	background: rgba(255,0,0,0.1);
	margin: 84px 0 0 -7em;
	z-index: 20;
}
#livesearchLegend {
background-color: $ucd_bright_gold_70;
padding: 0.3em;
}
/*----- Breadcrumbs ----- */
#portal-breadcrumbs > span > a, span#breadcrumbs-current {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin-bottom: 0px;
}
/*-----anything to get the dropdown menu working correctly ----*/
a.hasDropDown {
    background-image:url('&dtml-portal_url;/arrowRight.gif');
    background-position:14em 50%;
    background-repeat:no-repeat;
}

@media screen {
/*------News Happy Box ---------*/
#content a:visited, dl.portlet a:visited {
	border-bottom:none;
}
#content a:link, dl.portlet a:link {
		border-bottom:none;

}
.content-wrap dd.portletItem {
	background-color:transparent;
}
.content-wrap dd.portletItem a.tile {
	color:white !important;

}
.content-wrap > dd > a > img.portletItemDetails {
	margin-top:-3px;
}
.content-wrap dd.portletItem a:hover {
	text-decoration:underline;

}

/*----- About Happy Box ---------*/
dl.portlet-static-quick-facts dt {
	padding: 0.42em 1em;
	background: transparent;
	line-height: normal;
    font-size: 120%;
}
/*----- homepage title ------*/
.homepage-title {
	font-size: 36px !important;
	font-size: 2.25rem !important;
	line-height: 1.5625rem;
	margin-top: 35px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: normal;
	}
/*---------Homepage middle ---------*/
/*-------left column ------------*/

#left-front-column {

	> dl {
		background-color:transparent;
	}

	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		height: 100px;
		margin-bottom: 10px;
		padding-top: 12px;
		width: 100%;
	 }

	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
	}
	 > dl > dt {
	background:transparent;
	
}
	dl.portlet dt.portletHeader a, a:visited {
	background:transparent;
	color:$ucd_black_80;
	@include font_size(24px, !important);
	font-weight:normal;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	border-bottom: none;
	
}

	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
		a.tile {
			color:$ucd_blue_100 !important;
	          border-bottom: none;
			position:relative;

		}


}
#middle-front-column {

	> dl {
		background-color:transparent;
	}

	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		height: 100px;
		margin-bottom: 10px;
		width: 100%;
		padding-top: 12px;
	 }

	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
	}
	 > dl > dt {
		background:transparent;
		font-size: 24px !important;
		font-size: 1.5rem !important;
		font-weight: normal;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align:center;

	}
	dl.portlet dt.portletHeader a, a:visited {
		background:transparent;
		color:$ucd_black_80;
		@include font_size(24px, !important);
		font-weight:normal;
		padding-top:15px;
		padding-bottom:15px;
		text-align:center;
		border-bottom: none;
	}
	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
	a.tile {
		color:$ucd_blue_100 !important;
          border-bottom: none;
	}


}

#right-front-column {

	> dl {
		background-color:transparent;
	}
	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		height: 100px;
		margin-bottom: 10px;
		width: 100%;
		padding-top: 12px;
	 }
	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
		width:100px; //override for index.css
	}
	 > dl > dt {
		background:transparent;
		font-size: 24px !important;
		font-size: 1.5rem !important;
		font-weight: normal;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align:center;

	}
	dl.portlet dt.portletHeader a, a:visited {
		background:transparent;
		color:$ucd_black_80;
		@include font_size(24px, !important);
		font-weight:normal;
		padding-top:15px;
		padding-bottom:15px;
		text-align:center;
		border-bottom: none;
	}
	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
	a.tile {
		color:$ucd_blue_100 !important;
          border-bottom: none;
	}



}

dl.portlet a:link {
  color: $ucd_blue_100;
  border-bottom: none;
}
dl.portlet a:hover {
color: $ucd_blue_100;
text-decoration:underline;
border-bottom: none;
}

dl.portlet a:visited {
border-bottom:transparent;
}
/*---right-side-portlets----*/
dl.portlet dt {
	display: block;
	background-color:$rec_blue;
	padding-top:.75em;
	padding-bottom:.75em;

	a, a:link {
		color:white;
		width:100%;
		text-decoration:none;
	}
}
dt.portletHeader span {
    color: white;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1.125rem !important;
    letter-spacing: 0.1em;
    padding-bottom: 4px;
    padding-right: 30px;
    position: relative;
    top: 2px; 
} 
.portletItemDetails {
	font-size: 85%;
	padding-top: .5em;
    line-height: 1.5em;
    margin-left: 1em;
    display: block;
}
dd.portletFooter {
	text-align: right;
	clear:both;
	}


dd.portletItem {
	padding-top:10px;
	background-color:#f2f2f2;
	clear:both;
}

.portletItemDetails.image-left {
	margin-top:-5px;
	margin-left:0;
}
/*------ General Content ----------*/
#content .documentDescription {
	color: inherit;
	margin-left: 0;
	font: inherit;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 30px !important;
	line-height: 1.875rem !important;
	margin-bottom: 45px;
}
dl.portlet a:link {
  color: $ucd_blue_100;
  border-bottom: none;
}
/*------------PFG Forms and Errors -----------*/
div.field.error {
background-color: $ucd_error;
border: 1px solid $wine_grape;
padding: 0.5em;
margin: 1em 0;
}
.field.error input[type="text"][name$=".title"],
.error input#title {
    width: 99%;
}

.fieldRequired {
    background: url(required.png) center left no-repeat;
    padding: 0 0 0 1em;
    color: White;
}
.fieldUploadFile {
    text-align: right;
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    color: #555;
    margin: 0 0 0.2em 0;
    display: block;
    font-weight: normal;
}
div.field.error {
    background-color: $ucd_error;
    border:  1px solid $wine_grape;
    padding: 0.5em;
    margin:  1em 0;
}
.error .fieldRequired {
    color: #d00;
}
div.error.warning {
    background-color: transparent;
    border: none;
    margin-top: 0;
    padding: 0;
}

div.error.warning input {
    border: 2px solid $wine_grape;
}
/*--Two Collumn Page View ----*/
p.figcaption {
float: right;
padding-right: 5px;
}
.uc.blue-head {
	color:#008EAA;
}
/*------Collection Summary View with Images -------*/
tileItem.visualIEFloatFix {
padding-top: 3%;
}
.tileImage {
float: left;
padding-right: 10px;
padding-top:.6em;
}
p.tileBody {
display: flex;
}
p.tileFooter {
	float:right;
	padding-right:10%;
}

.visualClear {
	height:1em;
	clear:both;
}
/*---Portlets -----*/
.blockedPortlet .portletBlockedMessage {
    color: white;
    display: inline;
}
dl.portlet {
	/* margin-top: 50px; //I think we don't need this */
	background-color: $box_light_gray; /* TODO //not sure this is a good idea */
}
dl.portlet a {
	text-decoration:none;
}
dl.portlet a:hover {
color: $ucd_blue_100 !important;
text-decoration:underline;
border-bottom: none;
}

dl.portlet a:visited {
border-bottom:transparent;
}
.newsImageContainer { //fix for ISS Images
    float:left;
    padding-right:10px;
}

/*--Basic rec pool Blue Portlet --*/



/*-------footer-------*/

#vcard p {
	font-size: 16px;
	line-height: 1.5em;
}

ul#footer-nav {

	padding-left: 5%;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;

	column-count: 3;
	column-gap: 10px;

	-moz-column-count:3;
	-moz-column-gap:10px;

}
#footer-nav a{
	color:white;
	white-space:nowrap;
	border-left:1px solid white;
	padding-left:5px;
	line-height:1.5em;
}
 /* Footer Navigation portlet */

#footer-middle {
	width:55%;
	padding-left: 5%;
	margin-left:20%;

	ul {padding-left: 5%;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;

	column-count: 3;
	column-gap: 10px;

	-moz-column-count:3;
	-moz-column-gap:10px;
     }

	ul.navTree li a {
    	border: none;
		font-size:95%;
    	display: block;
		color:white;
    	zoom: 1;
	}

	ul.navTree li {
		a:hover {
			color:white !important;

		}
		a:active {
			color:white !important;
		}
	}

	dl.portletNavigationTree dd.portletItem {
    	padding: 0;
		background-color: transparent;
	}

	ul.navTreeLevel0 > .navTreeItem {
    	padding: 0.25em 1em;
    	border-bottom: None;
    	line-height: 2em;
		color: white;
	}

	ul > li {
		border-left: 1px solid white;
		margin-bottom: 0;

	}

	ul.navTreeLevel1 .navTreeItem {
    	padding-left: 0.5em;
    	line-height: 2em;
	}
	.navTreeItem .state-published {
		color: white !important;

	}

	ul.navTree .navTreeCurrentItem {
		background-color:transparent;
		color:white;

	}
}
/*--- Logo responsive magic ---*/
@media screen and (min-width:991px)
{
	#logosm {display:none;
	}
	h1#parent-fieldname-title {
	line-height:1.0; }
}

@media screen and (max-width: $screen-md-min){
	li.name > a#portal-logo {
		display: none;
	}
	#logosm h1 {
		color:white;
		text-transform: uppercase;
		font-size:150%;
	    margin-top:-30px;
		padding-left:5px;
}
    .homepage-title	{
    	font-size:1.8rem !important;
    }
}

@media screen and (max-width: $screen-md-min) {
    #portal-globalnav {
        display: none;
    }
}

@media screen and (min-width: $screen-md-min) {
    .top-bar-section {
       // display: none;
    }

    /* Plone globalnav */
   

}
/*Forms */
input.button {
height: 40px;
width: 120px;
background-color: #Daaa00;
text-align: center;
border: 0;
}
.formControls.form {
padding-top: 1em;
text-align: center;
}
.field {
	padding-top:4px;
}

/*#content form input {
font-size: 13px;
font-size: 0.8125rem;
line-height: 18px;
line-height: 1.125rem;
height: 35px;
text-align: left;
width:100%;
padding:4px 4px 4px 4px;
}
textarea#message{
	width:100%;
} */
/*Faculty Bio Page */
p.org {
	padding-bottom: 1.5em;
}
/* Hacky bit of css to get bio page address portlet to line up */
dt.dept-title {
margin-left: -32px;
margin-right: -12px;
}
.street-address {
	line-height:1.8em;
}
.org.follow {
line-height: 2em;
}

/* @end */
}
