/*Plone Styles */
#portal-logo {
	#portal-logo {
	    display: inline-block;
	    margin: 0 0; 
	}
}

#portal-globalnav {
list-style-image: none;
position: relative;
background-color: none;
zoom: 1;
z-index: 2;
}

#portal-globalnav li a {
	font-size: 1.0625rem;
	letter-spacing: 0.025em;
	line-height: 1.80rem;
    display: inline-block;
   /* padding: 1.3em 1em 1.75em 1em; */
    white-space: normal;
    /*TODO: Once we have removed the whitespace from the nav template, this can be put back*/
   border-bottom: None;
    border-right: None;
}
#portal-globalnav li {
	min-width: 2em;
}

#portal-globalnav > li > a {
	
	
} 
#portal-globalnav .selected a,
#portal-globalnav a:hover {
    background: $ucd_blue_70;
    color: White;
} 
#portal-globalnav .selected a:hover {
    background: $ucd_blue_70;
    color: white;
}
nav.top-bar {
	background-color: $ucd_blue_100;
}
/* - dropdown-menu.css - */
@media screen {
/* DropDown Menu Styles */

#portal-top {
  z-index:1;
  }
/* override of foundation */  
.top-bar-section .has-dropdown > a {
  padding-right: 10px !important;  }
  /*----------Dropdown Menu----------------*/
/*---------- BASIC STYLE one level ----------*/
#portal-globalnav {
  list-style-image:none;
  position:relative; /* fix ie */
  zoom:1; /* fix ie */
  }
#portal-globalnav:after {
  content:"";
  clear:both;
  display:block;
  visibility:hidden;
  }
#portal-globalnav li {
  float:left;
  position:relative;
  }
#portal-globalnav li a {
  display:block;
  background: $ucd_blue_100;
  border-top: none;
  }

/*----- DropDown -----*/
ul.submenu {
  display:none;
  left:0;
  position:absolute;
  top:100%;
  }
#portal-globalnav li:hover > ul.submenu {
  display:block;
  }
ul.submenu li {
  float:none;
  margin:0;
  padding-left:0;
  padding-right:0;
  }
#portal-globalnav ul.submenu li a {
  padding:0.5em 1.5em 0.5em 1em; 
  width:13em;
  }
ul.submenu ul {
  top:0;
  left:100%;
  }
ul.submenu a.state-published:hover,
.selected ul.submenu .state-published {
    color: #fff !important;
}
/*----- About Happy Box ---------*/
dl.portlet-static-quick-facts dt {
	padding: 0.42em 1em;
	background: transparent;
	line-height: normal;
    font-size: 120%;
}
}