/* css for the front page content type */

#portal-logo {
	position:relative;
	z-index:10;
}
.pics {
    z-index: 1;
	position:absolute;
    /* margin-top: -170px; */
    min-width: 400px;
    left: 0;
    top: 0;
}
