@font-face {
  font-family: 'lsr';
  src: url("fonts/lucida/LucidaSansRegular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lsb';
  src: url("fonts/lucida/LucidaSansBold.ttf");
  font-weight: normal;
  font-style: normal; }
/* Example use case:

  %abstract-class {
    font-family: Verdana;
  }
 
  #my-div {
    @extend %abstract-class;
  }
 
  #my-other-div {
    @extend %abstract-class;
  }

  ... compiles as:
  #my-div, #my-other-div {
    font-family: Verdana;
  }

*/
/* 2014-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
/*----- Mobile breakpoint --------*/
/* line 7, ../../sass/sections/bio.scss */
i {
  font-style: italic !important; }

/* line 12, ../../sass/sections/bio.scss */
#cm-section ul.content-items li {
  margin-top: 10px; }

@media screen and (max-width: 767px) {
  /* line 22, ../../sass/sections/bio.scss */
  .panel .panel-body {
    margin-top: 0 !important; }

  /* line 29, ../../sass/sections/bio.scss */
  #content-row #content, #content-row #am-content {
    margin-top: 0 !important; }
    /* line 34, ../../sass/sections/bio.scss */
    #content-row #content .panel .panel-collapse.dont-close .panel-body, #content-row #am-content .panel .panel-collapse.dont-close .panel-body {
      margin-left: 0 !important; }
      /* line 36, ../../sass/sections/bio.scss */
      #content-row #content .panel .panel-collapse.dont-close .panel-body ul.portlet-items, #content-row #am-content .panel .panel-collapse.dont-close .panel-body ul.portlet-items {
        margin-left: 0 !important; }
    /* line 43, ../../sass/sections/bio.scss */
    #content-row #content .bio-card, #content-row #am-content .bio-card {
      margin-bottom: 15px;
      margin-left: -15px !important;
      margin-right: -15px !important; }
      /* line 48, ../../sass/sections/bio.scss */
      #content-row #content .bio-card .panel-heading, #content-row #am-content .bio-card .panel-heading {
        padding: 0 !important;
        display: none; }
      /* line 55, ../../sass/sections/bio.scss */
      #content-row #content .bio-card .breadcrumb, #content-row #content .bio-card h4, #content-row #am-content .bio-card .breadcrumb, #content-row #am-content .bio-card h4 {
        margin-left: 15px; }
      /* line 58, ../../sass/sections/bio.scss */
      #content-row #content .bio-card h4, #content-row #am-content .bio-card h4 {
        padding-bottom: 0; }
      /* line 62, ../../sass/sections/bio.scss */
      #content-row #content .bio-card .title.org p, #content-row #am-content .bio-card .title.org p {
        font-style: italic;
        margin: 0; }
      /* line 68, ../../sass/sections/bio.scss */
      #content-row #content .bio-card .portlet-content, #content-row #am-content .bio-card .portlet-content {
        padding: 0 !important; }
        /* line 70, ../../sass/sections/bio.scss */
        #content-row #content .bio-card .portlet-content .vcard, #content-row #am-content .bio-card .portlet-content .vcard {
          padding: 0; }
          /* line 73, ../../sass/sections/bio.scss */
          #content-row #content .bio-card .portlet-content .vcard div, #content-row #am-content .bio-card .portlet-content .vcard div {
            margin-left: 15px !important; }
          /* line 76, ../../sass/sections/bio.scss */
          #content-row #content .bio-card .portlet-content .vcard img.photo, #content-row #am-content .bio-card .portlet-content .vcard img.photo {
            width: 214px;
            height: 214px; }
          /* line 80, ../../sass/sections/bio.scss */
          #content-row #content .bio-card .portlet-content .vcard .portlet-items, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items {
            position: absolute;
            left: 212px;
            top: 0;
            padding: 5px;
            margin: 0;
            width: 38.5%;
            background-color: #008EAA; }
            /* line 89, ../../sass/sections/bio.scss */
            #content-row #content .bio-card .portlet-content .vcard .portlet-items li, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li {
              padding-bottom: 0;
              background-color: #e5e5e5;
              background-image: none;
              margin-bottom: 4px; }
              /* line 95, ../../sass/sections/bio.scss */
              #content-row #content .bio-card .portlet-content .vcard .portlet-items li:last-child, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li:last-child {
                margin-bottom: 0; }
              /* line 98, ../../sass/sections/bio.scss */
              #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span {
                text-align: left; }
                /* line 104, ../../sass/sections/bio.scss */
                #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span a, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span a {
                  width: 100% !important;
                  display: inline-block !important;
                  padding: 5px 15px 5px 40% !important;
                  line-height: 38px !important;
                  line-height: 2.375rem !important;
                  background-position: 20% 50% !important;
                  text-decoration: none; }
                  /* line 112, ../../sass/sections/bio.scss */
                  #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span a:hover, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span a:hover {
                    text-decoration: underline; }
                /* line 116, ../../sass/sections/bio.scss */
                #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.email-bio, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.email-bio {
                  font-size: 13px !important;
                  font-size: 0.8125rem !important;
                  letter-spacing: 0.05em;
                  background: url(../../images/icons/email-icon-m.png) 20% 50% no-repeat; }
                /* line 121, ../../sass/sections/bio.scss */
                #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.cv, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.cv {
                  background: url(../../images/icons/pdf-icon-t.png) 19% 50% no-repeat; }
                /* line 124, ../../sass/sections/bio.scss */
                #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.vcard-file, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.vcard-file {
                  background: url(../../images/icons/calendar-icon-m.png) 20% 50% no-repeat; }
                /* line 127, ../../sass/sections/bio.scss */
                #content-row #content .bio-card .portlet-content .vcard .portlet-items li > span.office, #content-row #am-content .bio-card .portlet-content .vcard .portlet-items li > span.office {
                  background: url(../../images/icons/office-icon-m.png) 20% 50% no-repeat; }
    /* line 136, ../../sass/sections/bio.scss */
    #content-row #content #summary, #content-row #am-content #summary {
      margin-bottom: 0; }
      /* line 141, ../../sass/sections/bio.scss */
      #content-row #content #summary #education, #content-row #am-content #summary #education {
        width: 100% !important; } }
@media screen and (min-width: 768px) {
  /* line 154, ../../sass/sections/bio.scss */
  #content-row #summary #jumplinks #jumplinks-anchors {
    margin-top: 0;
    border-right: 1px solid #4d688c; }
    /* line 157, ../../sass/sections/bio.scss */
    #content-row #summary #jumplinks #jumplinks-anchors li {
      padding-right: 15px !important;
      padding-bottom: 4px; }
      /* line 160, ../../sass/sections/bio.scss */
      #content-row #summary #jumplinks #jumplinks-anchors li a {
        text-decoration: none; }
        /* line 162, ../../sass/sections/bio.scss */
        #content-row #summary #jumplinks #jumplinks-anchors li a:hover {
          text-decoration: underline; }
  /* line 171, ../../sass/sections/bio.scss */
  #content-row .bio-card.portlet .portlet-items {
    margin: 0; }
    /* line 173, ../../sass/sections/bio.scss */
    #content-row .bio-card.portlet .portlet-items li {
      margin-bottom: 0; }
      /* line 176, ../../sass/sections/bio.scss */
      #content-row .bio-card.portlet .portlet-items li > span a {
        font-size: 10px !important;
        font-size: 0.625rem !important;
        line-height: 42px !important;
        line-height: 2.625rem !important; }

  /* line 187, ../../sass/sections/bio.scss */
  #cm-section ul.content-items button {
    margin-top: 10px; }

  /* line 192, ../../sass/sections/bio.scss */
  .sidebar-right {
    margin-top: 0 !important; }
    /* line 195, ../../sass/sections/bio.scss */
    .sidebar-right .bio-card .panel-body {
      padding-bottom: 0 !important; }
      /* line 197, ../../sass/sections/bio.scss */
      .sidebar-right .bio-card .panel-body .vcard {
        position: relative; }
        /* line 199, ../../sass/sections/bio.scss */
        .sidebar-right .bio-card .panel-body .vcard > div {
          margin-right: 35px !important; }
        /* line 202, ../../sass/sections/bio.scss */
        .sidebar-right .bio-card .panel-body .vcard img.photo {
          margin-top: 10px;
          /*margin-bottom: 25px; */
          margin-left: auto;
          margin-right: auto;
          display: block; }
        /* line 209, ../../sass/sections/bio.scss */
        .sidebar-right .bio-card .panel-body .vcard h4 {
          font-size: 13px;
          font-size: 0.8125rem;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-weight: bold;
          margin-left: 35px;
          margin-right: 35px;
          margin-top: 25px; }
        /* line 218, ../../sass/sections/bio.scss */
        .sidebar-right .bio-card .panel-body .vcard .title.org {
          padding-left: 0;
          margin-top: 15px;
          margin-bottom: 25px; }
          /* line 222, ../../sass/sections/bio.scss */
          .sidebar-right .bio-card .panel-body .vcard .title.org p {
            font-size: 12px;
            font-size: 0.75rem;
            line-height: 15px;
            line-height: 0.9375rem;
            font-style: italic;
            margin-bottom: 9px !important; }
        /* line 229, ../../sass/sections/bio.scss */
        .sidebar-right .bio-card .panel-body .vcard ul.portlet-items {
          margin: 0;
          border-top: 1px solid #FFF;
          height: 40px; }
          /* line 233, ../../sass/sections/bio.scss */
          .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li {
            float: left;
            height: 40px;
            border-left: 1px solid #FFF;
            background-color: #e5e9ef;
            width: 33.33%;
            text-align: center;
            margin-bottom: 0; }
            /* line 241, ../../sass/sections/bio.scss */
            .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li:first-child {
              border-left-width: 0 !important; }
            /* line 244, ../../sass/sections/bio.scss */
            .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li a {
              display: inline-block;
              margin-left: auto;
              margin-right: auto;
              height: 40px;
              font-size: 12px;
              font-size: 0.75rem;
              line-height: 40px;
              line-height: 2.5rem;
              letter-spacing: 0.05em;
              padding-left: 25px;
              text-decoration: none;
              background-position: 10% 50%;
              background-repeat: no-repeat !important; }
              /* line 254, ../../sass/sections/bio.scss */
              .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li a:hover {
                text-decoration: underline; }
            /* line 260, ../../sass/sections/bio.scss */
            .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li .email-bio a {
              background-image: url(../../images/icons/email.gif); }
            /* line 263, ../../sass/sections/bio.scss */
            .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li .cv a {
              background-image: url(../../images/icons/filetype/pdf.gif); }
            /* line 266, ../../sass/sections/bio.scss */
            .sidebar-right .bio-card .panel-body .vcard ul.portlet-items li .vcard-file a {
              background-image: url(../../images/icons/calendar-icon-t.png); } }
/*----- "M" breakpoint -------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 287, ../../sass/sections/bio.scss */
  #content-row .sidebar-right .bio-card .panel-body .vcard img.photo {
    width: 95.5% !important;
    margin-top: 5px !important; }
  /* line 291, ../../sass/sections/bio.scss */
  #content-row .sidebar-right .bio-card .panel-body .vcard .title.org {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 25px; }
    /* line 295, ../../sass/sections/bio.scss */
    #content-row .sidebar-right .bio-card .panel-body .vcard .title.org p {
      font-size: 13px !important;
      font-size: 0.8125rem !important;
      line-height: 16px !important;
      line-height: 1rem !important;
      margin-bottom: 9px !important; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {
  /* line 310, ../../sass/sections/bio.scss */
  .sidebar-right {
    margin-top: 45px; }
    /* line 313, ../../sass/sections/bio.scss */
    .sidebar-right .bio-card img.photo {
      margin-top: 15px; } }
