/* Calendar.scss */
@font-face {
  font-family: 'lsr';
  src: url("fonts/lucida/LucidaSansRegular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lsb';
  src: url("fonts/lucida/LucidaSansBold.ttf");
  font-weight: normal;
  font-style: normal; }
/* Example use case:

  %abstract-class {
    font-family: Verdana;
  }
 
  #my-div {
    @extend %abstract-class;
  }
 
  #my-other-div {
    @extend %abstract-class;
  }

  ... compiles as:
  #my-div, #my-other-div {
    font-family: Verdana;
  }

*/
/* 2014-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
#content-row {
  margin-top: 35px; }

#content div.fc-event-inner, #am-content div.fc-event-inner {
  line-height: 16px !important;
  line-height: 1rem !important; }

.breadcrumb {
  margin-top: 35px; }
  .breadcrumb p a {
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 13px;
    line-height: 0.8125rem; }

.breadcrumb, .content-title {
  z-index: -1; }

p {
  margin-top: 0; }

.color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px; }

.eventful {
  background-color: #e5e9ef; }

.selected-day {
  background-color: #335379; }
  .selected-day .date {
    color: #FFF !important; }

a#sfc-ical-export {
  float: right; }

#events {
  margin-bottom: 15px; }
  #events .todays-event {
    width: auto;
    margin: auto auto auto auto; }
  #events .event-item {
    border: 2px solid #e5e9ef;
    margin-bottom: 15px;
    margin-left: 15px; }
    #events .event-item h3 {
      padding: 15px; }
    #events .event-item .fc-event-inner .fc-event-time, #events .event-item .fc-event-inner .subjects, #events .event-item .fc-event-inner .fc-event-title {
      display: block !important;
      font-size: 16px !important;
      font-size: 1rem !important; }
    #events .event-item .fc-event-inner .fc-event-time {
      padding-left: 4px; }
    #events .event-item .fc-event-inner .fc-event-title a {
      color: #FFF;
      text-decoration: none;
      padding: 20px;
      padding-right: 30px;
      display: block;
      width: 100%;
      background-color: transparent;
      background: url(../../images/icons/white-arrow-right-sm.png) 96% 50% no-repeat #335379 !important; }
      #events .event-item .fc-event-inner .fc-event-title a:hover {
        background-color: #4d688c !important; }
    #events .event-item .fc-event-inner .fc-event-time, #events .event-item .fc-event-inner .subjects {
      margin: 15px; }

.sb-subitems.calendar-processed {
  width: 250px;
  text-align: center;
  position: static;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .sb-subitems.calendar-processed li {
    margin: 0;
    width: auto !important;
    display: inline-block; }
    .sb-subitems.calendar-processed li a {
      width: auto !important; }
    .sb-subitems.calendar-processed li#ical-icon {
      margin-right: 25px !important; }

#calendar {
  padding: 0; }
  #calendar div, #calendar p, #calendar td, #calendar li, #calendar a {
    font-size: 15px;
    font-size: 0.9375rem; }
  #calendar .fc-event-title a, #calendar .fc-event-time a {
    font-size: 13px !important;
    font-size: 0.8125rem !important; }
  #calendar #view-filter {
    text-align: right;
    float: right;
    padding-right: 0px;
    padding-top: 8px; }
    #calendar #view-filter .vf-selector {
      background-color: #e5e9ef;
      display: inline-block;
      width: 82px;
      margin-left: 2px;
      padding-top: 8px;
      padding-bottom: 15px;
      margin-bottom: 10px;
      height: 40px !important;
      text-align: center; }
      #calendar #view-filter .vf-selector a {
        text-decoration: none;
        font-size: 13px;
        font-size: 0.8125rem; }
    #calendar #view-filter .selected {
      background-color: #335379; }
      #calendar #view-filter .selected a {
        color: #fff; }
  #calendar #month-pager {
    float: left;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px; }
    #calendar #month-pager .pager-string {
      position: relative;
      top: -5px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 24px;
      font-size: 1.5rem;
      vertical-align: bottom; }
    #calendar #month-pager .pager-prev a, #calendar #month-pager .pager-next a {
      width: 40px;
      height: 40px;
      background-color: #e5e9ef;
      padding-top: 15px;
      background-position: center; }
  #calendar #month {
    top: 10px;
    width: 100%;
    position: relative;
    margin-bottom: 70px; }
    #calendar #month thead {
      background-color: #008EAA;
      color: #fff; }
      #calendar #month thead th {
        height: 30px;
        width: 124px;
        padding-top: 5px;
        border-left: 1px solid #fff; }
        #calendar #month thead th .first {
          border-left: none !important; }
    #calendar #month td {
      border: 1px solid #ccd4e0;
      min-height: 90px;
      vertical-align: top; }
      #calendar #month td .fc-event-time {
        display: block;
        margin-top: 4px; }
      #calendar #month td .date {
        float: right;
        padding-right: 10px; }
      #calendar #month td .day {
        margin-top: 30px;
        min-height: 120px; }
        #calendar #month td .day a {
          text-decoration: none; }
        #calendar #month td .day .fc-event .fc-event-inner {
          color: #335379;
          margin: 3px 3px 5px 3px;
          padding: 10px;
          background-color: #e5e9ef;
          font-size: 11px;
          font-size: 0.6875rem; }
          #calendar #month td .day .fc-event .fc-event-inner .subjects .subject-box {
            margin-bottom: 5px;
            margin: 0px; }
      #calendar #month td .previous .date, #calendar #month td .next .date {
        color: #B2B2B2; }

.sidebar .panel-heading .panel-title a {
  background: url(../../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat #99d2dd; }
  .sidebar .panel-heading .panel-title a.collapsed {
    color: #000 !important;
    background: url(../../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat #008EAA; }
  .sidebar .panel-heading .panel-title a:hover {
    background: url(../../images/icons/blue-100-right-arrow-down.png) 98% 50% no-repeat #99d2dd; }
.sidebar.sidebar-left {
  /*
  top: 35px;
  //top: 0;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 0;
  
  .panel {
  	margin-left: 0;	
  }
  */ }
  .sidebar.sidebar-left #sbA {
    		/*
    		position: relative;
    
    		#filter-by {
    			position: absolute;
    			top: 10px;
    			left: 140px;	
    			a {
    				@include font_size(13px);
    			}
    		}
    */ }
    .sidebar.sidebar-left #sbA .panel-body #subject-all {
      /*height: 40px;
      width: 80px;
      float: left;
      //margin: 15px 30px 0 30px !important;
      margin-top: 15px;
      margin-bottom: 15px;
      text-transform: uppercase;
      */ }
      .sidebar.sidebar-left #sbA .panel-body #subject-all .view-all {
        background-color: #e5e9ef;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        height: 40px;
        text-transform: none; }
        .sidebar.sidebar-left #sbA .panel-body #subject-all .view-all a {
          display: inline-block;
          font-size: 13px;
          font-size: 0.8125rem;
          line-height: 40px;
          line-height: 2.5rem; }
      .sidebar.sidebar-left #sbA .panel-body #subject-all a {
        text-decoration: none; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset .checkForm {
      margin-top: 0px !important; }
      .sidebar.sidebar-left #sbA .panel-body .widget-fieldset .checkForm li {
        min-height: 25px; }
        .sidebar.sidebar-left #sbA .panel-body .widget-fieldset .checkForm li input {
          width: 15px;
          height: 15px;
          /*margin-bottom: 5px;
          margin-top: 0px;
          margin-left: 0px;
          */ }
        .sidebar.sidebar-left #sbA .panel-body .widget-fieldset .checkForm li label {
          font-size: 13px;
          font-size: 0.8125rem; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset #criterion-subject-econometrics .color-box {
      background-color: #00573F; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset #criterion-subject-economic-history .color-box {
      background-color: #C6007E; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset #criterion-subject-energy-environmental-economics .color-box {
      background-color: #ED8B00; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset #criterion-subject-international-economics .color-box {
      background-color: #FFCD00; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset #criterion-subject-macroeconomics .color-box {
      background-color: #78BE20; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset #criterion-subject-public-finance-labor .color-box {
      background-color: #00B5E2; }
    .sidebar.sidebar-left #sbA .panel-body .widget-fieldset #criterion-subject-theory .color-box {
      background-color: #642667; }
    .sidebar.sidebar-left #sbA .panel-body .sb-subitems {
      /*position: absolute;	
      top: -30px;
      right: 0;
      */ }
      .sidebar.sidebar-left #sbA .panel-body .sb-subitems li {
        display: inline-block;
        height: auto !important;
        width: 100px; }
        .sidebar.sidebar-left #sbA .panel-body .sb-subitems li a {
          display: block;
          height: auto !important;
          font-size: 13px;
          font-size: 0.8125rem;
          line-height: 35px !important;
          line-height: 2.1875rem !important;
          text-decoration: none;
          color: #335379; }
        .sidebar.sidebar-left #sbA .panel-body .sb-subitems li p {
          display: inline; }
          .sidebar.sidebar-left #sbA .panel-body .sb-subitems li p a {
            font-size: 11px;
            font-size: 0.6875rem; }

@media screen and (max-width: 767px) {
  .eventful {
    cursor: pointer; }

  .content-title {
    font-size: 26px;
    font-size: 1.625rem; }

  #content {
    margin-top: 90px !important; }

  #view-filter, #month-pager {
    text-align: center; }

  #view-filter {
    margin-bottom: 20px; }
    #view-filter div {
      border-right: 1px solid #FFF !important; }
      #view-filter div:last-child {
        border-right-width: 0 !important; }

  #calendar {
    padding-left: 15px; }
    #calendar #month {
      margin-bottom: 0 !important; }

  #subject-all {
    position: absolute;
    left: -9999px; }

  #month td {
    height: 40px;
    width: 39px; }
    #month td .day {
      min-height: 40px !important;
      margin-top: 0 !important; }
  #month .fc-event {
    display: none; }

  .todays-event {
    height: 200px;
    width: 280px;
    margin: 30px auto 50px auto; }
    .todays-event .fc-event-title, .todays-event .fc-event-time {
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 10px;
      line-height: 0.625rem; }
    .todays-event .fc-event-title {
      background-color: #335379; }
      .todays-event .fc-event-title a {
        color: #fff;
        text-decoration: none; }

  .panel-title, .panel-title a, .panel-heading {
    background-color: #fff !important; }

  .panel {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px; }

  .panel-body {
    padding-top: 0;
    border: 2px solid #e5e9ef; }

  .view-all {
    position: absolute;
    top: -30px;
    left: 73%;
    font-size: 10px;
    font-size: 0.625rem; }

  .wall {
    display: none; }

  .breadcrumb, .content-title {
    position: absolute; }

  .breadcrumb {
    top: 60px;
    left: 20px; }

  .content-title {
    top: 125px;
    left: 17px; }

  #month-pager {
    padding: 0px;
    margin-top: -20px;
    text-align: center !important; }
    #month-pager .pager-prev {
      float: left;
      text-align: left; }
    #month-pager .pager-next {
      float: right;
      text-align: right; }
      #month-pager .pager-next a {
        margin-right: 0; }
    #month-pager .pager-string {
      padding-top: 15px;
      display: inline-block;
      font-size: 18px;
      font-size: 1.125rem; }

  #view-filter {
    padding: 0; }
    #view-filter .vf-selector {
      width: 25% !important;
      margin-left: 0 !important; }

  .sb-subitems {
    display: none; }

  	/*
  	#sbA {
  		
  		.widget-fieldset {
  			
  			.checkForm {
  				li {
  					float: initial !important;
  					width: 100%;
  					margin-left: auto;
  					margin-right: auto;	
  				}
  			
  			}
  		}
  	}
  */
  .sidebar#left-area {
    position: relative;
    background-color: transparent;
    margin-left: 0 !important;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0; }
    .sidebar#left-area > div {
      margin-left: 0 !important;
      background-color: transparent; }
    .sidebar#left-area h3 {
      position: absolute;
      top: -35px;
      right: 0; }
      .sidebar#left-area h3 p {
        display: inline; }
        .sidebar#left-area h3 p a {
          z-index: 2;
          background-image: none;
          position: absolute;
          top: 10px;
          right: 0 !important;
          padding: 0 !important;
          margin: 0 !important;
          height: 60px;
          width: 60px; }
          .sidebar#left-area h3 p a .menu-icon {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 60px;
            width: 60px;
            padding: 0 !important;
            margin: 0 !important;
            background-color: transparent;
            border: 4px solid #e5e5e5; }
            .sidebar#left-area h3 p a .menu-icon span {
              position: absolute;
              background-color: #FFF;
              line-height: 1px;
              line-height: 0.0625rem; }
              .sidebar#left-area h3 p a .menu-icon span:after {
                display: block;
                left: 14px;
                top: 15px; }
    .sidebar#left-area #sbA {
      background-color: rgba(255, 255, 255, 0.98);
      border: 2px solid #e5e9ef;
      position: absolute;
      z-index: 2; }
      .sidebar#left-area #sbA .panel-body {
        border-left-width: 0 !important;
        border-bottom-width: 0 !important;
        border-right-width: 0 !important;
        height: 300px; }
        .sidebar#left-area #sbA .panel-body .widget-fieldset {
          margin-top: 25px;
          margin-right: auto;
          margin-left: auto;
          margin-right: auto;
          width: 100%; }
          .sidebar#left-area #sbA .panel-body .widget-fieldset form {
            border-width: 0; }
          .sidebar#left-area #sbA .panel-body .widget-fieldset .checkForm {
            width: 100%;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 0; }
            .sidebar#left-area #sbA .panel-body .widget-fieldset .checkForm li {
              float: left;
              width: 100% !important;
              margin-bottom: 10px !important;
              padding-bottom: 0 !important;
              min-height: auto !important; }
              .sidebar#left-area #sbA .panel-body .widget-fieldset .checkForm li .color-box {
                margin-right: 10px; } }
/*----- Tablet up breakpoint -------*/
@media screen and (min-width: 768px) {
  .breadcrumb, .content-title {
    margin-left: 14px; }

  /*#subject-all {
  	margin-left: 15px !important;
  }*/
  .panel {
    margin-left: 0 !important; } }
/*----- Tablet breakpoint ("M") -------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #content-row {
    margin-top: 0 !important; }

  .content-title {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {
  #content-row {
    margin-top: 0px; }

  .breadcrumb, .content-title {
    margin-left: 235px !important; }

  .content-title {
    padding-bottom: 25px !important; }

  .sidebar-left {
    margin-top: 5px !important; } }
/*----- Tablet breakpoint ("M") -------*/
@media screen and (min-width: 768px) and (max-width: 1310px) {
  .breadcrumb, .content-title {
    margin-left: 15px !important; }

  #left-area #filter-by {
    top: 0 !important; }

  .sidebar-left {
    padding-left: 0 !important; }
    .sidebar-left #sbA {
      position: relative; }
      .sidebar-left #sbA #filter-by {
        position: absolute;
        top: 10px;
        left: 140px; }
        .sidebar-left #sbA #filter-by a {
          font-size: 13px;
          font-size: 0.8125rem; }
      .sidebar-left #sbA .panel-body #subject-all {
        height: 40px;
        width: 80px;
        float: left;
        margin: 0 30px 0 30px !important;
        text-transform: uppercase; }
      .sidebar-left #sbA .panel-body .widget-fieldset {
        margin-top: 25px;
        margin-bottom: 15px; }
        .sidebar-left #sbA .panel-body .widget-fieldset .checkForm li {
          float: left;
          width: 50%;
          padding-bottom: 0 !important; }
          .sidebar-left #sbA .panel-body .widget-fieldset .checkForm li input {
            margin-bottom: 15px !important; }
      .sidebar-left #sbA .panel-body .sb-subitems {
        position: absolute;
        top: -30px;
        right: 0; } }
/* COLOR INDEXES */
#calendar div.fc-event.colorIndex-undefined {
  border: 1px solid #AAAAAA; }

#calendar div.fc-event.colorIndex-undefined a {
  background-color: #AAAAAA; }

label.colorIndex-undefined {
  color: #AAAAAA; }

#calendar a.colorIndex-0 {
  border: 3px solid #00573F;
  background-color: transparent; }

label.colorIndex-0 {
  color: #00573F; }

#calendar a.colorIndex-1 {
  border: 3px solid #ED8B00;
  background-color: transparent; }

label.colorIndex-1 {
  color: #ED8B00; }

#calendar a.colorIndex-2 {
  border: 3px solid #78BE20;
  background-color: transparent; }

label.colorIndex-2 {
  color: #78BE20; }

#calendar a.colorIndex-3 {
  border: 3px solid #642667;
  background-color: transparent; }

label.colorIndex-3 {
  color: #642667; }

#calendar a.colorIndex-4 {
  border: 3px solid #C6007E;
  background-color: transparent; }

label.colorIndex-4 {
  color: #C6007E; }

#calendar a.colorIndex-5 {
  border: 3px solid #FFCD00;
  background-color: transparent; }

label.colorIndex-5 {
  color: #FFCD00; }

#calendar a.colorIndex-6 {
  border: 3px solid #00B5E2;
  background-color: transparent; }

label.colorIndex-6 {
  color: #00B5E2; }

#calendar a.colorIndex-7 {
  border: 3px solid #008EAA;
  background-color: transparent; }

label.colorIndex-7 {
  color: #008EAA; }

#calendar a.colorIndex-8 {
  border: 3px solid #ACA39A;
  background-color: transparent; }

label.colorIndex-8 {
  color: #ACA39A; }

#calendar a.colorIndex-9 {
  border: 3px solid #c7d42a;
  background-color: transparent; }

label.colorIndex-9 {
  color: #c7d42a; }

#calendar a.colorIndex-10 {
  border: 3px solid #cd6031;
  background-color: transparent; }

label.colorIndex-10 {
  color: #cd6031; }

/*----- Large Desktop breakpoint -------*/
@media screen and (min-width: 1310px) {
  .breadcrumb, .content-title {
    margin-left: 365px !important; } }
