@font-face { font-family: 'lsr'; src: url("fonts/lucida/LucidaSansRegular.ttf"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'lsb'; src: url("fonts/lucida/LucidaSansBold.ttf"); font-weight: normal; font-style: normal; }
/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
/* 2014-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
/* event.scss */
#event-cta { background-color: transparent; }
#event-cta .portlet-items { margin-top: 0; }

#accordion-e > div { padding-left: 0; padding-right: 0; }

.rows { border-top: 5px solid #008EAA; }
.rows.zebra .row:nth-child(even) { background-color: transparent; }
.rows.zebra .row:nth-child(odd) { background-color: #f2f2f2; }
.rows.zebra .row > div:first-child { padding-top: 9px; }
.rows.zebra .row > div:last-child { padding-top: 16px; }
.rows.zebra h3 { font-weight: normal !important; }

#content-core h3.uc { letter-spacing: 0 !important; }

#content-row { margin-top: 35px; }

#content-core .uc { letter-spacing: 0.05em !important; }

/*----- Tablet breakpoint -------*/
@media screen and (min-width: 768px) and (max-width: 991px) { #content { padding-right: 45px; } }
@media screen and (max-width: 767px) { .rows .row > div h3, .rows .row > div p { font-size: 12.5px; font-size: 0.78125rem; }
  #event-cta { text-align: center; }
  #event-cta h3 { display: none; }
  #event-cta button { float: none; margin-bottom: 15px; }
  #event-cta .portlet-items { float: none; }
  #event-cta .portlet-items li { display: inline-block; margin-right: 10px; }
  #event-cta .portlet-items li a { width: auto !important; }
  #event-cta .portlet-items li#vcal-icon { display: none; }
  /* #accordion-e { 	.panel-title { 		a { 			color: $ucd_blue_100 !important; 			background: url(../../images/icons/blue-100-right-arrow-down.png) 98% 50% no-repeat $rec_blue_40; 			&.collapsed { 				color: #FFF !important; 				background: url(../../images/icons/white-arrow-right-sm.png) 98% 50% no-repeat $rec_blue; 			} 			&:hover { 				color: $ucd_blue_100 !important; 				background: url(../../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat $rec_blue_40; 			} 		} 	} }*/ }
@media screen and (min-width: 768px) { .rows .row > div:first-child { text-align: right; }
  #event-cta button { float: left; }
  #event-cta .portlet-items { float: right; margin-top: 0 !important; } }
/* /event.scss */
