@font-face { font-family: 'lsr'; src: url("fonts/lucida/LucidaSansRegular.ttf"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'lsb'; src: url("fonts/lucida/LucidaSansBold.ttf"); font-weight: normal; font-style: normal; }
/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
/* 2014-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
/* CSS Document */
/* index css */
.content-main > div, .content-main > h1 { margin-left: 0; }

.right-panel .panel-body .narrow-col { float: left; }

.bottom-panel .narrow-col .btn-primary { color: #002855 !important; text-transform: uppercase; font-size: 18px; font-size: 1.125rem; text-decoration: none; }
.bottom-panel.right-panel img { /*	width: 100%; */ padding-right: 5px; }
.bottom-panel.right-panel ul { margin-top: 7px !important; }

#content ul li { background-image: url("../../images/bullets/white-square.gif") !important; }
#content #right-front-column ul li { padding-left: 0 !important; }
#content #right-front-column ul li a { text-decoration: none; }
#content #right-front-column ul li a:hover { text-decoration: underline; }

.tab { background-color: #e5e5e5; height: 100px; margin-bottom: 10px; width: 100%; cursor: pointer; /*.tab-title {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	padding-right: 8%;
	padding-left: 15px !important;
	position: relative;
	background: url(../../images/icons/blue-100-right-arrow.png) 97% 50% no-repeat;
	a {
		display: block;
		width: 100%;
		height: 100%;
		margin-right: 8%;
		text-decoration: none;
		text-align: left;
		//position: absolute;              
		//top: 50%;                         
		//transform: translate(0, -50%);	
		//color:$ucd_blue_100;
		&:hover {
			text-decoration: underline;
		}
	}
}*/ }
.tab img { float: left; }
.tab .tab-title { width: 100%; height: 100%; padding-right: 8%; padding-left: 115px; position: relative; background: url(../../images/icons/blue-100-right-arrow.png) 97% 50% no-repeat; }
.tab .tab-title a { text-decoration: none; text-align: left; position: absolute; top: 50%; transform: translate(0, -50%); margin-left: auto; margin-right: 8%; }
.tab .tab-title a:hover { text-decoration: underline; }

@media screen and (max-width: 440px) { .content-main h2 { text-align: center; } }
/*----- Mobile breakpoint ("S") --------*/
@media screen and (max-width: 767px) { .wall { margin-top: 85px; height: 432px; }
  #top-panel-row { margin-top: 40px !important; }
  .tab { padding: 0 !important; }
  .tab .tab-title { background-position: 98% 50% !important; }
  .tab .tab-title a { top: 15%; transform: translate(0, -15%); }
  .right-panel .panel-body .narrow-col { float: none; }
  .row.panel { width: 70%; margin-left: auto; margin-right: auto; }
  .row.panel .panel .panel-body h2 { display: none; }
  #top-panel-row .panel .panel-heading { background-color: rgba(0, 40, 85, 0.8); }
  #top-panel-row .panel .panel-heading .panel-title a { text-align: center !important; text-transform: uppercase; color: #FFF !important; background-image: none; background-color: transparent; padding-left: 0 !important; }
  #top-panel-row .panel .panel-heading .panel-title a.collapsed { color: #FFF !important; background-image: none; background-color: transparent; }
  #top-panel-row .panel .panel-heading .panel-title a:hover { color: #002855 !important; background-image: none; background-color: #99d2dd; }
  #middle-row h2 { background-color: #008EAA; color: #FFF; text-align: center; margin-top: 0; font-size: 18px; font-size: 1.125rem; line-height: 21px !important; line-height: 1.3125rem !important; text-transform: uppercase; padding: 8px 0; }
  #middle-row h2:hover { color: #002855; background-color: #99d2dd; }
  .panel-group { margin-right: 0; }
  .panel-group > .panel { margin-bottom: 0; }
  .panel-group > .panel .panel { margin-bottom: 5px; }
  .panel-group > .panel .panel .panel-body { padding-top: 0; }
  .panel-group > .panel .panel .panel-body .narrow-col { padding: 0; }
  .panel-group > .panel .panel .panel-body .narrow-col .content-wrap { padding-top: 15px; }
  .panel-group > .panel .panel .panel-body .narrow-col .content-wrap h3, .panel-group > .panel .panel .panel-body .narrow-col .content-wrap dd { padding-top: 0; }
  .panel-group > .panel .panel .panel-body .narrow-col .content-wrap h3 a, .panel-group > .panel .panel .panel-body .narrow-col .content-wrap dd a { color: #FFF; }
  .panel-group > .panel .panel .panel-body .narrow-col .bcontroller { padding-left: 15px; }
  #bottom-panel-row { width: auto; margin-left: 15px; margin-right: 15px; }
  #bottom-panel-row .bottom-panel .narrow-col p.bcontroller { background-color: #e5e5e5; }
  #bottom-panel-row .bottom-panel .narrow-col p.bcontroller .btn-primary { display: block; height: 40px; width: 100%; padding-top: 12px; }
  #bottom-panel-row .bottom-panel .bcontroller { padding-bottom: 0 !important; }
  #bottom-panel-row .bottom-panel.right-panel img { margin-bottom: 15px; }
  #bottom-panel-row .bottom-panel .panel-heading .panel-title a { display: block; background: url(../../images/icons/blue-100-right-arrow-down.png) 98% 50% no-repeat #f0dd99; }
  #bottom-panel-row .bottom-panel .panel-heading .panel-title a.collapsed { background: url(../../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat #DAAA00; }
  #bottom-panel-row .bottom-panel .panel-heading .panel-title a:hover { cursor: pointer !important; background-color: #f0dd99; }
  #bottom-panel-row .bottom-panel .panel-body h2 { display: none; } }
@media screen and (min-width: 768px) { /* Style adjustments for the partial-cover home wall component */
  .wall { height: 540px; }
  #top-panel-row { margin-top: 0; }
  #middle-row h2 { font-size: 36px !important; font-size: 2.25rem !important; line-height: 25px; line-height: 1.5625rem; margin-top: 45px; margin-bottom: 25px; text-align: center; }
  #content #middle-row h2 { font-size: 36px !important; font-size: 2.25rem !important; }
  #bottom-panel-row .narrow-col h2 { text-align: center; margin-bottom: 15px; }
  #bottom-panel-row .narrow-col p { color: #002855; }
  #bottom-panel-row .left-panel .narrow-col { margin-left: auto; }
  #bottom-panel-row .middle-panel .narrow-col { margin: 0 auto; }
  #bottom-panel-row .right-panel .narrow-col { margin: 0 auto; } }
/*----- Tablet breakpoint -------*/
@media screen and (min-width: 768px) and (max-width: 991px) { .wall { height: 432px !important; }
  body.home #content .narrow-col li a { font-size: 12px !important; font-size: 0.75rem !important; }
  body.home #content #top-panel-row .narrow-col .bcontroller .btn-home.btn-primary { background-position: 50% 17px !important; }
  #top-panel-row .narrow-col, #bottom-panel-row .narrow-col { /*.tab {
	height: 63px;
	img {
		height: 63px;
		width: 63px;
	}
	.tab-title {
		margin-left: 0;
		padding-left: 76px;
		a {
			//top: 10px; // TODO: breaks desktop resized to tablet width but required for iPad
			@include font_size(12px,!important);
		}
	}
} // /tab*/ }
  #top-panel-row .narrow-col .bcontroller .btn-home.btn-primary, #bottom-panel-row .narrow-col .bcontroller .btn-home.btn-primary { margin-top: 0; padding-top: 6px !important; font-size: 12px; font-size: 0.75rem; line-height: 20px !important; line-height: 1.25rem !important; }
  #top-panel-row .narrow-col h3, #bottom-panel-row .narrow-col h3 { font-weight: normal; line-height: 15px; line-height: 0.9375rem; }
  #top-panel-row .narrow-col .tab, #bottom-panel-row .narrow-col .tab { height: 63px; }
  #top-panel-row .narrow-col .tab img, #bottom-panel-row .narrow-col .tab img { height: 63px; width: 63px; }
  #top-panel-row .narrow-col .tab .tab-title, #bottom-panel-row .narrow-col .tab .tab-title { margin-left: 0; padding-left: 72px; background-position: 98% 50% !important; }
  #top-panel-row .narrow-col .tab .tab-title a, #bottom-panel-row .narrow-col .tab .tab-title a { top: 15%; margin-right: 6% !important; transform: translate(0, -15%); font-size: 11px !important; font-size: 0.6875rem !important; } }
@media screen and (min-width: 1310px) { .content-main h2 { text-align: center; }
  #bottom-panel-row { padding-left: 57px; padding-right: 57px; }
  #top-panel-row #more-content-button { left: 50px; }
  /* Custom Styles for this breakpoint */ }
