/* Example use case:

  %abstract-class {
    font-family: Verdana;
  }
 
  #my-div {
    @extend %abstract-class;
  }
 
  #my-other-div {
    @extend %abstract-class;
  }

  ... compiles as:
  #my-div, #my-other-div {
    font-family: Verdana;
  }

*/
/* 2013-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
/* _typography.scss */
/* line 4, ../../sass/components/typography/_typography.scss */
body, div, p, li, input, textarea, select {
  color: #000;
  color: #000;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125em; }

/*
@font-face {
	font-family: 'lucida sans bold';
	src: url('fonts/lucida/LucidaSansBold.ttf');
	font-weight: normal;
	font-style: normal;
}
*/
/* line 16, ../../sass/components/typography/_typography.scss */
a {
  color: #4d688c; }

/* line 18, ../../sass/components/typography/_typography.scss */
em {
  font-style: italic; }

/* line 22, ../../sass/components/typography/_typography.scss */
button {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem; }

/* line 27, ../../sass/components/typography/_typography.scss */
.btn-txt {
  display: none; }

/* line 33, ../../sass/components/typography/_typography.scss */
.portlet li, .portlet p, .portlet h4 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem; }
/* line 38, ../../sass/components/typography/_typography.scss */
.portlet .portlet-items li {
  font-size: 10px;
  font-size: 0.625rem; }
  /* line 40, ../../sass/components/typography/_typography.scss */
  .portlet .portlet-items li a {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 17px;
    line-height: 1.0625rem;
    text-decoration: none; }
    /* line 44, ../../sass/components/typography/_typography.scss */
    .portlet .portlet-items li a:hover {
      text-decoration: underline; }
  /* line 48, ../../sass/components/typography/_typography.scss */
  .portlet .portlet-items li .event-date {
    font-size: 13px;
    font-size: 0.8125rem; }

/* line 56, ../../sass/components/typography/_typography.scss */
.col-lg-4 h2 {
  font-weight: bold !important;
  font-size: 30px !important;
  font-size: 1.875rem !important;
  margin-bottom: 15px; }

/* line 64, ../../sass/components/typography/_typography.scss */
.about-bio h3 {
  font-weight: bold; }

/* line 69, ../../sass/components/typography/_typography.scss */
.pager .pager-string {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 25px;
  line-height: 1.5625rem; }

/* line 76, ../../sass/components/typography/_typography.scss */
.sidebar h3 a {
  text-transform: uppercase;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px !important;
  line-height: 1.125rem !important;
  letter-spacing: 0.1em;
  padding-bottom: 4px; }
/* line 84, ../../sass/components/typography/_typography.scss */
.sidebar li {
  font-size: 13px !important;
  font-size: 0.8125rem !important;
  line-height: 18px;
  line-height: 1.125rem; }
/* line 93, ../../sass/components/typography/_typography.scss */
.sidebar .vcard {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem; }
  /* line 96, ../../sass/components/typography/_typography.scss */
  .sidebar .vcard .adr, .sidebar .vcard #email-phone {
    line-height: 18px;
    line-height: 1.125rem; }

/* line 102, ../../sass/components/typography/_typography.scss */
figure figcaption {
  text-align: right;
  font-size: 10.65px;
  font-size: 0.66563rem;
  color: #002855;
  text-transform: uppercase; }

/* line 111, ../../sass/components/typography/_typography.scss */
#content-main form input, #content-main form select, #content-main form textarea {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem; }
/* line 115, ../../sass/components/typography/_typography.scss */
#content-main form .req-txt {
  font-size: 10px;
  font-size: 0.625rem; }

/* line 122, ../../sass/components/typography/_typography.scss */
.corner-box h2, .corner-box h3, .corner-box p, .corner-box li, .corner-box a {
  color: #FFF; }
/* line 126, ../../sass/components/typography/_typography.scss */
.corner-box .box-content h2 {
  padding: 15px 0;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0.075em; }
/* line 131, ../../sass/components/typography/_typography.scss */
.corner-box .box-content h3 {
  padding: 0 0 8px 0;
  font-size: 13px;
  font-size: 0.8125rem; }
/* line 135, ../../sass/components/typography/_typography.scss */
.corner-box .box-content p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 20px;
  line-height: 1.25rem; }

/* line 143, ../../sass/components/typography/_typography.scss */
.sidebar-info h4 {
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem; }

/* line 149, ../../sass/components/typography/_typography.scss */
.uc {
  text-transform: uppercase;
  letter-spacing: 0.1em !important; }

/* line 154, ../../sass/components/typography/_typography.scss */
.content-title {
  padding-bottom: 30px;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 43px;
  line-height: 2.6875rem;
  letter-spacing: 0.01em;
  margin-top: 0 !important; }

/* line 163, ../../sass/components/typography/_typography.scss */
#content-main h2, #am-content h2 {
  font-size: 24px !important;
  font-size: 1.5rem !important;
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 15px; }
/* line 169, ../../sass/components/typography/_typography.scss */
#content-main h3, #am-content h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 25px;
  line-height: 1.5625rem;
  padding-top: 15px;
  padding-bottom: 15px; }
/* line 176, ../../sass/components/typography/_typography.scss */
#content-main .narrow-col h2, #content-main .narrow-col h3, #am-content .narrow-col h2, #am-content .narrow-col h3 {
  padding-bottom: 0; }

/* line 185, ../../sass/components/typography/_typography.scss */
body.bio #summary #jumplinks {
  width: 30% !important; }
  /* line 187, ../../sass/components/typography/_typography.scss */
  body.bio #summary #jumplinks ul {
    margin-right: 35px; }
    /* line 189, ../../sass/components/typography/_typography.scss */
    body.bio #summary #jumplinks ul li {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 22px;
      line-height: 1.375rem;
      padding-left: 0 !important;
      background-image: none !important;
      text-align: right; }
/* line 198, ../../sass/components/typography/_typography.scss */
body.bio #summary #education {
  width: 70% !important; }
  /* line 200, ../../sass/components/typography/_typography.scss */
  body.bio #summary #education ul {
    margin-top: 10px; }
    /* line 202, ../../sass/components/typography/_typography.scss */
    body.bio #summary #education ul li {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 18px;
      line-height: 1.125rem;
      margin-bottom: 5px;
      padding-left: 0 !important;
      background-image: none !important; }

/* line 215, ../../sass/components/typography/_typography.scss */
#cm-content p.intro {
  margin-bottom: 45px; }

/* line 220, ../../sass/components/typography/_typography.scss */
#content-main p, #content-main li, #content-main ol, #content-main div, #content-main span, #am-content p, #am-content li, #am-content ol, #am-content div, #am-content span {
  line-height: 24px !important;
  line-height: 1.5rem !important; }
/* line 223, ../../sass/components/typography/_typography.scss */
#content-main p, #am-content p {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem; }
  /* line 226, ../../sass/components/typography/_typography.scss */
  #content-main p.intro, #am-content p.intro {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 30px !important;
    line-height: 1.875rem !important; }
/* line 231, ../../sass/components/typography/_typography.scss */
#content-main li, #content-main ol, #am-content li, #am-content ol {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem; }
/* line 236, ../../sass/components/typography/_typography.scss */
#content-main .breadcrumb p, #am-content .breadcrumb p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 15px;
  line-height: 0.9375rem;
  margin-bottom: 0; }
  /* line 240, ../../sass/components/typography/_typography.scss */
  #content-main .breadcrumb p a, #am-content .breadcrumb p a {
    text-decoration: none; }
    /* line 242, ../../sass/components/typography/_typography.scss */
    #content-main .breadcrumb p a:hover, #am-content .breadcrumb p a:hover {
      text-decoration: underline; }

/*----- Mobile breakpoint --------*/
@media screen and (max-width: 768px) {
  /* line 255, ../../sass/components/typography/_typography.scss */
  body.bio .content-title {
    display: none; }
  /* line 259, ../../sass/components/typography/_typography.scss */
  body.bio .bio-card h4.fn {
    padding-bottom: 30px;
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 25px;
    line-height: 1.5625rem;
    letter-spacing: 0.01em;
    margin-top: 4px !important; }

  /* line 270, ../../sass/components/typography/_typography.scss */
  .sidebar h3 {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 40px;
    line-height: 2.5rem;
    letter-spacing: .1em; }

  /* line 281, ../../sass/components/typography/_typography.scss */
  #content-main .panel-group .row.panel .panel-title a, #am-content .panel-group .row.panel .panel-title a {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 40px;
    line-height: 2.5rem; }

  /* line 290, ../../sass/components/typography/_typography.scss */
  #top-panel-row {
    margin-top: 45px; }

  /* line 297, ../../sass/components/typography/_typography.scss */
  .panel-group #middle-row h2 {
    font-size: 18px !important;
    font-size: 1.125rem !important;
    line-height: 24px;
    line-height: 1.5rem; }

  /* line 309, ../../sass/components/typography/_typography.scss */
  #thumb-section .panel-group .panel-heading .panel-title a {
    font-size: 18px !important;
    font-size: 1.125rem !important;
    line-height: 45px !important;
    line-height: 2.8125rem !important; } }
/* line 322, ../../sass/components/typography/_typography.scss */
body.res-lab #content-row div > h2 {
  font-size: 24px !important;
  font-size: 1.5rem !important;
  line-height: 28px;
  line-height: 1.75rem;
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 335, ../../sass/components/typography/_typography.scss */
#thumb-section .panel-group .panel-heading .panel-title a {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 70px;
  line-height: 4.375rem; }
/* line 343, ../../sass/components/typography/_typography.scss */
#thumb-section section h4 {
  font-size: 20px !important;
  font-size: 1.25rem !important;
  margin-bottom: 25px; }

/* line 352, ../../sass/components/typography/_typography.scss */
#content-main ul li, #am-content ul li, #cm-content ul li {
  font-size: 15px !important;
  font-size: 0.9375rem !important;
  line-height: 24px;
  line-height: 1.5rem; }

/*----- tablet breakpoint -------*/
@media screen and (min-width: 768px) {
  /* line 361, ../../sass/components/typography/_typography.scss */
  .top-panel {
    /*
    &.left-panel {
    	//text-align: right;
    }
    &.middle-panel {
    	//text-align: center;
    }
    &.right-panel {
    	//text-align: left;
    }
    */ }
    /* line 363, ../../sass/components/typography/_typography.scss */
    .top-panel #content-main .narrow-col, .top-panel #am-content .narrow-col, .top-panel #cm-content .narrow-col {
      color: #FFF; }
      /* line 365, ../../sass/components/typography/_typography.scss */
      .top-panel #content-main .narrow-col h2, .top-panel #am-content .narrow-col h2, .top-panel #cm-content .narrow-col h2 {
        text-align: center !important; }
      /* line 368, ../../sass/components/typography/_typography.scss */
      .top-panel #content-main .narrow-col h3, .top-panel #content-main .narrow-col p, .top-panel #am-content .narrow-col h3, .top-panel #am-content .narrow-col p, .top-panel #cm-content .narrow-col h3, .top-panel #cm-content .narrow-col p {
        text-align: left !important; }
    /* line 377, ../../sass/components/typography/_typography.scss */
    .top-panel.left-panel h2, .top-panel.left-panel h2, .top-panel.left-panel h2 {
      text-align: center !important; }

  /* line 397, ../../sass/components/typography/_typography.scss */
  .container .sidebar .panel-heading .panel-title {
    padding-top: 8px !important; } }
/*----- Tablet breakpoint --------*/
@media screen and (max-width: 992px) {
  /* line 417, ../../sass/components/typography/_typography.scss */
  body.home #content-main .narrow-col h2, body.home #am-content .narrow-col h2 {
    font-size: 17px;
    font-size: 1.0625rem; }
  /* line 425, ../../sass/components/typography/_typography.scss */
  body.home #content-main #top-panel-row .narrow-col .bcontroller .btn-primary, body.home #am-content #top-panel-row .narrow-col .bcontroller .btn-primary {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 18px !important;
    line-height: 1.125rem !important; }
  /* line 433, ../../sass/components/typography/_typography.scss */
  body.home #content-main #bottom-panel-row h2, body.home #am-content #bottom-panel-row h2 {
    font-size: 18px;
    font-size: 1.125rem; }

  /* line 441, ../../sass/components/typography/_typography.scss */
  #content-main .content-title, #am-content .content-title {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 28px;
    line-height: 1.75rem; }

  /* line 449, ../../sass/components/typography/_typography.scss */
  .corner-box .box-content h2 {
    padding: 10px 0;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 0.075em; }
  /* line 454, ../../sass/components/typography/_typography.scss */
  .corner-box .box-content h3 {
    padding: 0 0 0 0;
    font-size: 11px;
    font-size: 0.6875rem; }
  /* line 458, ../../sass/components/typography/_typography.scss */
  .corner-box .box-content p {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 15px;
    line-height: 0.9375rem; }

  /* line 470, ../../sass/components/typography/_typography.scss */
  #thumb-section .panel-group .panel-heading .panel-title a {
    font-size: 16px !important;
    font-size: 1rem !important;
    line-height: 40px !important;
    line-height: 2.5rem !important; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {
  /* line 490, ../../sass/components/typography/_typography.scss */
  body.home #content-main #top-panel-row .narrow-col .bcontroller .btn-primary, body.home #am-content #top-panel-row .narrow-col .bcontroller .btn-primary {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 30px !important;
    line-height: 1.875rem !important; } }
@media screen and (max-width: 1310px) {
  /* line 507, ../../sass/components/typography/_typography.scss */
  body.home #content-main .narrow-col a, body.home #content-main .narrow-col p, body.home #content-main .narrow-col li, body.home #am-content .narrow-col a, body.home #am-content .narrow-col p, body.home #am-content .narrow-col li {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 15px !important;
    line-height: 0.9375rem !important; } }
/* /_typography.scss */
/* ourpeople.scss */
/* Colors */
/*#container-1, #container-2 {
	visibility: hidden;
}*/
/* line 21, ../../sass/sections/ourpeople.scss */
#content-main a {
  text-decoration: none; }
  /* line 23, ../../sass/sections/ourpeople.scss */
  #content-main a:hover {
    text-decoration: underline; }

/* line 28, ../../sass/sections/ourpeople.scss */
.genericTile {
  padding-left: 0;
  border: 3px solid white;
  background-color: #e5e9ef; }
  /* line 32, ../../sass/sections/ourpeople.scss */
  .genericTile .personEntryWrapper {
    top: -10px;
    left: 0;
    background: #ccd4e0;
    width: 90px;
    position: relative;
    height: 90px !important;
    float: left; }

/* line 42, ../../sass/sections/ourpeople.scss */
#am-content {
  padding: 0 0 15px 20px; }

/* line 45, ../../sass/sections/ourpeople.scss */
.op-sidebar-title {
  text-align: left;
  text-transform: uppercase; }
  /* line 49, ../../sass/sections/ourpeople.scss */
  .op-sidebar-title span {
    font-size: 16px;
    font-size: 1rem;
    color: #000; }

/* line 54, ../../sass/sections/ourpeople.scss */
.sidebar {
  margin-top: 20px;
  color: #4D688C; }

/* line 59, ../../sass/sections/ourpeople.scss */
.caption {
  position: relative;
  margin-top: 10px;
  left: 10px; }
  /* line 63, ../../sass/sections/ourpeople.scss */
  .caption .personName {
    padding-bottom: 5px; }
    /* line 64, ../../sass/sections/ourpeople.scss */
    .caption .personName a {
      font-size: 13px;
      font-size: 0.8125rem;
      font-weight: bold; }
  /* line 70, ../../sass/sections/ourpeople.scss */
  .caption a {
    color: #4D688C; }
  /* line 73, ../../sass/sections/ourpeople.scss */
  .caption p {
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 0px; }
  /* line 77, ../../sass/sections/ourpeople.scss */
  .caption .job {
    font-size: 11px !important;
    font-size: 0.6875rem !important;
    font-style: italic; }

/* line 82, ../../sass/sections/ourpeople.scss */
#dropdown-icon {
  float: right; }

/* line 85, ../../sass/sections/ourpeople.scss */
.lab {
  clear: left;
  padding: 5px 0;
  padding-left: 30px; }

/* line 92, ../../sass/sections/ourpeople.scss */
.table-header {
  margin-bottom: 10px;
  background: #008EAA;
  color: #fff;
  padding-top: 7px;
  padding-left: 10px;
  height: 35px; }

@media screen and (max-width: 767px) {
  /* line 105, ../../sass/sections/ourpeople.scss */
  .sidebar .collapsible {
    background: #e5e5e5; }

  /* line 110, ../../sass/sections/ourpeople.scss */
  #am-content {
    padding: 20px 20px; }

  /* line 114, ../../sass/sections/ourpeople.scss */
  .panel-body {
    padding: 10px 0 !important; } }
@media screen and (min-width: 768px) {
  /* line 119, ../../sass/sections/ourpeople.scss */
  .sidebar {
    margin-top: 65px; } }
/* /ourpeople.scss */
