@font-face { font-family: 'lsr'; src: url("fonts/lucida/LucidaSansRegular.ttf"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'lsb'; src: url("fonts/lucida/LucidaSansBold.ttf"); font-weight: normal; font-style: normal; }
/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
/* 2014-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
strong { font-weight: bold; }

i { font-style: italic !important; }

table { border: 1px solid #f2f2f2; }
table #aster { padding: 14px; }

.sidebar-right .info { letter-spacing: 0.05em; }
.sidebar-right #sidebar-block-contact li { line-height: 18px !important; line-height: 1.125rem !important; }

/*----- Mobile breakpoint --------*/
/*----- "M" breakpoint -------*/
@media screen and (max-width: 767px) { #content { margin-bottom: 5px; }
  #content tr { background-color: #f2f2f2; }
  #content tr.alt { background-color: #fff; }
  #content tr.item td, #content tr.core td, #content tr.desc td { font-size: 12.5px; font-size: 0.78125rem; }
  #content tr.item td h3, #content tr.core td h3, #content tr.desc td h3 { padding-bottom: 0; line-height: 16px !important; line-height: 1rem !important; }
  #content tr.item td.first, #content tr.core td.first, #content tr.desc td.first { border-top: 5px solid #008EAA; }
  #content tr.item td:last-child, #content tr.core td:last-child, #content tr.desc td:last-child { padding-bottom: 15px; }
  #content tr.item td a, #content tr.core td a, #content tr.desc td a { font-size: 12.5px !important; font-size: 0.78125rem !important; }
  #content tr.item td p, #content tr.core td p, #content tr.desc td p { margin-bottom: 0; line-height: 16px !important; line-height: 1rem !important; }
  #content tr.item td p:first-child, #content tr.core td p:first-child, #content tr.desc td p:first-child { font-weight: bold; }
  #content tr.item td:first-child, #content tr.core td:first-child, #content tr.desc td:first-child { padding-top: 15px; }
  #content tr.item td .group, #content tr.core td .group, #content tr.desc td .group { margin-bottom: 10px; }
  #content tr .emph { margin-bottom: 0; font-size: 12.5px !important; font-size: 0.78125rem !important; }
  #content .panel-group { margin-top: 5px; }
  #content .panel-group .panel-body { margin-top: 0; padding-right: 20px; }
  #content .description { font-size: 12.5px !important; font-size: 0.78125rem !important; }
  #content .content-title { font-size: 21px !important; font-size: 1.3125rem !important; }
  #content #aster { height: 45px; font-size: 12.5px !important; font-size: 0.78125rem !important; }
  .info { text-align: center; }
  #sidebar-block-contact .email { display: inline-block; }
  ul#sidebar-block-contact { padding-left: 15px !important; }
  ul#sidebar-block-contact .appt { margin-bottom: 10px; } }
@media screen and (min-width: 768px) { #content table { margin-top: 20px; }
  #content table tr { width: 100%; }
  #content table tr.header { height: 30px; color: #fff; background-color: #008EAA; }
  #content table tr.header td { font-size: 15px !important; font-size: 0.9375rem !important; vertical-align: middle; }
  #content table tr td { border-right: 1px solid #fff; font-size: 12px !important; font-size: 0.75rem !important; line-height: 15px; line-height: 0.9375rem; word-wrap: break-word; }
  #content table tr td a { font-size: 12px; font-size: 0.75rem; }
  #content table tr td .emph { font-size: 12px; font-size: 0.75rem; line-height: 15px !important; line-height: 0.9375rem !important; }
  #content table tr td:last-child { border-right: none; }
  #content table tr.alt { background-color: #f2f2f2; }
  #content table tr.item td, #content table tr.core td, #content table tr.desc td { padding: 14px; min-height: 50px; }
  #content table tr.core td:first-child { text-align: center; }
  #content table tr p { font-size: 12px; font-size: 0.75rem; }
  #content table .row { display: table; }
  #content table .row [class*="col-"] { float: none; display: table-cell; }
  #content table .caption { font-size: 12px !important; font-size: 0.75rem !important; }
  #content .description { margin-bottom: 0; }
  #content h2 { padding-bottom: 20px; }
  ul#sidebar-block-contact { margin-top: 14px; }
  ul#sidebar-block-contact li { font-size: 12px !important; font-size: 0.75rem !important; }
  ul#sidebar-block-contact li.fn a { color: #000; }
  ul#sidebar-block-contact li.fn a:hover { text-decoration: none; }
  ul#sidebar-block-contact li.category { margin-bottom: 20px; }
  ul#sidebar-block-contact li.email { margin-bottom: 20px; }
  ul#sidebar-block-contact li.appt { margin-bottom: 15px; }
  .info { background-color: #e5e9ef; display: block; height: 40px; }
  .info a { display: block; padding-top: 14px; padding-left: 35px; color: #335379; text-decoration: none; font-size: 12px; font-size: 0.75rem; font-weight: bold; } }
@media screen and (min-width: 768px) and (max-width: 991px) { #content h2 { padding-top: 40px; }
  #content #aster { height: 37px; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) { #content h2 { padding-top: 45px; }
  #content #aster { height: 49px; } }
