@font-face {
  font-family: 'lsr';
  src: url("fonts/lucida/LucidaSansRegular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lsb';
  src: url("fonts/lucida/LucidaSansBold.ttf");
  font-weight: normal;
  font-style: normal; }
/* Example use case:

  %abstract-class {
    font-family: Verdana;
  }
 
  #my-div {
    @extend %abstract-class;
  }
 
  #my-other-div {
    @extend %abstract-class;
  }

  ... compiles as:
  #my-div, #my-other-div {
    font-family: Verdana;
  }

*/
/* 2014-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
/* UCD Identity - Colors (http://identitystandards.ucdavis.edu/graphic-standards/colors.html) */
/* Other Custom colors */
/* line 6, ../../sass/sections/tables.scss */
strong {
  font-weight: bold; }

/* line 9, ../../sass/sections/tables.scss */
i {
  font-style: italic !important; }

/* line 15, ../../sass/sections/tables.scss */
table {
  border: 1px solid #f2f2f2; }
  /* line 17, ../../sass/sections/tables.scss */
  table #aster {
    padding: 14px; }

/* line 22, ../../sass/sections/tables.scss */
.sidebar-right .info {
  letter-spacing: 0.05em; }
/* line 26, ../../sass/sections/tables.scss */
.sidebar-right #sidebar-block-contact li {
  line-height: 18px !important;
  line-height: 1.125rem !important; }

/*----- Mobile breakpoint --------*/
/*----- "M" breakpoint -------*/
@media screen and (max-width: 767px) {
  /* line 37, ../../sass/sections/tables.scss */
  #content {
    margin-bottom: 5px; }
    /* line 39, ../../sass/sections/tables.scss */
    #content tr {
      background-color: #f2f2f2; }
      /* line 41, ../../sass/sections/tables.scss */
      #content tr.alt {
        background-color: #fff; }
      /* line 45, ../../sass/sections/tables.scss */
      #content tr.item td, #content tr.core td, #content tr.desc td {
        font-size: 12.5px;
        font-size: 0.78125rem; }
        /* line 47, ../../sass/sections/tables.scss */
        #content tr.item td h3, #content tr.core td h3, #content tr.desc td h3 {
          padding-bottom: 0;
          line-height: 16px !important;
          line-height: 1rem !important; }
        /* line 51, ../../sass/sections/tables.scss */
        #content tr.item td.first, #content tr.core td.first, #content tr.desc td.first {
          border-top: 5px solid #008EAA; }
        /* line 54, ../../sass/sections/tables.scss */
        #content tr.item td:last-child, #content tr.core td:last-child, #content tr.desc td:last-child {
          padding-bottom: 15px; }
        /* line 57, ../../sass/sections/tables.scss */
        #content tr.item td a, #content tr.core td a, #content tr.desc td a {
          font-size: 12.5px !important;
          font-size: 0.78125rem !important; }
        /* line 60, ../../sass/sections/tables.scss */
        #content tr.item td p, #content tr.core td p, #content tr.desc td p {
          margin-bottom: 0;
          line-height: 16px !important;
          line-height: 1rem !important; }
          /* line 64, ../../sass/sections/tables.scss */
          #content tr.item td p:first-child, #content tr.core td p:first-child, #content tr.desc td p:first-child {
            font-weight: bold; }
        /* line 68, ../../sass/sections/tables.scss */
        #content tr.item td:first-child, #content tr.core td:first-child, #content tr.desc td:first-child {
          padding-top: 15px; }
        /* line 71, ../../sass/sections/tables.scss */
        #content tr.item td .group, #content tr.core td .group, #content tr.desc td .group {
          margin-bottom: 10px; }
      /* line 77, ../../sass/sections/tables.scss */
      #content tr .emph {
        margin-bottom: 0;
        font-size: 12.5px !important;
        font-size: 0.78125rem !important; }
    /* line 82, ../../sass/sections/tables.scss */
    #content .panel-group {
      margin-top: 5px; }
      /* line 84, ../../sass/sections/tables.scss */
      #content .panel-group .panel-body {
        margin-top: 0;
        padding-right: 20px; }
    /* line 90, ../../sass/sections/tables.scss */
    #content .description {
      font-size: 12.5px !important;
      font-size: 0.78125rem !important; }
    /* line 93, ../../sass/sections/tables.scss */
    #content .content-title {
      font-size: 21px !important;
      font-size: 1.3125rem !important; }
    /* line 96, ../../sass/sections/tables.scss */
    #content #aster {
      height: 45px;
      font-size: 12.5px !important;
      font-size: 0.78125rem !important; }

  /* line 101, ../../sass/sections/tables.scss */
  .info {
    text-align: center; }

  /* line 108, ../../sass/sections/tables.scss */
  #sidebar-block-contact .email {
    display: inline-block; }

  /* line 111, ../../sass/sections/tables.scss */
  ul#sidebar-block-contact {
    padding-left: 15px !important; }
    /* line 113, ../../sass/sections/tables.scss */
    ul#sidebar-block-contact .appt {
      margin-bottom: 10px; } }
@media screen and (min-width: 768px) {
  /* line 121, ../../sass/sections/tables.scss */
  #content table {
    margin-top: 20px; }
    /* line 123, ../../sass/sections/tables.scss */
    #content table tr {
      width: 100%; }
      /* line 125, ../../sass/sections/tables.scss */
      #content table tr.header {
        height: 30px;
        color: #fff;
        background-color: #008EAA; }
        /* line 129, ../../sass/sections/tables.scss */
        #content table tr.header td {
          font-size: 15px !important;
          font-size: 0.9375rem !important;
          vertical-align: middle; }
      /* line 134, ../../sass/sections/tables.scss */
      #content table tr td {
        border-right: 1px solid #fff;
        font-size: 12px !important;
        font-size: 0.75rem !important;
        line-height: 15px;
        line-height: 0.9375rem;
        word-wrap: break-word; }
        /* line 139, ../../sass/sections/tables.scss */
        #content table tr td a {
          font-size: 12px;
          font-size: 0.75rem; }
        /* line 142, ../../sass/sections/tables.scss */
        #content table tr td .emph {
          font-size: 12px;
          font-size: 0.75rem;
          line-height: 15px !important;
          line-height: 0.9375rem !important; }
      /* line 147, ../../sass/sections/tables.scss */
      #content table tr td:last-child {
        border-right: none; }
      /* line 150, ../../sass/sections/tables.scss */
      #content table tr.alt {
        background-color: #f2f2f2; }
      /* line 154, ../../sass/sections/tables.scss */
      #content table tr.item td, #content table tr.core td, #content table tr.desc td {
        padding: 14px;
        min-height: 50px; }
      /* line 160, ../../sass/sections/tables.scss */
      #content table tr.core td:first-child {
        text-align: center; }
      /* line 164, ../../sass/sections/tables.scss */
      #content table tr p {
        font-size: 12px;
        font-size: 0.75rem; }
    /* line 168, ../../sass/sections/tables.scss */
    #content table .row {
      display: table; }
    /* line 171, ../../sass/sections/tables.scss */
    #content table .row [class*="col-"] {
      float: none;
      display: table-cell; }
    /* line 175, ../../sass/sections/tables.scss */
    #content table .caption {
      font-size: 12px !important;
      font-size: 0.75rem !important; }
  /* line 179, ../../sass/sections/tables.scss */
  #content .description {
    margin-bottom: 0; }
  /* line 182, ../../sass/sections/tables.scss */
  #content h2 {
    padding-bottom: 20px; }

  /* line 186, ../../sass/sections/tables.scss */
  ul#sidebar-block-contact {
    margin-top: 14px; }
    /* line 188, ../../sass/sections/tables.scss */
    ul#sidebar-block-contact li {
      font-size: 12px !important;
      font-size: 0.75rem !important; }
      /* line 191, ../../sass/sections/tables.scss */
      ul#sidebar-block-contact li.fn a {
        color: #000; }
        /* line 193, ../../sass/sections/tables.scss */
        ul#sidebar-block-contact li.fn a:hover {
          text-decoration: none; }
      /* line 198, ../../sass/sections/tables.scss */
      ul#sidebar-block-contact li.category {
        margin-bottom: 20px; }
      /* line 201, ../../sass/sections/tables.scss */
      ul#sidebar-block-contact li.email {
        margin-bottom: 20px; }
      /* line 204, ../../sass/sections/tables.scss */
      ul#sidebar-block-contact li.appt {
        margin-bottom: 15px; }

  /* line 209, ../../sass/sections/tables.scss */
  .info {
    background-color: #e5e9ef;
    display: block;
    height: 40px; }
    /* line 213, ../../sass/sections/tables.scss */
    .info a {
      display: block;
      padding-top: 14px;
      padding-left: 35px;
      color: #335379;
      text-decoration: none;
      font-size: 12px;
      font-size: 0.75rem;
      font-weight: bold; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 228, ../../sass/sections/tables.scss */
  #content h2 {
    padding-top: 40px; }
  /* line 231, ../../sass/sections/tables.scss */
  #content #aster {
    height: 37px; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {
  /* line 240, ../../sass/sections/tables.scss */
  #content h2 {
    padding-top: 45px; }
  /* line 243, ../../sass/sections/tables.scss */
  #content #aster {
    height: 49px; } }
