# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

#osX
.DS_Store

#sass
*.sass-cache
#dssweb/theme/magic/static/assets/styles.css
#dssweb/theme/magic/static/assets/sub-org.css
#dssweb/theme/magic/static/assets/global.css
#dssweb/theme/magic/static/assets/components
#dssweb/theme/magic/static/assets/sections/*.css
#dssweb/theme/magic/static/assets/vendor/bootstrap.css
#dssweb/theme/magic/static/assets/vendor/jquery.cf.happybox.css

#codekit
config.codekit

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# mac detritus
._*
