/* Legacy Drupal Omega 3 mobile styles file */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. Updated: 12/3/13 */
/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
/* 2013-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
#breadcrumb .breadcrumb { padding: 0; margin-bottom: 0; list-style: none; background-color: transparent; border-radius: 0; }
#breadcrumb .breadcrumb > li { display: auto; }
#breadcrumb .breadcrumb > li + li:before { padding: 0; color: auto; content: auto; }
#breadcrumb .breadcrumb > .active { color: auto; }

/*Used for overriding underlined text */
.nounderline > a { color: inherit; text-decoration: none; }

.panel-body-overriden { padding-top: 15px; padding-right: 15px; padding-bottom: 0px; padding-left: 15px; }

.panel-group .panel + .panel { margin-top: 0 !important; }

.panel { outline: none; border: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

/* _typography.scss */
body, div, p, li { color: #000; color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.3125em; }

@font-face { font-family: 'lucida sans bold'; src: url("fonts/lucida/LucidaSansBold.ttf"); font-weight: normal; font-style: normal; }
.content-main p, .content-main li, .content-main ol, .content-main div, .content-main span { line-height: 24px !important; line-height: 1.5rem !important; }
.content-main p { font-size: 15px; font-size: 0.9375rem; line-height: 18px; line-height: 1.125rem; }
.content-main p.intro { font-size: 18px; font-size: 1.125rem; line-height: 30px !important; line-height: 1.875rem !important; }
.content-main .breadcrumb p { font-size: 12px; font-size: 0.75rem; line-height: 15px; line-height: 0.9375rem; margin-bottom: 0; }
.content-main .breadcrumb p a { text-decoration: none; }
.content-main .breadcrumb p a:hover { text-decoration: underline; }
.content-main figure figcaption { text-align: right; font-size: 10.65px; font-size: 0.66563rem; text-transform: uppercase; }

/*----- Desktop breakpoint -------*/
@media screen and (min-width: 768px) { .top-panel { /*
&.left-panel {
	//text-align: right;
}
&.middle-panel {
	//text-align: center;
}
&.right-panel {
	//text-align: left;
}
*/ }
  .top-panel .content-main .narrow-col { color: #FFF; }
  .top-panel .content-main .narrow-col h2 { text-align: center !important; }
  .top-panel .content-main .narrow-col h3, .top-panel .content-main .narrow-col p { text-align: left !important; }
  .top-panel.left-panel h2, .top-panel.left-panel h2, .top-panel.left-panel h2 { text-align: center !important; } }
/* /_typography.scss */
@-ms-viewport { width: device-width; }
html, body { color: #000; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.3125em; font-family: Arial, Helvetica, sans-serif; line-height: 1.313em; }

strong { font-weight: bold !important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 1.313em; }

h1 { margin: 0; }

h3, h2 { letter-spacing: 0; line-height: 1.1em; }
