/* Legacy Drupal Omega 3 mobile styles file */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. Updated: 12/3/13 */
/* 2013-05-12 RAK: Bootstrap overrides moved from default gem installation that placed overrides directly in the _variables.scss file */
#breadcrumb .breadcrumb { padding: 0; margin-bottom: 0; list-style: none; background-color: transparent; border-radius: 0; }
#breadcrumb .breadcrumb > li { display: auto; }
#breadcrumb .breadcrumb > li + li:before { padding: 0; color: auto; content: auto; }
#breadcrumb .breadcrumb > .active { color: auto; }

/*Used for overriding underlined text */
.nounderline > a { color: inherit; text-decoration: none; }

.panel-body-overriden { padding-top: 15px; padding-right: 15px; padding-bottom: 0px; padding-left: 15px; }

.panel-group .panel + .panel { margin-top: 0 !important; }

.panel { outline: none; border: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

body, div, p, li { color: #333333; }

@font-face { font-family: 'lucida sans bold'; src: url("fonts/lucida/LucidaSansBold.ttf"); font-weight: normal; font-style: normal; }

/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) { .top-panel .content-main .narrow-col { color: #FFF; }
  .top-panel .content-main .narrow-col h3, .top-panel .content-main .narrow-col p { text-align: left !important; }
  .top-panel.left-panel { text-align: right; }
  .top-panel.middle-panel { text-align: center; }
  .top-panel.right-panel { text-align: left; } }
/* _theme.scss */
/* 2014-06-12 RAK: This file contains theme CSS and mediaquery for responsive (at end of file).  TODO:  - Move to SASS 
*/
body { /*padding-top: 20px;*/ }

head { font-family: 'XS'; }

body:after { content: "XS"; display: none; }

.container { width: 1280px; padding: 0; }

.body-img { border: 1px solid red; height: 120px; width: 200px; float: left; }

.content { margin-left: 90px; }

#utility ul li { text-align: center; display: inline; list-style-type: none; padding-right: 50px; width: 100%; }
#utility ul { padding-top: 100px; text-align: center; clear: both; }

.footer { background-color: #4d688c; height: 250px; width: 100%; clear: both; }
.footer .foot-wrap { margin-right: 0 90px; width: 100%; }
.footer .footer-nav, .footer p { float: left; color: #fff; text-decoration: none; margin-top: 36px; }
.footer #copyright { clear: both; }
.footer .footer-nav { border-left: 1px solid white; width: 150px; }
.footer .footer-nav li { padding-left: 10px; }
.footer .footer-nav li a { color: #fff; }
.footer p { margin-right: 135px; font-size: 14px; font-family: lucida; }
.footer p a { color: #fff; text-decoration: underline; letter-spacing: .014em; }
.footer #foot-social { width: 217px; float: left; margin-top: 35px; margin-left: 85px; }
.footer #foot-social li { display: inline; width: 50px; }
.footer #foot-social li a { border-left: 1px solid white; padding: 0 15px; color: #fff; }
.footer #foot-social .last a { border-right: 1px solid white; }

input { text-align: center; }

.contact { margin-top: 15px; }

.content { margin-top: 47px; margin-bottom: 40px; padding: 0; }

.breadcrumb { background: none; padding: 0 0 !important; margin-bottom: 10px; }

.content-title { padding-bottom: 20px; font-size: 36px; letter-spacing: .01em; margin-top: 0px !important; }

.content-main { font-size: 16px; }
.content-main h2 { font-size: 25px; font-weight: bold; padding-top: 15px; padding-bottom: 15px; }

#main { margin-top: -450px; }

.jumbotron { padding: 0 !important; margin: 0 !important; text-align: center; margin-top: 20px; background-color: transparent; }
.jumbotron h1 { font-weight: normal; display: none; }

.wall { position: absolute; z-index: -100; top: 0; width: 100%; height: 500px !important; }

.sidebar { height: auto; width: 250px !important; margin-top: 15px; text-align: left; background: #f2f2f2; }
.sidebar h3 { height: 30px; }
.sidebar h3 a { color: #fff; text-transform: uppercase; line-height: 22px; letter-spacing: .1em; font-size: 13px; padding-left: 38px; position: relative; top: 4px; }
.sidebar .panel-title a:hover { cursor: text; }
.sidebar .panel-heading { padding: 0; }
.sidebar .collapsible { background: #f2f2f2; }

.sidebar-right { position: relative; top: 140px; float: right; margin-right: 90px; }

.more_text { display: none; }

.body-list, .sub-list { list-style-type: circle; margin-left: 20px; }
.body-list li, .sub-list li { padding-bottom: 10px; }

.download { font-weight: bold; }

#downloads a { text-decoration: underline; color: #335379; }

#sidebar-block-contact { margin-top: 20px; }
#sidebar-block-contact li { text-align: left; padding-left: 38px; }
#sidebar-block-contact #name { text-transform: uppercase; color: #335379; font-family: lucida bold; }
#sidebar-block-contact #position { font-style: italic; font-size: 12px; letter-spacing: .01em; }
#sidebar-block-contact #phone { font-size: 13px; letter-spacing: .01em; }
#sidebar-block-contact #email { font-size: 13px; letter-spacing: .01em; }

.sidebar-block-items { background: #e5e5e5; padding-bottom: 10px; text-align: left; width: auto; height: 100%; padding-left: 15px; margin-left: 35px; list-style-type: circle; }

.top-bar { background: #002855 !important; height: 80px !important; margin: 0 90px; }
.top-bar .title-area { top: 15px; }
.top-bar .title-area .name { letter-spacing: .15em; }
.top-bar .title-area .name h1 a { font-size: 1.5rem; text-transform: uppercase; font-family: lucida sans bold; font-weight: bold; text-decoration: none; }
.top-bar .top-bar-section { height: 100%; }
.top-bar .top-bar-section .right { width: 60%; height: 100% !important; }
.top-bar .top-bar-section .right .last { width: 28% !important; }
.top-bar .top-bar-section .right > li { background: #002855 !important; height: 100%; text-align: center; width: 18%; }
.top-bar .top-bar-section .right > li:hover { background: #4d688c !important; }
.top-bar .top-bar-section .right > li a { position: relative; width: 100%; background: transparent !important; top: 17px; font-size: 17px; padding: 0 !important; }
.top-bar .top-bar-section .right > li a:after { display: none !important; }
.top-bar .top-bar-section .right > li .dropdown { top: 100%; }
.top-bar .top-bar-section .right > li .dropdown li { background: #002855 !important; }

.util-bar { max-width: 730px; background: #daaa00; height: 40px; margin-left: auto; margin-top: 56px; margin-right: 105px; }
.util-bar ul { height: 100%; }
.util-bar ul li { float: left; padding-left: 3px; padding-right: 3px; display: inline; height: 100%; }
.util-bar ul li a { display: block; margin-left: auto; margin-right: auto; position: relative; text-decoration: none; color: #000; text-transform: uppercase; top: 8px; font-family: lucida sans; font-size: 14px; text-align: center; }
.util-bar ul li input { width: 100%; position: relative; top: 5px; text-align: left; padding-left: 10px; }
.util-bar #uti-news { width: 21.92%; border-right: 1px solid #fff; }
.util-bar #uti-events { width: 10.96%; border-right: 1px solid #fff; border-left: 1px solid #fff; }
.util-bar #uti-give { width: 10.96%; border-right: 1px solid #fff; border-left: 1px solid #fff; }
.util-bar #uti-search { width: 28.36%; border-right: 1px solid #fff; border-left: 1px solid #fff; }
.util-bar #uti-share { width: 6.03%; border-right: 1px solid #fff; border-left: 1px solid #fff; }
.util-bar #uti-logo { width: 21.23%; border-left: 1px solid #fff; }

.caret { margin-left: 15px; }

.menu-icon { display: none; background: #e5e5e5; position: relative; top: -25px; }
.menu-icon span::after { content: ""; position: absolute; display: block; height: 0; box-shadow: 0 0px 0 2px #000, 0 7px 0 2px #000, 0 14px 0 2px #000, 0 21px 0 2px #000  !important; width: 25px !important; }

.panel-title { background: #008eaa; width: 250px; }
.panel-title a { text-decoration: none; }

.panel-body h2 { font-size: 18px; letter-spacing: .03em; }
.panel-body h3 { font-size: 15px; letter-spacing: .01em; font-weight: bold; margin-top: 0; }
.panel-body .body-img { margin-right: 20px; }

.panel-collapse { overflow: hidden; }

.nav-tabs { display: none; font-size: 20px; }

.collapse div, .collapsing div { padding: 15px; }

#search { width: 100px; }

@media (min-width: 768px) { .masthead, .marketing, .footer { padding-right: 0; padding-left: 0; } }
/*------ All Media Queries ----------*/
/*----- Mobile breakpoint -------*/
@media screen and (max-width: 768px) { head { font-family: "S"; }
  body:after { content: "S"; }
  #sidebar-bio-right { float: left; margin-left: 0; margin-top: 10px; clear: both; }
  .sidebar { background: transparent; }
  .sidebar-right { margin-top: 100px; clear: both; float: left !important; }
  .util-bar { margin-left: 14px; }
  .top-bar { height: 40px !important; overflow: visible !important; }
  .content { min-width: 192px; clear: both; }
  .submenu { position: absolute; left: -999px !important; }
  .headshot { padding: 0 !important; height: 100% !important; }
  .facultyStaffDirectory { padding: 15px 20px; }
  .panel { border: none; }
  .panel-title { padding: 15px; }
  .panel-title a:hover { cursor: pointer; }
  .menu-icon { height: 80px; top: -39px !important; }
  .glyphicon { position: relative; top: -18px; }
  .sidebar-right { float: right; margin-top: 100px; }
  .op-sidebar-title { text-align: left !important; } }
/*----- Tablet breakpoint -------*/
@media screen and (min-width: 768px) and (max-width: 992px) { head { font-family: "M"; }
  body:after { content: "M"; } }
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) { head { font-family: "L"; }
  body:after { content: "L"; }
  .top-panel .content-main .narrow-col { width: 80%; color: #FFF; background-color: #002855; border: 1px solid #002855; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95); opacity: 0.95; }
  .top-panel .content-main .narrow-col .btn { width: 100%; }
  .top-panel .content-main .narrow-col:hover { background-color: #335379; cursor: pointer; }
  .top-panel.left-panel .content-main { padding-right: 0; }
  .top-panel.left-panel .narrow-col { margin-left: auto; }
  .top-panel.middle-panel .content-main { padding-left: 0; padding-right: 0; }
  .top-panel.middle-panel .narrow-col { margin: 0 auto; }
  .top-panel.right-panel .content-main { padding-left: 0; }
  .top-panel.right-panel .narrow-col { margin-right: auto; margin-left: 0; } }
/* /_theme.scss */
/* Example use case:
 %abstract-class { font-family: Verdana; }  #my-div { @extend %abstract-class; }  #my-other-div { @extend %abstract-class; }
 ... compiles as: #my-div, #my-other-div { font-family: Verdana; }

*/
@-ms-viewport { width: device-width; }

html, body { color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-size: 1rem; line-height: 1.3125em; font-family: Arial, Helvetica, sans-serif; line-height: 1.313em; }

strong { font-weight: bold !important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 1.313em; }

h1 { margin: 0; }

h3, h2 { letter-spacing: 0; line-height: 1.1em; }
