
/* 2014-06-12 RAK: This file contains theme CSS and mediaquery for responsive (at end of file). 

  TODO: 
    - Move to SASS
    
*/

body {
  padding-top: 20px;
}
head{
	font-family:'XS';
}
body:after{ 
	content:"XS"; 
	display:none;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  border-top: 1px solid #eee;
  text-align:center;
}

.contact{
	margin-top:15px;	
}
.content-main{
	font-size:16px;
}
.content-main h2{
	font-size:25px;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:15px;
	
}
#alphabet{
	margin-top:20px;
	text-size:16px;
	text-align:center;	
}
#logo{	
	margin-left:auto;
	margin-right:auto;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-top:20px;
  background-color: transparent;
  border:2px solid black;
}
.jumbotron h1{
	font-weight:normal;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  margin-top:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;  
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image:    -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image:      -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
.sidebar{	
	margin-right:12px;
	float:left;	
	width:215px;
	height:100%;
	
}
.sidebar ul{
	padding-left:0;

}
.sidebar ul li {
	height:30px;
	background-color:#eee;
	text-align:center;
	margin-top:1px;
	list-style-type:none;
}

.nav-tabs{
	display:none;
	font-size:20px;	
}

/* ----- BIO PAGE ----*/
.content-bio-container{
	margin-top:50px;
	margin-left:16px;	
}

.portrait{
	float:left;	
	margin-right:50px;
}
.sidebar-bio{
	height:100%;
	padding:0;	
	float:left;
	width:210px;
	height:auto;
	text-align:center;
	background-color:#e5e5e5;
	
}

.sidebar-bio img{
	height:225px;
	width:100%;	
}
.sidebar-info{
	text-align:left;
	margin-left:35px;
	margin-bottom:15px;
	padding-top:10px;
	list-style-type:circle;
}
.sidebar-bio-right{
	height:100%;
	float:right;
	width:228px;	
	height:auto;
	text-align:center;
	background-color:#e5e5e5;
		
}
.sb-right-section{
	border-bottom:1px solid black;
	height:auto;
}

#overview ul{
	margin:5px 5px 5px 18px;
	list-style-type:square;
}
.sb-right-section h3{
	font-size:20px;
	height:auto;
	margin-bottom:10px;
}
.more_text{
	
}

#sidebar-contact{
	border-bottom: 1px solid black;	
}

.about-bio{
	width:62%;
	font-family:arial;	
	float:left;
	padding-right:10px;	
}
.about-bio h3{

	font-size:20px;
	padding-top:25px;
	padding-bottom:25px;
}
.bio-people{
	height:auto;
}
.sb-right-items li{
	margin-left:25px;
	list-style-type:circle;
	text-align:left;

}
.sb-right-items{
	margin-bottom:10px;	
}

.collapse.in{
	display:inline-block;
		
}
.collapse div, .collapsing div{
	padding:15px;
}

/*------END BIO------*/

/*------OUR PEOPLE---*/
.table{
	margin-top:10px;
	width:80% !important;
	height:auto;	

}
.table th{
	background-color:#6a747c;
	border-left:1px solid black;
	text-align:center;	
	
}
.table td{
	text-align:center;
	border:1px solid black;
	vertical-align:middle !important;	
}
.icon-chevron-up glyphicon, .glyphicon-chevron-up, .icon-chevron-down, .glyphicon-chevron-down{
	float:right;
}
.glyphicon-sort{
	float:right;	
}
.info{
	padding-top:5px;
}
.info p{
	margin-bottom: 2px !important;
}

/*------END PEOPLE------*/

#utility ul{
	padding-top:100px;
	text-align:center;	
	clear:both;
}
#search{
	width:100px;
}
#utility img{
	position:relative;
	top:5px;
}
#utility ul li{
	text-align:center;
	display: inline;
	list-style-type: none;
	padding-right: 50px;	
	width:100%;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .sidebar-bio-right{
		float:left;	  
		text-align:center;
		margin-left:16px;
		margin-top:10px;
		clear:both;
  }

}


/*---- EXAMPLE QUERIES-----*/

@media screen and (min-width: 450px) {
	head { font-family:"S";}
	body:after{content:"S";}

	/* Custom Styles for this breakpoint */

}

@media screen and (min-width: 600px) {
	head { font-family:"M";}
	body:after{content:"M";}

	/* Custom Styles for this breakpoint */
	
}

@media screen and (min-width: 960px) {	
	head { font-family:"L";}
	body:after{content:"L";}

	/* Custom Styles for this breakpoint */

}