@function em($px, $base: $BASE) {
  @return ($px / $base) * 1.0em;
}

@mixin font_size($px, $important: null) {
  font-size: $px $important; //Fallback in px
  font-size: ($px / $BASE) * 1rem $important;
}

@mixin standard_font {
  color: $ucd_black_80;
  font-family: Arial, Helvetica, sans-serif;
  @include font_size(16px);
  line-height: em(21px);
}