/* Calendar.scss */

@charset "utf-8";
@import "variables"; // for BASE font size and mixin font_size()
@import "ucd-variables";
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding

#calendar{
	padding: 0;
	#month {		
		margin-bottom: 70px;
		width: 100%;
		thead{
			th { 		
				height: 30px;
				width: 124px;
				padding-top: 5px;
				border-left: 1px solid #fff;
				.first {
					border-left: none !important;
				}
			}
		}
		
	 thead {
			background-color: $rec_blue;
			color: #fff;
		}
 
	 td {
			border: 1px solid $ucd_blue_20;
		//	display: inline-block;
			height: 120px;
	
			.day {
				//
				margin-top: 30px;
				a {
					text-decoration: none;
				}
				.fc-event {				
					.fc-event-inner {
						color: $ucd_blue_80;					
						margin: 3px 3px 5px 3px;
						padding: 10px;
						background-color: $ucd_blue_10;
						@include font_size(11px);
						.subjects {						
							.subject-box {
								margin-bottom: 5px;
								margin: 0px;							
							}
						}
					}
				}
			}
			.date {
				float: right;
				padding-right: 10px;
			}
		}
	}

	.previous, .next {
		.date {
			color: $ucd_black_30;
		}
	}	
}
p {
	margin-top: 0;
}

.rows {
	border-top: 5px solid $rec_blue;
	&.zebra {
		.row:nth-child(even) {
			background-color: transparent;
		}
		.row:nth-child(odd) {
			background-color: $box_light_gray;
		}

		.row {
			> div:last-child {
				padding-top: 16px;
			}
		}

	}
}
#content-row {
	margin-top: 35px;
}
#month-pager {
	float: left;
	text-align: left;
	padding-left: 0px;
	padding-top: 5px;
	.pager-string {
		margin-left: 10px;
		margin-right: 10px;
		@include font_size(24px);
	}
}
#view-filter {
	text-align: right;
	float: right;	
	padding-right: 0px;
	padding-top: 8px;
	.vf-selector {
		background-color: $ucd_blue_10;
		display: inline-block;
		width: 82px;
		margin-left: 2px;
		height: 25px;
		text-align: center;
		a {
			text-decoration: none;
		}
	}
	.selected {
		background-color: $ucd_blue_80;
		a {
			color: #fff; 
		}
	} 
}
.breadcrumb, .content-title {
	margin-left: 365px;
}
.breadcrumb {
	margin-top: 50px;
}
.content-title {
	padding-bottom: 0;
}
.sidebar-left {
	top: 35px;
	.panel{
		margin-left: 0;	
	}
	#subject-all {
		margin-top: 25px;
		margin-bottom: 20px;
		a {		
			text-decoration: none;
		}
	}

	.checkForm {
		margin-top: 0px !important;
		input {
			height: 20px;
			width: 20px;
			margin-bottom: 5px;
			margin-top: 0px;
			margin-left: 0px;
		}
		label {
			position: absolute;
			@include font_size(13px);
		}
	}
	.sb-subitems {
		text-size: 13px;
		a {
			text-decoration: none;
			color: $ucd_blue_80;			
		}
	}
}
.sidebar-left {
	top: 35px;
	#subject-all {
		margin-top: 25px;
		margin-bottom: 20px;
		a {		
			text-decoration: none;
		}
	}

	.checkForm {
		margin-top: 0px !important;
		input {
			height: 20px;
			width: 20px;
			margin-bottom: 5px;
			margin-top: 0px;
			margin-left: 0px;
		}
		label {
			position: absolute;
			@include font_size(13px);
		}
	}
	.sb-subitems {
		text-size: 13px;
		a {
			text-decoration: none;
			color: $ucd_blue_80;			
		}
	}
}

.sidebar {
	.panel-heading {
		.panel-title {
			a {
				background: url(../../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat $rec_blue_40;
				&.collapsed {
					color: #000 !important;
					background: url(../../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat $rec_blue;
				}
				&:hover {
					background: url(../../images/icons/blue-100-right-arrow-down.png) 98% 50% no-repeat $rec_blue_40;
				}
			}
		}
	}
}
.color-box {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin-right: 5px;
		margin-left: 10px;
}
.widget-fieldset {
	
	#criterion-subject-econometrics {
		.color-box {
			background-color: $evergreen;
		}
	}
	#criterion-subject-economic-history {
		.color-box {
			background-color: $west_redbud;
		}
	}
	#criterion-subject-energy-environmental-economics {
		.color-box {
			background-color: $cal_popp;
		}
	}
	#criterion-subject-international-economics {
		.color-box {
			background-color: $gold_lup;
		}
	}
	#criterion-subject-macroeconomics {
		.color-box {
			background-color: $sun_grass;
		}
	}
	#criterion-subject-public-finance-labor {
		.color-box {
			background-color: $sky_blue;
		}
	}
	#criterion-subject-theory {
		.color-box {
			background-color: $wine_grape;
		}
	}
}

@media screen and (max-width: $screen-xs-max) { // width < 767

	#content {
		margin-top: 90px !important;
	}
	.breadcrumb {
		margin-top: 10px;
	}
	#view-filter, #month-pager {
		text-align: center;
	}
	#view-filter {
		margin-bottom: 20px;
	}
	#calendar {
		padding-left: 20px;
		
	}
	#subject-all {
		position: absolute;
		left: -9999px;
	}
	.widget-fieldset {
		margin: 0 auto 33px auto;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		.checkForm {
			li {
				float: initial !important;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 20px;
			}
			
		}
	}
	
	#sbA {
		background-color: $box_light_gray;
	}
	
	#month {
		td {
			height: 40px ;
			width: 39px;
			
			.day {
				min-height: 40px !important;
				margin-top: 0 !important;
				
			}
		}
		.fc-event {	
			display: none;
		}
	}
	.todays-event {
		
		height: 200px;
		width: 280px;
		margin: 30px auto 50px auto;	
		.fc-event-title, .fc-event-time {
			@include font_size(12.5px);	
			line-height: 10px;
		}
		
		.fc-event-title {			
			background-color: $ucd_blue_80;
			a	{
				color: #fff;
				text-decoration: none;
				
			}
		}
	}
	.panel-title, .panel-title a, .panel-heading {
			//background: none !important;
			background-color: #fff !important;
	}
	.panel {
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}
	.panel-body {
		padding-top: 0;
		border: 2px solid $ucd_blue_10;
	
	}
	
	.view-all {
		position: absolute;
		top: -30px;
		left: 73%;			
		@include font_size(10px);	
		
	}
	
	
	.wall {
		display: none;
	}
	.breadcrumb, .content-title {
		position: absolute;
	}
	.breadcrumb {
		top: 55px;
		left: 25px;
	}
	.content-title {
		top: 125px;
		left: 22px; 
		@include font_size(22px);
	}
	#month-pager {
		padding: 0px;
		
		margin-top: -20px;

		
		.pager-prev {
			float: left;
			text-align: left;
		}
		.pager-next {
			float: right;
			text-align: right;
			a {
				margin-right: 0;
			}
		}
		.pager-string {
			padding-top: 15px;
			@include font_size(18px);
		}
	}
	#view-filter {
		padding: 0;
		.vf-selector {
			width: 25% !important;
			margin-left: 0;
		}
	}
}

@media screen and (max-width: $screen-xs-max) { // width < 767 (was $screen-sm-min 768)
	.fc-event-inner {
		
	}
	.eventful {
		background-color: $ucd_blue_10;
	}
}

@media screen and (max-width: $screen-lg-min) { // width < 1310px TODO: What's the purpose of this MQ?
	#month{
		width: 100%;
	}
	#content-row {
		margin-top: 0px;
	}
	.content-title {
		@include font_size(26px);
	}
	.widget-fieldset {
		margin-top: 25px;
		.checkForm {
			li {
				float: left;
				width: 50%;
				.color-box {
					margin-right: 10px;
				}
			}		
		}
	}
	.sb-subitems {
		position: absolute;	
		top: -30px;
		right: 35px;
		p {
			display: inline;
			a {
				@include font_size(11px);	
			}
		}
	}
	#left-area {
		margin-bottom: 30px;	
	}
	#filter-by {
		position: absolute;
		top: 10px;
		left: 140px;	
		a {
			@include font_size(13px);
		}
	}
	.vf-selector {
		padding-top: 8px;
		padding-bottom: 15px;
		margin-bottom: 10px;
		height: 40px !important;
		a {
			@include font_size(13px);
		}
	}
	.pager-string {
		@include font_size(18px);
		position: relative;
		top: -5px;
	}
	#subject-all {
		height: 40px;
		width: 80px;
		float: left;
		margin: 15px 30px 0 30px !important;
		.view-all {
			background-color: $ucd_blue_10;
			text-align: center;			
			padding-top: 8px;
			padding-bottom: 8px;
			a {
				@include font_size(13px);
			}
		}
	}
	#month {
		position: relative;
		top: 10px;
	}
	#month-pager {
		.pager-prev, .pager-next {		
			a{
				width: 40px;
				height: 40px;
				background-color: $ucd_blue_10;
				padding-top: 15px;
				background-position: center;
			}
		}
	}
	.breadcrumb, .content-title {
		margin-left: 0px;
		margin-top: 35px;
	}
	.sidebar-left {
		top: 0;
		margin-top: 25px;
		padding-left: 0;
	}
}