@charset "utf-8";
@import "variables"; // for BASE font size and mixin font_size()
@import "ucd-variables";
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding

/* event.scss */
#calendar{
	padding: 0;
	
	#month {
		border-collapse: collapse;
		margin-bottom: 70px;
		
		td {
			border: 1px solid $ucd_blue_10;
		}
		th {
			font: 1em bold Arial, Helvetica, sans-serif;
			height: 30px;
			width: 125px;
			padding-top: 5px;
			border-left: 1px solid #fff;
		}
		.first {
			border-left: none !important;
		}
	 thead {
			background-color: $rec_blue;
			color: #fff;
		}

	 td {
			max-width: 125px;
			height: auto;
			
			vertical-align: top;
			
			padding: .2em;
			.day {
				max-width: 7em;
				min-height: 120px;
				margin-top: 30px;
				a {
					text-decoration: none;
				}
				.fc-event {				
					.fc-event-inner {
						color: $ucd_blue_80;					
						margin: 3px 3px 5px 3px;
						padding: 10px;
						background-color: $ucd_blue_10;
						font-size: 11px;
						.subjects {						
							.subject-box {
								margin-bottom: 5px;
								margin: 0px;							
							}
						}
					}
				}
			}
			.date {
				float: right;
				padding-right: 10px;
			}
		}
	}

	.previous, .next {
		.date {
			color: $ucd_black_30;
		}
	}

	.rtop {
		display: block;
		background: #060;
	}

	.rtop * {
		display: block;
		height: 1px;
		overflow: hidden;
		background: #fff;
	}

	.r1 {
		margin:0 0 0 5px;
	}

	.r2 {
		margin:0 0 0 3px;
	}

	.r3 {
		margin: 0 0 0 2px;
	}

	.r4 {
		height: 2px;
		margin: 0 0 0 1px;
	}

	#container h1 {
		font: 2em Arial, Helvetica, sans-serif;
		color: #060;
		margin: 0 0 .5em .5em;
	}

	#month th {
	font: 1em bold Arial, Helvetica, sans-serif;
	}
}
p {
margin-top:0;
}
.rows {
	border-top: 5px solid $rec_blue;
	&.zebra {
		.row:nth-child(even) {
			background-color: transparent;
		}
		.row:nth-child(odd) {
			background-color: $box_light_gray;
		}

		.row {
			> div:last-child {
				padding-top: 16px;
			}
		}

	}
}

#month-pager {
	float: left;
	padding-top: 5px;
	.pager-string {
		margin-left: 10px;
		margin-right: 10px;
		font-size: 24px;
	}
}
#view-filter {
	text-align: right;
	padding-top: 6px;
	.vf-selector {
		background-color: $ucd_blue_10;
		width: 80px;
		height: 25px;
		padding-right: 2px;
		a {
			text-decoration: none;
			padding: 5px 20px 5px 20px;
		}
	}
	.selected {
		background-color: $ucd_blue_80;
		a {
			color: #fff; 
		}
	} 
}
.sidebar-left {
	top: 135px;
	#subject-all {
		margin-top: 25px;
		margin-bottom: 20px;
		a {		
			text-decoration: none;
		}
	}

	.checkForm {
		input {
			height: 20px;
			width: 20px;
			margin-bottom: 5px;
			margin-top: 0px;
		}
		label {
			position: absolute;
			font-size: 13px;
		}
	}
	.sb-subitems {
		text-size: 13px;
		a {
			text-decoration: none;
			color: $ucd_blue_80;			
		}
	}
}
#event-cta {
	background-color: transparent;

	.portlet-items {
		#ical-icon, #vcal-icon, #rss-icon {
			background-image: none;
			height: 25px;
			a {
				@include font_size(12px);
				@include line_height(25px);
				display: inline-block;
				
				width: 120px;
				height: 25px;
				padding-left: 20px;
				background: url(../../images/icons/m-ical-icon.png) 0 50% no-repeat;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		#rss-icon {
			a {
				background: url(../../images/icons/m-RSS-icon.png) 0 50% no-repeat;
			}
		}
	}
}
.color-box {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin-right: 5px;
		margin-left: 10px;
}

.widget-fieldset {
	
	#criterion-subject-econometrics {
		.color-box {
			background-color: $evergreen;
		}
	}
	#criterion-subject-economic-history {
		.color-box {
			background-color: $west_redbud;
		}
	}
	#criterion-subject-energy-environmental-economics {
		.color-box {
			background-color: $cal_popp;
		}
	}
	#criterion-subject-international-economics {
		.color-box {
			background-color: $gold_lup;
		}
	}
	#criterion-subject-macroeconomics {
		.color-box {
			background-color: $sun_grass;
		}
	}
	#criterion-subject-public-finance-labor {
		.color-box {
			background-color: $sky_blue;
		}
	}
	#criterion-subject-theory {
		.color-box {
			background-color: $wine_grape;
		}
	}
}


#accordion-e {
	> div {
		padding-left: 0;
		padding-right: 0;
	}
}

/*----- Tablet breakpoint -------*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768 < width < 991
	#content {
		padding-right: 45px;
	}
}

@media screen and (max-width: $screen-xs-max) { // width < 767
	.rows {
		.row {
			> div {
				h3, p {
					@include font_size(12.5px);
				}
			}
		}
	}
	#event-cta {
		text-align: center;
		h3 {
			display: none;
		}
		button {
			float: none;
			margin-bottom: 15px;
		}
		.portlet-items {
			float: none;
			li {
				display: inline-block;
				a {
					width: auto !important;
				}
				&#vcal-icon {
					display: none;
				}
			}
		}
	}
	// Remove following for gold button instead of blue 
	#accordion-e {
		.panel-title {
			a {
				color: $ucd_blue_100 !important;
				background: url(../../images/icons/blue-100-right-arrow-down.png) 98% 50% no-repeat $rec_blue_40;
				&.collapsed {
					color: #FFF !important;
					background: url(../../images/icons/white-arrow-right-sm.png) 98% 50% no-repeat $rec_blue;
				}
				&:hover {
					color: $ucd_blue_100 !important;
					background: url(../../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat $rec_blue_40;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-sm-min) { // width > 768
	.rows {
		.row {
			> div:first-child {
				text-align: right;
			}
		}
	}
	#event-cta {
		button {
			float: left;
		}
		.portlet-items {
			float: right;
		}
	}
	.panel{
		margin-left:0 !important;
	}
}

@media screen and (max-width: $screen-lg-min) { // width > 1310px
	#month{
		width: 100%;
	}
}
/* /event.scss */