@charset "utf-8";
@import "variables";
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding
/* CSS Document */

/* index css */

#util-bar-wrap {
	.util-bar {
		
	}
}

// undo left margin for home page
.content-main > div, .content-main > h1 {
    margin-left: 0;
}
.right-panel {
	.panel-body {
		.narrow-col {
			float: left;
		}
	}
}

.bottom-panel{
	.narrow-col .btn-primary{
			color:$ucd_blue_100 !important;
			text-transform:uppercase;
			@include font_size(18px);
			text-decoration:none;
		}
}
// 2014-09-09 RAK: TODO: Possibly remove ... we want to keep resolution of Bootstrap variables intact
@media screen and (max-width: 440px) {		
	.content-main {
	h2{
		text-align: center;
	}
	/* Custom Styles for this breakpoint */
	}
}

@media screen and (min-width: $screen-sm-min) {
	
	/* Style adjustments for the partial-cover home wall component */
	#main {
		//Margin-top: -701px; /* wall height 741 - 30 px top margin */
	}
	.wall {
		height: 741px !important;
	}
	#middle-row {
		h2 {
			@include font_size(36px, !important);
			@include line_height(25px);
			margin-top: 35px;
			margin-bottom: 25px;
			text-align: center;
		}
	}
	
	#bottom-panel-row {
		.narrow-col {
			width: 80%;
			h2{
				text-align:center;
			}
			p{
				color:$ucd_blue_100;
			}
		}
		.left-panel .narrow-col {
		    margin-left: auto;
				
		}
		.middle-panel .narrow-col {
		    margin: 0 auto;
		}
		.right-panel .narrow-col {
		    margin: 0 auto;
		}
	}
	
}
.tab{
	background-color:#e5e5e5;
	height:100px;
	margin-bottom:10px;
	width:100%;	

	img{
		float:left;	
	}
	
	.tab-title{	
		width:100%;
		height:100%;
		padding-right: 10%;
		padding-left: 115px;
		position:relative;
		
		
		span{
			text-align:left;
			position: absolute;              
			top: 50%;                         
			transform: translate(0, -50%);	
			margin-left:auto;
			margin-right:10%;
			color:$ucd_blue_100;
		}	
	}
}
@media screen and (min-width: $screen-lg-min) {	
	.content-main h2{
		text-align:center;
	}
	/* Custom Styles for this breakpoint */

}