@charset "utf-8";
@import "variables";
/* CSS Document */

/* index css */

@media screen and (max-width: 440px) {		
	.content-main {
	h2{
		text-align:center;
	}
	/* Custom Styles for this breakpoint */
	}
}

@media screen and (min-width: 768px) {
	
	/* Style adjustments for the partial-cover home wall component */
	#main {
		//Margin-top: -701px; /* wall height 741 - 30 px top margin */
	}
	.wall {
		height: 741px !important;
	}
	#middle-row {
		h2 {
			@include font_size(36px, !important);
			@include line_height(25px);
			margin-top: 35px;
			margin-bottom: 25px;
			text-align: center;
		}
	}
	
	#bottom-panel-row {
		.narrow-col {
			width: 80%;
		}
		.left-panel .narrow-col {
		    margin-left: auto;
		}
		.middle-panel .narrow-col {
		    margin: 0 auto;
		}
		.right-panel .narrow-col {
		    margin: 0 auto;
		}
	}
	
}

@media screen and (min-width: 1200px) {	
	.content-main h2{
		text-align:center;
	}
	/* Custom Styles for this breakpoint */

}