@charset "utf-8";
@import "variables"; // for BASE font size and mixin font_size()
@import "ucd-variables";
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding

/* ourpeople.scss */

/* Colors */
$cardbg_blue: $ucd_blue_10;
$empty_blue: $ucd_blue_20;
$cardbg_gray: #e5e5e5;
$ucdtxt_blue: #4D688C; // based on?

// Temp hide left and middle happy boxes
// Note: Use .invisible class in markup instead
/*#container-1, #container-2 {
	visibility: hidden;
}*/

#content {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.genericTile {
	padding-left:0;
	border: 3px solid white;
	background-color:$cardbg_blue;
	.personEntryWrapper{
		top:-10px;
		left:0;
		background:$empty_blue;
		width:90px;
		position:relative;
		height:90px !important;	
		float:left;
	}
}
#am-content {
	padding: 0 0 15px 20px;
}
.op-sidebar-title {
	text-align:left;
	text-transform:uppercase;
	
	span{
		@include font_size(16px);
		color:#000;
	}
}
.sidebar{
	margin-top: 20px;
	color: $ucdtxt_blue;
}

.caption{
	position:relative;
	margin-top:10px;
	left:10px;
	.personName {
		a {
			@include font_size(13px);
			font-weight: bold;
		}
		padding-bottom: 5px;
	}
	a{
		color:$ucdtxt_blue;
	}
	p{
		@include font_size(13px);
		margin:0px;
	}
	.job{
		@include font_size(11px, !important);
		font-style:italic;
	}
}
#dropdown-icon{
	float:right;
}
.lab{
	clear:left;
	padding:5px 0;
	padding-left:30px;

}

.table-header{
	margin-bottom:10px;
	background:$rec_blue;
	color:#fff;
	padding-top:7px;
	padding-left:10px;
	height:35px;
}


@media screen and (max-width: $screen-xs-max) { // width < 767
	.sidebar{
		//background:  $cardbg_gray;
		.collapsible{
			background: $cardbg_gray;
		}
	}

	#am-content {
		padding: 20px 20px;
	
	}
	.panel-body{
		padding: 10px 0 !important;
	}
}
@media screen and (min-width: $screen-sm-min) { // width > 768
	.sidebar {
		margin-top: 65px;
	}
}
/* /ourpeople.scss */
