@charset "utf-8";
/* Our People */

/*------OUR PEOPLE---*/
.table{
	margin-top:15px;	
	height:auto;
	border-collapse:separate;
	border-spacing: 5px;
	th{
		background-color:#6a747c;
		border-left:1px solid black;
		text-align:left;	
	}

}
.listing > td{
	img{
		float:left;
		height:65px;
		width:75px;
	}
	background-color:#E5E5E5;
	padding:0px !important;
}
.caption{
	position:relative;
	left:10px;
	p{
		font-size:12px;
		margin:0px;
	}
}
.labs{
	position:relative;
	left:10px;
	padding:10px;
}
.faceted_letter{
	border-right: 1px solid black;
	padding-right:3px;
}
.checkForm{
	text-align:left;
	label{
		font-weight:normal;
	}
}
.jobTitle{
	font-style:italic;
}
.officeLocation{
	padding-left:75px;
}
.personName{
	padding-top:5px;	
}

/*------END PEOPLE------*/
