/********************************************************
ucdavis.psych - Diazo psych theme for Plone
*********************************************************/

/* reset */
* {margin:0; padding:0; list-style:none; vertical-align:baseline;}

/* Background images - Remove this lines for a clean layout */
/*body {background: url(bg.jpg) top repeat-x;}
#header {
background: transparent url(header.png) top center no-repeat;
background-size: 100% auto; 
position:relative;
} */

/****************** Basic Stuff ******************/

/* Colors and fonts */
body {
background-color: white;
color: #000000; 
font-family: Arial, Helvetica, sans-serif; 
font-size: 62.5%; /* with this 1em = 10px */
}
a:link, #content a:link, dl.portlet a:link {color:#205C90;}
#content a:visited, dl.portlet a:visited {color: #266DAB;}
#content a:hover, dl.portlet a:hover{color:#CCAD33 !important;}
h1 {color: #184479;}
h2, h3, h4, h5, h6 {color: #636363;}
h1, h2, h3 {margin: 0.5em 0 0.5em;}
p {line-height: 1.8em; margin: 0 0 1em 0;}
#wrapper { 
width:auto; 
margin: 0 auto; 
max-width: 90%;
font-size: 1.2em;}
#main {
background:#fff; 
font-size: 1.3em; 
padding: 1em 0;
}

/* fix cover overlay, you can remove this lines if you dont use collective cover */
#exposeMask {z-index: 0 !important;}
.close {opacity: 0.6; text-indent: -10000px;}

/****************** HEADER ******************/

/* logo */
#logo {padding: 3% 1%; float: left; width: 50%;}
#logo img {max-width:100%;}
#logo a {display:block; width:100%;}
#portal-logo {
      float:left;
      margin: 0 0;
}
#banner-top {
        float:right;
        z-index: 1;
}
#logosmbanner {
float: right;
margin-top: -15px;
margin-bottom: -10px;}

#logo-title h1{
        font-size: 4em;
    padding-left:5px;
}
.ucdavisreg{
   	float:left;
        padding-left:2px;
}
#logosm h1{
	float:left;
	padding-left:2px;
}
.ucdavissm{

float: right;
}
/* Personal tools */
#portal-personaltools {font-size: 1.2em;}

/* Main navigation */
#nav {background: #335379;	}
#nav ul {;
background: #002855;	
color: #fff;
font-size: 1.2em;
border-bottom: 1px solid #FF9900;
}
#nav a {
color: #fff; 
padding: 1em; 
text-decoration: none; 
min-width: 3em; 
display: inline-block;
}
#nav a:hover, #nav li.selected a {background: #335379;}
#nav li.selected a {color:#CCAD33;}
/*remove dots on nav tree level 1 due to ugliness */
dl.portlet ul.navTreeLevel1 .navTreeItem {
	list-style:none;
}

/* Searchbox */
#portal-searchbox {z-index: 100;
       margin-top: -45px;
}
#portal-searchbox #searchGadget {border: 2px solid #acacac;padding: 0.1em;
	height:26px;}
#searchGadget {padding: 0.1em 0.2em;}
#header input.searchButton {padding: 0.1em 0.2em;
		background: transparent url(search2-ico.png) no-repeat;
	     height:32px;
	     width:32px;
	     color:transparent;}
#LSResult {z-index:1; margin-top: 0.5%;}



/****************** CONTENT ******************/

div.row {
padding-top: 15px;
}

/* Text styles */
.hidden {display: none;} 
.clear {clear: both;}
.pb-ajax, .pb-image, 
.overlay iframe {font-size: 1.4em;}
.portlet img, #content img {max-width:100%; height:auto;}

/* lists */
#content li, dl.portlet li {
display: list-item;
line-height: 1.5em;
list-style: square outside;
margin-bottom: 0.25em;
}

dl.portlet {border: 0.2em solid #CCAD33;}
#content ol li, dl.portlet ol li {list-style: decimal outside;}
dl.portlet ul.navTreeLevel0 > .navTreeItem {list-style: none;}
dl.portlet dt,
div.portletAssignments div.portletHeader {
    padding: 0.42em 1em;
    color:white;
    background: #002855;
    line-height: normal;
    border-bottom: 2px solid #acacac;
}
dl.portlet dt a:link, dl.portlet dt a:visited{
	color:white;
}

/*******************FSD**********************/
/*these fix issues with images in Chrome */
td.headshot{
	width: 10%;
	height: auto;
}
.facultyStaffDirectory table.listing tbody {
	width: 100%;
	
}
ul.jobTitle {
	padding-left:2em;
}
.width100 {
	width:100px;
}
.urlsmall {
	max-width: 150px;
	word-wrap: break-word;
}


/****************** FOOTER ******************/

#footer {background: #205C90; color: #fff;}
#footer a:link {color:#fff;}
#footer a:visited {color:#f1f1f1;}
#footer a:hover {color: #f1f1f1 !important;}
#footer {clear: left; padding: 1em 2em;}
#portal-footer {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     background-color: transparent;
}
/* Site Actions */
/* #portal-siteactions {
 display:inline;} */


/****************** psych DESIGN MAGIC ******************/

#searchbt, #nav #seletor {display:none;}
#nav #seletor {color: #fff;}



@media screen and (max-width: 768px) {

	#wrapper {max-width: 100%;}

	
	
	/*Columns*/
	#portal-column-one, 
	#portal-column-two,
	#portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

	/*Search*/
    #portal-searchbox  {display:none;}

	/*Global navigation*/
	#nav {padding:0;width:100%;
	}
	
	#searchbt {display:block; float:right;width:14%;}
	
	#searchbt a {
		display:block;
		text-indent: -900000px;
		padding: 1em;
		margin-top: 4%;
		background:transparent url(search2-ico.png) no-repeat center center;
	}
	
	#nav #seletor {
		display:block;
		padding:1em;
		width:80%;
		background:url("sections-ico.png") no-repeat 97% 60%;
	 }
	
	#nav li {display: none;}
	
	#nav:hover li {
		display: block;
		width:100%; 
		border-top:1px solid #ffffff;;
		display:block !Important;
		padding:0;
	}
	
	#nav ul {
		width:97.5%;
		margin:0;
		padding:0;
	}
	
	#nav:hover li a {
		color: #ffffff;;
		width:100%;
		padding:0 2.5%;
		line-height: 3em;
      display: block;
      width: 95% !important;
	}
	
	#nav:hover li:hover {background: #ff9900;}
	#nav:hover li a:hover,
	#nav:hover li.selected a {background: transparent;}
	
.overlay.overlay-ajax {top: 10px !Important;}
.overlay.overlay-ajax input.searchPage {
    font-size: 200% !important;
    width: 90%;
    margin-bottom:1em;
}
.overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
.overlay.overlay-ajax #searchform .discreet {text-align:left;}
.overlay.overlay-ajax #content-core strong {display:none;}

}
@media screen and (min-width: 481px) {
	#logosm {display:none;} 
	
}

@media screen and (max-width: 480px) {
	#logo-title {display:none;}
	/*#logosm{max-width: 85%;}*/
	td.headshot{display:none;}

	#portal-breadcrumbs {display:none;}
	
	#portal-searchbox {
	    float: none;
        width:80%;
		clear:both;
		margin: 0 auto 2%;
   }
}