/* components/_banners.scss */
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {	

	/* 3-column banner panel set - intended to use happybox behavior / plugin */
	.top-panel {
		.content-main {
			.narrow-col {
				width: 80%;
				color: #FFF;
				background-color: $ucd_blue_100;
				border: 1px solid $ucd_blue_100;
				@include opacity(0.95);
				h2 {
					margin-top: 0 !important;
				}
				.content {
					margin-left: 0;
				}
				.btn {
					width: 100%;
				}
				&:hover {
					background-color: $ucd_blue_80;
					cursor: pointer;
				}
			}
		}
		&.left-panel {
			.content-main {
				padding-right: 0;
			}
			.narrow-col {
				margin-left: auto;
			}
		}
		&.middle-panel {
			.content-main {
				padding-left: 0;
				padding-right: 0;
			}
			.narrow-col {
				margin: 0 auto;
			}
		}
		&.right-panel {
			.content-main {
				padding-left: 0;
			}
			.narrow-col {
				margin-right: auto;
				margin-left: 0;
			}
		}
	}
	
}
/* /components/_banners.scss */