/* components/_banners.scss */

.jumbotron {
	padding: 0 !important;
	margin: 0 !important;
	text-align: center; 
	margin-top: 20px; 
	background-color: transparent;
	
  h1{
		font-weight: normal;
		display: none;
  }
}
// Fix wallpaper placement
.wall {
	position: absolute;
	z-index: -100; // arrange wallpaper to back position
	top: 0;
	width: 100%;
	height: 500px !important;
}

/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {	

	/* 3-column banner panel set - intended to use happybox behavior / plugin */
	.top-panel {
		.content-main {
			.narrow-col {
				width: 80%;
				color: #FFF;
				background-color: $ucd_blue_100;
				border: 1px solid $ucd_blue_100;
				@include opacity(0.95);
				h2 {
					margin-top: 0 !important;
				}
				.content {
					margin-left: 0;
				}
				.btn {
					width: 100%;
				}
				&:hover {
					background-color: $ucd_blue_80;
					cursor: pointer;
				}
			}
		}
		&.left-panel {
			.content-main {
				padding-right: 0;
			}
			.narrow-col {
				margin-left: auto;
			}
		}
		&.middle-panel {
			.content-main {
				padding-left: 0;
				padding-right: 0;
			}
			.narrow-col {
				margin: 0 auto;
			}
		}
		&.right-panel {
			.content-main {
				padding-left: 0;
			}
			.narrow-col {
				margin-right: auto;
				margin-left: 0;
			}
		}
	}
	
}
/* /components/_banners.scss */