/* components/_search.scss */

#livesearch0 {
	position: relative;
	#LSResult {
		position: absolute;
		right: auto;
		left: 0;
		background: none repeat scroll 0 0 rgba(229, 233, 239, 0.6);
		min-width: 210px;
		min-height: 100px;
		margin: 0;
	}
}

/* /components/_search.scss */