/* _pager.scss */
.pager {
	//width: 100%;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	a {
		display: block;
		width: 50px;
		height: 25px;
		margin-right: 5px;
	}
	span {
		display: inline-block;
	}
	.pager-first {
		a {
			background: url(../images/icons/d-pager-first.gif) 0 0 no-repeat;
		}
	}
	.pager-prev {
		a {
			margin-right: 10px;
			width: 38px;
			background: url(../images/icons/d-pager-prev.gif) 0 0 no-repeat;
		}
	}
	.pager-string {
		height: 25px;
		display: inline-block;
	}
	.pager-next {
		a {
			width: 38px;
			margin-left: 10px;
			background: url(../images/icons/d-pager-next.gif) 0 0 no-repeat;
		}
	}
	.pager-last {
		a {
			background: url(../images/icons/d-pager-last.gif) 0 0 no-repeat;
		}
	}
}

/*----- Mobile breakpoint ("S") --------*/

@media screen and (max-width: $screen-xs-max) { // width < 767

	.pager {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768 < width < 991
	
	.pager {
		padding-top: 25px;
		padding-bottom: 25px;
	}

}

/* _pager.scss */