/*Plone Styles */
@charset "utf-8";
@import "variables";

/* override wallpaper height without breaking cakefarm theme  */
.wall .wallpaper .notsobig {
	height:540px !important;
}


.hiddenStructure {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 0.1em;
    margin: -0.1em 0 0 -0.1em;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.submenu_description {
    display: none;
}

/*--image tags --*/
.image-left {
   float: left;
   margin: 0.5em 1em 0.5em 0;
}
.image-right {
   float: right;
   margin: 0.5em;
}
.image-inline {
   float: none;
}

// pending activation
#uti-share {
    display: none;
}
	
/*top bar override */
.top-bar .top-bar-section .left > li > a {
  height: 80px;
  line-height: 80px !important;
   padding: 0 0; 	
}

a#portal-logo {  //overrides theme wdth setting that was causing menu to break
	width:100%;
}
#portal-logo {
	    display: inline-block;
	    margin: 0 0;
	    padding-top: 0px;
}

#portal-searchbox {
	float: none;
	text-align: left;
	clear: right;
	margin: 0 0;
	font-size: 80%;
	z-index:20;
}
#searchGadget {
	width:12em;
}

#LSResult {
	position: absolute;
	right: 0;
	background: rgba(255,0,0,0.1);
	margin: 84px 0 0 -7em;
	z-index: 20;
}
#livesearchLegend {
background-color: $ucd_bright_gold_70;
padding: 0.3em;
}


@media screen {
/*------News Happy Box ---------*/
#content a:visited, dl.portlet a:visited {
	border-bottom:none;
}
#content a:link, dl.portlet a:link {
		border-bottom:none;

}
.content-wrap dd.portletItem {
	background-color:transparent;
}
.content-wrap dd.portletItem a.tile {
	color:white !important;

}
.content-wrap > dd > a > img.portletItemDetails {
	margin-top:-3px;
}
.content-wrap dd.portletItem a:hover {
	text-decoration:underline;

}

/*----- About Happy Box ---------*/
dl.portlet-static-quick-facts dt {
	padding: 0.42em 1em;
	background: transparent;
	line-height: normal;
    font-size: 120%;
}
/*----- homepage title ------*/
.homepage-title {
	font-size: 36px !important;
	font-size: 2.25rem !important;
	line-height: 1.5625rem;
	margin-top: 35px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: normal;
	}
/*---------Homepage middle ---------*/
/*-------left column ------------*/

#left-front-column {
	 
	> dl {
		background-color:transparent;
	}

	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		height: 100px;
		margin-bottom: 10px;
		padding-top: 12px;
		width: 100%;
	 }

	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
	}
	 > dl > dt {
	background:transparent;
	font-size: 24px !important;
	font-size: 1.5rem !important;
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
}
	dl.portlet dt.portletHeader a, a:visited {
	background:transparent;
	color:$ucd_black_80;
	border-bottom: none;
}

	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
		a.tile {
			color:$ucd_blue_100 !important;
	          border-bottom: none;
			position:relative;

		}


}
#middle-front-column {
	
	> dl {
		background-color:transparent;
	}

	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		height: 100px;
		margin-bottom: 10px;
		width: 100%;
		padding-top: 12px;
	 }

	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
	}
	 > dl > dt {
		background:transparent;
		font-size: 24px !important;
		font-size: 1.5rem !important;
		font-weight: normal;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align:center;

	}
	dl.portlet dt.portletHeader a, a:visited {
		background:transparent;
		color:$ucd_black_80;
		border-bottom: none;
	}
	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
	a.tile {
		color:$ucd_blue_100 !important;
          border-bottom: none;
	}


}

#right-front-column {
	
	> dl {
		background-color:transparent;
	}
	dd.portletItem {
		background-color: #e5e5e5;
		cursor: pointer;
		height: 100px;
		margin-bottom: 10px;
		width: 100%;
		padding-top: 12px;
	 }
	img.portletItemDetails.image-left {
		margin-top: -17px;
		margin-left: 0px;
		width:100px; //override for index.css
	}
	 > dl > dt {
		background:transparent;
		font-size: 24px !important;
		font-size: 1.5rem !important;
		font-weight: normal;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align:center;

	}
	dl.portlet dt.portletHeader a, a:visited {
		background:transparent;
		color:$ucd_black_80;
		border-bottom: none;
	}
	dl.portlet a, a:visited {
		background:transparent;
		color:$ucd_blue_100;
	}
	dl.portlet a:hover {
		text-decoration:underline;
	}
	a.tile {
		color:$ucd_blue_100 !important;
          border-bottom: none;
	}
	


}

dl.portlet a:link {
  color: $ucd_blue_100;
  border-bottom: none;
}
dl.portlet a:hover {
color: $ucd_blue_100;
text-decoration:underline;
border-bottom: none;
}

dl.portlet a:visited {
border-bottom:transparent;
}
/*---right-side-portlets----*/
dl.portlet dt {
	display: block;
	background-color:$rec_blue;
	padding-top:.75em;
	padding-bottom:.75em;

	a, a:link {
		color:white;
		width:100%;
		text-decoration:none;
		padding-left: 10%;
	}
}
.portletItemDetails {
	font-size: 85%;
	padding-top: .5em;
    line-height: 1.5em;
    margin-left: 1em;
    display: block;
}
dd.portletFooter {
	text-align: right;
	clear:both;
	}


dd.portletItem {
	padding-top:10px;
	background-color:#f2f2f2;
	clear:both;
}

.portletItemDetails.image-left {
	margin-top:-5px;
	margin-left:0;
}
/*------ General Content ----------*/
#content .documentDescription {
	color: inherit;
	margin-left: 0;
	font: inherit;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 30px !important;
	line-height: 1.875rem !important;
	margin-bottom: 45px;
}
dl.portlet a:link {
  color: $ucd_blue_100;
  border-bottom: none;
}
/*---Portlets -----*/
.blockedPortlet .portletBlockedMessage {
    color: white;
    display: inline;
}
dl.portlet {
	/* margin-top: 50px; //I think we don't need this */
	background-color: $box_light_gray; /* TODO //not sure this is a good idea */
}
dl.portlet a {
	text-decoration:none;
}
dl.portlet a:hover {
color: $ucd_blue_100 !important;
text-decoration:underline;
border-bottom: none;
}

dl.portlet a:visited {
border-bottom:transparent;
}

/*--Basic rec pool Blue Portlet --*/



/*-------footer-------*/
dl.portlet-static-contact dt{
	background: transparent;
	font-size: 16px;

}
#vcard p {
	font-size: 16px;
	line-height: 1.5em;
}

ul#footer-nav {
	
	padding-left: 5%;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;

	column-count: 3;
	column-gap: 10px;

	-moz-column-count:3;
	-moz-column-gap:10px;
	
}
#footer-nav a{
	color:white;
	white-space:nowrap;
	border-left:1px solid white;
	padding-left:5px;
	line-height:1.5em;
}
 /* Footer Navigation portlet */

#footer-nav-middle{
	width:45%;
	padding-left: 5%;
	margin-left:25%;
	
	ul {padding-left: 5%;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;

	column-count: 3;
	column-gap: 10px;

	-moz-column-count:3;
	-moz-column-gap:10px;
	
     }
		
	

	ul.navTree li a {
    	border: none;
		font-size:120%;
    	display: block;
		color:white;
    	zoom: 1;
	}

	ul.navTree li {
		a:hover {
			color:white !important;

		}
		a:active {
			color:white !important;
		}
	}

	dl.portletNavigationTree dd.portletItem {
    	padding: 0;
		background-color: transparent;
	}

	ul.navTreeLevel0 > .navTreeItem {
    	padding: 0.25em 1em;
    	border-bottom: None;
    	line-height: 2em;
		color: white;
	}
	
	ul > li {
		border-left: 1px solid white;
		margin-bottom: 0;

	}

	ul.navTreeLevel1 .navTreeItem {
    	padding-left: 0.5em;
    	line-height: 2em;
	}
	.navTreeItem .state-published {
		color: white !important;

	}

	ul.navTree .navTreeCurrentItem {
		background-color:transparent;
		color:white;
    	
	}
}


/* @end */
}
