/* _theme.scss */

@import "ucd-variables";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transform";

/* 2014-06-12 RAK: This file contains theme CSS and mediaquery for responsive (at end of file). 
  TODO: 
    - Move to SASS
     
*/ 

body {
  /*padding-top: 20px;*/
}
head{
	font-family:'XS';
}
body:after{ 
	content:"XS"; 
	display:none;
}
.container{
	padding:0;
	&#main {
		padding:0 !important;
	}
}
.body-img{
	border:1px solid red;
	height:120px;
	width:200px;
	float:left;
}

#utility {
	ul li{	
		text-align:center;
		display: inline;
		list-style-type: none;
		padding-right: 50px;	
		width:100%;
	}
	ul{
		padding-top:100px;
		text-align:center;	
		clear:both;
	}
}
.footer {	
	background-color:$ucd_blue_70;
	height:250px;
	width:100%;
	clear:both;
	a {
		text-decoration: none;
	}
	.foot-wrap{
		margin: 90px;
		width:100%;
	}
	.footer-nav, #copyright, #vcard{
		float:left;		
		color:#fff;
		text-decoration:none;
		margin-top:36px;
	}
	#email-phone {
		a {
			text-decoration: underline;
		}
	}
	#copyright{
		clear:both;
	}
	.footer-nav{
		border-left:1px solid white;
		width:150px;		
		li{
			padding-left:10px;
			a{
				color:#fff;
			}
		}
	}
	#copyright, #vcard {
		margin-right:135px;
		font-size:14px;
		line-height: 1.4em;
		//font-family:lucida;
		a, p{
			color:#fff;
			letter-spacing:.014em;
		}
	}

	#foot-social{
		width:217px;
		float:left;
		margin-top:35px;
		margin-left:85px;
		li{
			display:inline-block;
			width:40px;
			a{
			border-left: 1px solid white;
			padding: 0 15px;
			color:#fff;
			
			}
		}	
		.last{
				a{
					border-right:1px solid white;
				}
			}
	}
}

input{
   text-align:center;
}
.contact{
	margin-top:15px;	
}
.content{
	margin-top:47px;
	margin-bottom:40px;
	padding:0;
}

.breadcrumb{
	background:none;
	padding:0 0 !important;
	margin-bottom:10px;
}
.content-title{
	padding-bottom:20px;
	@include font_size(36px);
	letter-spacing:.01em;
	margin-top:0px !important;
}
.content-main{
	margin-top: 45px;
	padding-left: 0 !important;
	//font-size: 16px; // 16px is the default and should already be set
	p {
		@include font_size(15px);
		@include line_height(18px);
		&.intro {
			@include font_size(18px);
			@include line_height(30px);
		}
	}
	 h2{
		@include font_size(24px);
		font-weight:normal;
		padding-top:15px;
		padding-bottom:15px;
		border: 1px solid blue;
	}
	h3 {
		@include font_size(15px);
		@include line_height(25px);
		padding-top:15px;
		padding-bottom:15px;
	}
}

#gutter-column {
	background-color: red;
}
.sidebar{
	height:auto;
	width:250px !important;
	margin-top:15px;
	text-align:left;
	background:#f2f2f2;
	h3{
		height:30px;
		a{
			color:#fff;
			text-transform:uppercase;
			@include font_size(13px);
			@include line_height(22px);
			letter-spacing:.1em;
			padding-left:38px;
			position:relative;
			top:4px;
		}
	}
	.panel-title a:hover{
		cursor:text;
	}
	.panel-heading{
			padding:0;
	}
	.collapsible{
		background:#f2f2f2;
	}
}
.sidebar-right{
	margin-top: 135px;
	//margin-left: 160px; // TODO: moving sidebar to right should be done another way. float:right not solution
	// TODO: these styles are not necessary
	//position:relative;
	//top:140px;
	//float:right;
	// margin-right:90px; // TODO: Why ?
}

.more_text{
	display:none;	
}
.body-list, .sub-list{
	list-style-type:circle;
	margin-left:20px;
	li{
		padding-bottom:10px;
	}
}
.download{
	font-weight:bold;
}
#downloads{
	a{
		text-decoration:underline;
		color:$ucd_blue_80;
	}
}
#sidebar-block-contact{
	margin-top:20px;
	li{
		text-align:left;
		padding-left:38px;
	}
	#name{
		text-transform:uppercase;
		color:$ucd_blue_80;
		//font-family:lucida bold;
	}
	#position{
		font-style:italic;
		font-size:12px;
		letter-spacing:.01em;
	}
	#phone{
		font-size:13px;
		letter-spacing:.01em;
	}
	#email{
		font-size:13px;
		letter-spacing:.01em;
	}
}
.sidebar-block-items{
	background:#e5e5e5;	
	padding-bottom:10px;
	text-align:left;
	width:auto;
	height:100%;
	padding-left:15px;
	margin-left:35px;
	list-style-type:circle;	
}
// primary blue menu
.top-bar{
	background:$ucd_blue_100 !important;
	
	/* height: 80px !important; THIS BLOWS HIDING THE SUB MENU */
	
	.title-area{	
		/* top:15px; THIS NEGATIVELY IMPACTS THE FORMAT OF THE TOPBAR MENU */
		.name {
			letter-spacing:.15em;
			h1{
				a{					
					font-size:1.5rem;
					text-transform:uppercase;
					//font-family:lucida sans bold;
					font-weight:bold;
					//line-height:20px;
					text-decoration:none;
				}
			}
		}
	}
	.top-bar-section{
		height:100%;
		
		.right{
			width:60%;
			height:100% !important;
			// Parent level buttons
			 .last{
									
					width:28% !important;
					
				}
			 > li{
				background:#002855 !important;
				height:100%;
				text-align:center;
				width:18%;
					
				&:hover{
						background:#4d688c !important;
					}
				
				a{
					position:relative;	
					width:100%;
					background:transparent !important;
					top:17px;
					font-size:17px;
					padding:0 !important;
					
					// gets rid of carets in nav
					&:after{
						display:none !important;
					}
					
				}
				// First level dropdown
				.dropdown{
					top:100%;
					li{
						background:#002855 !important;
					}
				}
			}
		}
	}
}
// Secondary gold menu
.util-bar{
	max-width:730px;
	background:$ucd_bright_gold;	
	height:40px;
	margin-left:auto;
	margin-top:56px;
	//margin-right:105px;
	ul{
		height:100%;
		
		li{
			float:left;
			padding-left:3px;
			padding-right:3px;
			display:inline;
			height:100%;
			a{
				display:block;
				margin-left:auto;
				margin-right:auto;
				position:relative;
				text-decoration:none;
				color:#000;
				text-transform:uppercase;
				top:8px;
				//font-family:lucida sans;
				font-size:14px;
				text-align:center;
				
			}
			input{
				width:100%;
				position:relative;
				top:5px;
				text-align:left;
				padding-left:10px;
			}
		}
	}
	#uti-news{
		width:21.92%; //160px
		border-right:1px solid #fff;
	}
	#uti-events{
		width:10.96%; //80px
		border-right:1px solid #fff;
		border-left:1px solid #fff;
	}
	#uti-give{
		width:10.96%; //80px
		border-right:1px solid #fff;
		border-left:1px solid #fff;
	}
	#uti-search{
		width:28.36%;//207px
		border-right:1px solid #fff;
		border-left:1px solid #fff;
	}
	#uti-share{
		width:6.03%; //44px
		border-right:1px solid #fff;
		border-left:1px solid #fff;
	}
	#uti-logo{
		//width:21.23%;//155px
		border-left:1px solid #fff;
	}
}
.caret{
	margin-left:15px;
}
.menu-icon{
	//display:none;
	background:#e5e5e5;
	position:relative;
	top:-25px;

	span::after {
			content: "";
			position: absolute;
			display: block;
			height: 0;			
			box-shadow: 0 0px 0 2px #000, 0 7px 0 2px #000, 0 14px 0 2px #000, 0 21px 0 2px #000  !important;
			width: 25px !important; 
		}
}

.panel-title {
	background: $rec_blue;
	width:250px;
	a{
		text-decoration:none;
	}
}
.panel-body{
	h2 {
		@include font_size(18px);
		//@include line_height(24px);
		font-size:18px;
		letter-spacing:.03em;		
	}
	h3{
		@include font_size(15px);
		@include line_height(18px);
		letter-spacing:.01em;
		font-weight:bold;
		margin-top:0;
	}

	.body-img{
		margin-right:20px;
	}
}
.panel-collapse{
	overflow:hidden;	
}
.nav-tabs{
	display:none;
	font-size:20px;	
}

.collapse , .collapsing {
	div{
		padding:15px;
	}
} 

#search{
	width:100px;
}

@media (min-width: 768px) {
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

}

/*------ All Media Queries ----------*/

/*----- Mobile breakpoint -------*/
@media screen and (max-width: 768px) {
	head { font-family:"S";}
	body:after{content:"S";}
 
  #sidebar-bio-right{
		float:left;	  		
		margin-left:0;
		margin-top:10px;
		clear:both;
  }
	.sidebar{	
		background:transparent;
	}
	.sidebar-right{	
		margin-top:100px;
		clear:both;
		float:left !important;
	}
	.util-bar{
		margin-left:14px;
		margin-right:15px;
	}
	.top-bar{
		/*height:40px !important;
		overflow:visible !important;*/
	}
	.content{
	  min-width:192px;
		clear:both;
	}
	.submenu{
		position:absolute;
		left:-999px !important;
	}
	.headshot{
		padding:0 !important;
		height:100% !important;		
	}
	.facultyStaffDirectory{
		padding:15px 20px;
	}
	.panel{
		border:none;
	}
	.panel-title {
		padding:15px;
		a:hover{
			cursor:pointer;
		}		
	}
	.menu-icon{
		/* height:80px;
		top:-39px !important;*/
	}
	.glyphicon{
		position:relative;
		top:-18px;
	}
	.sidebar-right{	
		//float:right;
		//margin-top: 100px;	//TODO: margin-top reveals formatting error
	}
	.op-sidebar-title {
		text-align:left !important;
	}
	
}
/*----- Tablet breakpoint -------*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	head { font-family:"M";}
	body:after{content:"M";}	

	
}
/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {	
	head { font-family:"L";}
	body:after{content:"L";}
	
}

/* Override default grid gutter, which was broke on home/index bottom panel row. */
.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* /_theme.scss */