/* _theme.scss */

@import "ucd-variables";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding

/* 2014-06-12 RAK: This file contains theme CSS and mediaquery for responsive (at end of file). 
  TODO: 
    - Move to SASS
     
*/ 

body {
  /*padding-top: 20px;*/
}
head{
	font-family:'XS';
}
body:after{ 
	content:"XS"; 
	display:none;
}
.container {
	padding:0;
	&#main {
		//padding:0 !important; // TODO: Breaks fit alignment on mobile
	}
}

.body-img{
	border:1px solid red;
	height:120px;
	width:200px;
	float:left;
}

.btn-txt {
	//left-indent: -10000px;
	display: none;
}
.nobr {
	white-space: nowrap;
}
p {
	margin-bottom: 15px;
}
#utility {
	ul li{	
		text-align:center;
		display: inline;
		list-style-type: none;
		padding-right: 50px;	
		width:100%;
	}
	ul{
		padding-top:100px;
		text-align:center;	
		clear:both;
	}
}


.footer {	
	background-color:$ucd_blue_70;
	min-height:250px;
	width:100%;
	padding-bottom: 25px;
	margin-bottom: 15px;
	clear:both;
	a {
		text-decoration: none;
	}
	
	.foot-wrap{
		margin: 90px;
		margin-bottom: 0 !important;
		//width:100%; // TODO: Tablet/Mobile right white margin
	}
	
	.footer-nav, #copyright, #vcard{
		float:left;		
		color:#fff;
		text-decoration:none;
		margin-top:36px;
	}
	#email-phone {
		a {
			text-decoration: underline;
		}
	}
	#copyright{
		clear:both;
	}
	.footer-nav{
		border-left:1px solid white;
		width:140px;		
		li{
			padding-left:10px;
			a{
				color:#fff;
			}
		}
	}
	#copyright, #vcard {
		margin-right:135px;
		@include font_size(14px);
		line-height: 1.4em;
		//font-family:lucida;
		a, p{
			color:#fff;
			letter-spacing:.014em;
		}
	}

	#foot-social{
		//width:217px; // TODO: Tablet/Mobile right white margin
		float:left;
		margin-top:35px;
		//margin-left:85px;
		li{
			display: inline-block;
			text-align: center;
			padding-left: 7px;
			padding-right: 7px;
			border-left: 1px solid white;
			a{
				display: inline-block;
				height: 24px;
				width: 24px;
				color:#fff;
				&#facebook-icon {
					background: url(../images/icons/sm-icon-sprites.png) 0 0 no-repeat;
				}
				&#twitter-icon {
					background: url(../images/icons/sm-icon-sprites.png) -24px 0 no-repeat;
				}
				&#pinterest-icon {
					background: url(../images/icons/sm-icon-sprites.png) -48px 0 no-repeat;
				}
				&#youtube-icon {
					background: url(../images/icons/sm-icon-sprites.png) -72px 0 no-repeat;
				}
				&#linkedin-icon {
					background: url(../images/icons/sm-icon-sprites.png) -96px 0 no-repeat;
				}
			}
			&.last{ 
				border-right: 1px solid white;
			}
		}	

	}
}


input{
   text-align:center;
}
.contact{
	margin-top:15px;	
}

/* TODO: Careful with global treatment of .content
.content{
	margin-top:47px;
	margin-bottom:40px;
	padding:0;
}
*/

.content-title{
	padding-bottom:30px;
	@include font_size(36px);
	@include line_height(43px);
	letter-spacing: 0.01em;
	margin-top: 0 !important;
}
.content-main{
	margin-top: 45px;
	margin-bottom: 30px;
	padding-left: 0 !important;

	.breadcrumb {
		background: none;
		padding:0 0 !important;
		margin-bottom:0;
		color: $ucd_blue_80;
		.bread-divider {
			@include font_size(15px);
		}
	}
	.panel-body {
		h2 {
			@include font_size(24px, !important);
			font-weight:normal;
			padding-top:15px;
			padding-bottom:15px;
		}
	}
	h2{
		@include font_size(24px, !important);
		font-weight:normal;
		padding-top:15px;
		padding-bottom:15px;
	}
	h3 {
		@include font_size(15px);
		@include line_height(25px);
		padding-top:15px;
		padding-bottom:15px;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		li {
			background-image: url(../images/bullets/black-square.gif);
			background-repeat: no-repeat;
			background-position: 0px 5px;
			padding-left: 14px; 
			ul {
				margin-top: 7px;
				margin-bottom: 0 !important;
				li {
					
				}
			}
		}
	}
}

#gutter-column {
	background-color: red;
}
.sidebar{
	height:auto;
	width:250px; // !important; 
	margin-top:15px;
	text-align:left;
	
	> div {
		margin-left: 70px;
		.panel-body {
			background: #f2f2f2;
		}
	}
	h3{
		height:30px;
		a{
			color:#fff;
			text-transform:uppercase;
			@include font_size(13px);
			@include line_height(22px);
			letter-spacing:.1em;
			padding-left:38px;
			position:relative;
			top:4px;
		}
	}
	.panel-title a:hover{
		cursor:text;
	}
	.panel-heading{
			padding:0;
	}
	.collapsible{
		background:#f2f2f2;
	}

	&.sidebar-right{
		margin-top: 135px;
		//margin-left: 160px; // TODO: moving sidebar to right should be done another way. float:right not solution
		// TODO: these styles are not necessary or have no affect
		//position:relative;
		//top:140px;
		//float:right;
		// margin-right:90px; // TODO: Why ?
	}
}

.more_text{
	display:none;	
}
.body-list, .sub-list{
	list-style-type:circle;
	margin-left:20px;
	li{
		padding-bottom:10px;
	}
}
.download{
	font-weight:bold;
}
#downloads{
	a{
		text-decoration:underline;
		color:$ucd_blue_80;
	}
}
/* Contact uses hCard microformat / vCard RFC2426 */
#sidebar-block-contact {
	margin-top:20px;
	padding-left: 38px;
	padding-right: 15px;
	li{
		text-align:left;
		@include font_size(13px);
		letter-spacing: 0.01em;
		a {
			text-decoration: none;
			color:$ucd_blue_80;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.fn { // full name
		text-transform:uppercase;
		color:$ucd_blue_80;
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	.category { // position
		font-style: italic;
		@include font_size(12px);
		margin-bottom: 5px;
	}
	.tel { // phone
		margin-bottom: 5px;
	}
	.email {
		text-transform:uppercase;
		a {
			display: block;
			height: 16px;
			padding-left: 22px;
			background: url(../images/icons/email.gif) 0 60% no-repeat;
		}
	}
}
.sidebar-block-items{
	background:#e5e5e5;	
	padding-bottom:10px;
	text-align:left;
	width:auto;
	height:100%;
	padding-left:15px;
	margin-left:35px;
	list-style-type:circle;	
}


.panel-title {
	background: $rec_blue;
	//width:250px;
	a{
		text-decoration:none;
	}
}

.panel-body{
	h2 {
		@include font_size(18px);
		//@include line_height(24px);
		letter-spacing:.03em;		
	}
	h3{
		@include font_size(15px);
		@include line_height(18px);
		letter-spacing:.01em;
		font-weight:bold;
		margin-top:0;
	}

	.body-img{
		margin-right:20px;
	}
}

.panel-collapse{
	overflow:hidden;	
}
.nav-tabs{
	display:none;
	@include font_size(20px);
}

.collapse, .collapsing {
	div{
		padding:15px;
	}
} 

#search{
	width:100px;
}

@media screen and (min-width: $screen-sm-min) { // was 768px
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
		.foot-wrap {
			#foot-cont {
				margin-left: 10%;
			}
		}
  }
}

/*------ All Media Queries ----------*/

/*----- Mobile breakpoint -------*/
@media screen and (max-width: $screen-sm-max) {
	head { font-family:"S";}
	body:after{content:"S";}
	
	.siders .wall.shadow-graphic {
	    height: 85px !important;
	}
	
  #sidebar-bio-right{
		float:left;	  		
		margin-left:0;
		margin-top:10px;
		clear:both;
  }
	.sidebar{	
		background:transparent;
	}
	.sidebar-right{	
		margin-top:100px;
		clear:both;
		float:left !important;
		
	}
	.util-bar{ // at this breakpoint, yellow bar containing only the UC Davis logo
		margin: 0;
		height: 27px; // 17px logo + 5px top/bottom margin
		ul {
			margin: 0;
			padding: 0;
			li {
				&#uti-logo {
					//padding-left: 15px;
					border-left-width: 0;
					a {
						//margin-top: 5px;
					}
				}
			}
		}
	}
	
	.content-main {
	  min-width:192px;
		clear:both;
	}
	.submenu{
		position:absolute;
		left:-999px !important;
	}
	.headshot{
		padding:0 !important;
		height:100% !important;		
	}
	.facultyStaffDirectory{
		padding:15px 20px;
	}
	.panel{
		border:none;
	}
	.panel-heading {
		height: 40px;
		.panel-title {
			height: 40px;
			width: auto; // undo general 250 width
			a {
				display: inline-block;
				//width: 100%; //TODO: margin-top reveals formatting error
				height: 40px;

				padding-right: 15px;
				padding-left: 15px !important;
				
				text-align: center;
				line-height: 40px;
				&:hover{
					cursor: pointer !important;
				}
			}
		}
	}
	.menu-icon{
		/* height:80px;
		top:-39px !important;*/
	}
	.glyphicon{
		position:relative;
		top:-18px;
	}
	.sidebar {
		&.sidebar-right{	
			//float:right;
			//margin-top: 100px;	//TODO: margin-top reveals formatting error
			margin-top: 0;
		}
	}
	.op-sidebar-title {
		text-align:left !important;
	}
	.footer {	
		.foot-wrap{
			margin: 10px;
			p, ul, div {
				margin-left: 0;
				margin-right: 0;
				width: 100%;
				text-align: center;
			}
			#foot-social {
				margin-left: 0 !important;
				margin-right: 0 !important;
				float: none;
			}

		}
	}
}


@media screen and (min-width: $screen-sm-min) {

	// Add margins on small devices
	.container#main-container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	#util-bar-wrap {
		padding-right: 105px;
	}
	
	#top-bar-wrap {
		padding-left: 105px; // 90 + 15 px
		padding-right: 105px;
	}
	
	.content-main {
		> div, > h1 {
	  	margin-left: 90px;
		}
	}
	
	.top-bar {
		.top-bar-section {
			 li {
				ul { // .dropdown
					// TODO: Tablet/Mobile right white margin
					//width: 220px !important;
					li {
						a {
							padding: 25px;
						}
					}
				}
			}
		}
	}
	
	/*
		.dropdown {
			 width: 220px !important;
			 
			 li {
				 a {
					 display: inline-block !important;
					 border: 1px solid red !important;
					 padding:25px;
				 }
			 }
		}
	*/
	
}

// Temporary: TODO: Identify and manage breakpoint at 992
@media screen and (max-width: $screen-md-max) {
	// Remove margins from smaller than 992

	#util-bar-wrap {
		padding-right: 0;
	}
	#top-bar-wrap {
		padding-left: 0; // 90 + 15 px
		padding-right: 0;
	}
	.content-main {
		> div, > h1 {
	  	margin-left: 0;
		}
	}
	.sidebar {
		&.sidebar-right {
			> div {
				margin-left: 0;
			}
		}
	}
	.footer {
		.foot-wrap {
			#foot-cont {
				margin-left: 0;
			}
		}
	}
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-min) { // 1200px max-width
	.sidebar {
		&.sidebar-right {
			> div {
				margin-left: 10px;
			}
		}
	}
}

/*----- Tablet breakpoint -------*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 1200px max-width, was 992px
	head { font-family:"M";}
	body:after{content:"M";}

}

/*----- Desktop breakpoint -------*/
@media screen and (min-width: $screen-md-min) { // was $screen-lg-min, 1200px max-width, was 992px
	head { font-family:"L";}
	body:after{content:"L";}

}

/*----- Foundation adjustments -----*/
// Define correct menu collapse breakpoint. 
// This change also requires adding .topbar-breakpoint to the topbar.js and foundation.css
// where .foundation-mq-topbar is also found
//.topbar-breakpoint { font-family: "/only screen and (min-width:62.000em)/"; width: 62.000em; } 

/* Override default grid gutter, which was broke on home/index bottom panel row. */
.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* /_theme.scss */