/* _theme.scss */

// See JS for Windows Phone 8 / IE 10 viewport issues
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

body:after{ 
	content:"XS"; 
	display:none;
}
head{
	font-family:'XS';
}

/* WAI level-1 compliancy - Bypass Blocks 2.4.1 */
#skip-link {
    left: 50%;
    margin-left: -5.25em;
    margin-top: 0;
    position: absolute;
    width: auto;
    z-index: 50;
		a, a:link, a:visited {
		    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
		    border-radius: 0 0 10px 10px;
		    color: #fff;
		    display: block;
		    padding: 1px 10px 2px;
		    text-decoration: none;
		}
}

.container {
	padding:0;
	&#main {
		//padding:0 !important; // TODO: Breaks fit alignment on mobile
	}
}

/* formerly reset-all */
.col-lg-4{
	h2{
    font-weight: bold !important;
    @include font_size(30px, !important);
    margin-bottom: 15px;
	}
    
}
.about-bio {
	h3{
	font-weight: bold;
	}	
}

.btn-primary{
 margin-top: 15px;   
 color: #fff !important;   
}
.sidebar-info{
	h4{
	font-weight: bold;
	font-size: 16px;
	}
}
.sidebar-left{
	.panel{
		//background: #e5e5e5;
	}
}
.sidebar-right{
	//width:250px;
	height:30px;
}

.panel-group{
	margin-bottom: 0 !important;
	.panel-body {
		.narrow-col {
			.content {
				padding: 15px;
			}
		}
	}
	.sidebar{
		border: none !important;
	}
}
#top-panel-row {
	h2, h3, p, li, div {
		color: #FFF;
	}
}
/* /formerly reset-all */

.body-img{
	border:1px solid red;
	height:120px;
	width:200px;
	float:left;
}

.btn-txt {
	//left-indent: -10000px;
	display: none;
}
.nobr {
	white-space: nowrap;
}
p {
	margin-bottom: 15px;
}

#utility {
	ul li{	
		text-align:center;
		display: inline;
		list-style-type: none;
		padding-right: 50px;	
		width:100%;
	}
	ul{
		padding-top:100px;
		text-align:center;	
		clear:both;
	}
}


#footer {	
	background-color:$ucd_blue_70;
	min-height:250px;
	//width:100%;
	padding-bottom: 25px;
	margin-bottom: 15px;
	clear:both;
	a {
		text-decoration: none;
	}
	
	.foot-wrap{
		margin: 35px 90px;
		margin-bottom: 0 !important;
		//width:100%; // TODO: Tablet/Mobile right white margin
	}
	
	.footer-nav, #copyright, #vcard{
		float:left;		
		color:#fff;
		text-decoration:none;
		//margin-top:36px;
	}
	#copyright {
		margin-top:36px;
	}
	#email-phone {
		a {
			text-decoration: underline;
		}
	}
	#copyright{
		clear:both;
	}
	.footer-nav{
		border-left: 1px solid white;
		width:140px;		
		li{
			padding-left:10px;
			@include line_height(35px);
			a{
				color:#fff;
			}
		}
	}
	#copyright, #vcard {
		margin-right:135px;
		@include font_size(14px);
		line-height: 1.4em;
		//font-family:lucida;
		a, p{
			color:#fff;
			letter-spacing:.014em;
		}
	}

	#foot-social{
		//width:217px; // TODO: Tablet/Mobile right white margin
		float:left;
		//margin-top:35px;
		//margin-left:85px;
		li{
			display: inline-block;
			text-align: center;
			padding-left: 7px;
			padding-right: 7px;
			border-left: 1px solid white;
			a{
				display: inline-block;
				height: 24px;
				width: 24px;
				color:#fff;
				&#facebook-icon {
					background: url(../images/icons/sm-icon-sprites.png) 0 0 no-repeat;
				}
				&#twitter-icon {
					background: url(../images/icons/sm-icon-sprites.png) -24px 0 no-repeat;
				}
				&#pinterest-icon {
					background: url(../images/icons/sm-icon-sprites.png) -48px 0 no-repeat;
				}
				&#youtube-icon {
					background: url(../images/icons/sm-icon-sprites.png) -72px 0 no-repeat;
				}
				&#linkedin-icon {
					background: url(../images/icons/sm-icon-sprites.png) -96px 0 no-repeat;
				}
			}
			&.last{ 
				border-right: 1px solid white;
			}
		}	

	}
}


input{
   text-align:center;
}
.contact{
	margin-top:15px;	
}

/* TODO: Careful with global treatment of .content
.content{
	margin-top:47px;
	margin-bottom:40px;
	padding:0;
}
*/

.content-title{
	padding-bottom:30px;
	@include font_size(36px);
	@include line_height(43px);
	letter-spacing: 0.01em;
	margin-top: 0 !important;
}
#content-row {
	margin-bottom: 45px;
}
#content-main{

	.breadcrumb {
		background: none;
		padding:0 0 !important;
		margin-bottom:0;
		color: $ucd_blue_80;
		text-transform: uppercase;
		.bread-divider {
			@include font_size(15px);
		}
	}
	.panel-body {
		h2 {
			@include font_size(24px, !important);
			font-weight:normal;
			padding-top:15px;
			padding-bottom:15px;
		}
	}
	h2{
		@include font_size(24px, !important);
		font-weight:normal;
		padding-top:15px;
		padding-bottom:15px;
	}
	h3 {
		@include font_size(15px);
		@include line_height(25px);
		padding-top:15px;
		padding-bottom:15px;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		li {
			background-image: url(../images/bullets/black-square.gif);
			background-repeat: no-repeat;
			background-position: 0px 5px;
			padding-left: 14px; 
			ul {
				margin-top: 7px;
				margin-bottom: 0 !important;
				li {
					
				}
			}
		}
	}
}


.sidebar{
	height:auto;
	//width:250px; // !important; 
	margin-top:15px;
	text-align:left;
	
	> div {
		margin-left: 70px;
	}
	h3{
		height:30px;
		a{
			color:#fff;
			text-transform:uppercase;
			@include font_size(13px);
			@include line_height(22px);
			letter-spacing:.1em;
			padding-left:38px;
			position:relative;
			top:4px;
		}
	}

	.panel-heading{
		padding:0;
		.panel-title {
			background-color: $rec_blue;
			a {
				&:hover{
					//cursor:text;
				}
			}
		}
	}
	// Bio sidebar etc.
	&.sidebar-right {
		> div {
			.panel-body {
				background: #f2f2f2; // TODO: Where's this color from?
			}
		}
		.collapsible{
			background:#f2f2f2; // TODO: Where's this color from?
		}
	}
}

.more_text{
	display:none;	
}
.body-list, .sub-list{
	list-style-type:circle;
	margin-left:20px;
	li{
		padding-bottom:10px;
	}
}
.download{
	font-weight:bold;
}
#downloads{
	a{
		text-decoration:underline;
		color:$ucd_blue_80;
	}
}
/* Contact uses hCard microformat / vCard RFC2426 */
#sidebar-block-contact {
	margin-top:20px;
	padding-left: 38px;
	padding-right: 15px;
	li{
		text-align:left;
		@include font_size(13px);
		letter-spacing: 0.01em;
		a {
			text-decoration: none;
			color:$ucd_blue_80;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.fn { // full name
		text-transform:uppercase;
		color:$ucd_blue_80;
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	.category { // position
		font-style: italic;
		@include font_size(12px);
		margin-bottom: 5px;
	}
	.tel { // phone
		margin-bottom: 5px;
	}
	.email {
		text-transform:uppercase;
		a {
			display: block;
			height: 16px;
			padding-left: 22px;
			background: url(../images/icons/email.gif) 0 60% no-repeat;
		}
	}
}
.sidebar-block-items{
	background:#e5e5e5;	
	padding-bottom:10px;
	text-align:left;
	width:auto;
	height:100%;
	padding-left:15px;
	margin-left:35px;
	list-style-type:circle;	
}


.panel-title {
	background: $ucd_bright_gold; // was  $rec_blue;
	//width:250px;
	a{
		text-decoration:none;
	}
}

.panel-body{
	h2 {
		@include font_size(18px);
		//@include line_height(24px);
		letter-spacing:.03em;		
	}
	h3{
		@include font_size(15px);
		@include line_height(18px);
		letter-spacing:.01em;
		font-weight:bold;
		margin-top:0;
	}

	.body-img{
		margin-right:20px;
	}
}

.panel-collapse{
	overflow:hidden;	
}
.nav-tabs{
	display:none;
	@include font_size(20px);
}

.collapse, .collapsing {
	div{
		padding:15px;
	}
} 

#search{
	width:100px;
}

@media screen and (min-width: $screen-sm-min) { // width > 768
	
	// pull content left on larger screens so flush left with top-bar
	#content-main {
		padding-left: 0 !important;
		margin-top: 45px;
		margin-bottom: 30px;
		h1, .breadcrumb {
			//margin-left: 15px;
		}
	}
	body.has-shadow-am {
		/*#content-row { // Give banner graphic room
			margin-top: 594px;
		}*/
		.facultyStaffDirectory {
			margin-top: 60px !important;
			margin-bottom: 30px;
		}
	}
  .masthead,
  .marketing,
  #footer {
    padding-right: 0;
    padding-left: 0;
		.foot-wrap {
			#foot-left {
				margin-left: 10%;
			}
		}
  }
	.sidebar-right{
		padding-left:0 !important; 
		padding-right:0 !important;
	}
}

/*------ All Media Queries ----------*/

/*----- Mobile breakpoint --------*/
// At point that left and right margins are gone
@media screen and (max-width: $screen-sm-min) { // width < 768
	.row#content-row {
		margin-left: 0 !important;
		margin-right: 0 !important;
		#content-main {
			margin-top: 10px;
			h1, .breadcrumb {
				//margin-left: 15px;
			}
		}
	}

	#content-main {
		margin-bottom: 15px;
	}
	
	.panel-heading {
		margin-bottom: 5px;
		.panel-title {
			a {
				background: url(../images/icons/blue-100-right-arrow-down.png) 98% 50% no-repeat;
				&.collapsed {
					background: url(../images/icons/blue-100-right-arrow.png) 98% 50% no-repeat;
				}
			}
		}
	}
	.sidebar {
		.panel-heading {
			.panel-title {
				a {
					top: 0;
					background: url(../images/icons/white-arrow-right-sm.png) 98% 50% no-repeat;
					&.collapsed {
						background: url(../images/icons/white-arrow-down-sm.png) 98% 50% no-repeat;
					}
				}
			}
		}
	}
}

/*----- Mobile breakpoint -------*/
@media screen and (max-width: $screen-sm-max) { // width < 991px
	head { font-family:"S";}
	body:after{content:"S";}
 	
  #sidebar-bio-right{
		float:left;	  		
		margin-left:0;
		margin-top:10px;
		clear:both;
  }
	.sidebar{	
		background:transparent;
	}
	.sidebar-right{	
		margin-top:100px;
		clear:both;
		float:left !important;
		
	}
	.util-bar{ // at this breakpoint, yellow bar containing only the UC Davis logo
		margin: 0;
		height: 27px; // 17px logo + 5px top/bottom margin
		ul {
			margin: 0;
			padding: 0;
			li {
				&#uti-logo {
					//padding-left: 15px;
					border-left-width: 0;
					a {
						//margin-top: 5px;
					}
				}
			}
		}
	}
	
	#content-main {
	  min-width:192px;
		clear:both;
	}
	.submenu{
		position:absolute;
		left:-999px !important;
	}
	.headshot{
		padding:0 !important;
		height:100% !important;		
	}

	.panel{
		border:none;
	}
	.panel-heading {
		//height: 40px;
		padding:0;
		.panel-title {
			min-height: 40px;
			width: auto; // undo general 250 width
			a {
				display: inline-block;
				width: 100%; //TODO: margin-top reveals formatting error
				min-height: 40px;

				padding-right: 20px;
				padding-left: 20px !important;
				
				text-align: center;
				//line-height: 40px;
				@include line_height(40px);
				&:hover{
					cursor: pointer !important;
				}
			}
		}
	}
	.menu-icon{
		/* height:80px;
		top:-39px !important;*/
	}
	.glyphicon{
		position:relative;
		top:-18px;
	}
	.sidebar {
		&.sidebar-right{	
			//float:right;
			//margin-top: 100px;	//TODO: margin-top reveals formatting error
			margin-top: 0;
		}
	}
	.op-sidebar-title {
		text-align:left !important;
	}
	#footer {	
		padding-bottom: 5px;
		.foot-wrap{
			margin: 25px;
			p, ul, div {
				margin-left: 0;
				margin-right: 0;
				width: 100%;
				text-align: center;
			}
			#foot-social {
				margin-left: 0 !important;
				margin-right: 0 !important;
				float: none;
			}

		}
		#vcard p, #copyright {
			@include font_size(11px);
		}
		#copyright {
			margin-top: 0;
		}
	}
}


@media screen and (min-width: $screen-sm-min) { // width > 768px

	.portlet {
		.portlet-items {
			margin: 15px;
			margin-bottom: 25px;
			margin-left: 38px;
			
			li {
				margin-bottom: 5px;
				@include font_size(10px);
				a {
					@include font_size(13px);
					@include line_height(17px);
					
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
					color: $rec_blue;
				}
				.event-date {
					@include font_size(13px);
					display: block;
					padding-top: 4px;
				}
			}
			&.with-bullets {
				margin-left: 47px;
				li {
					list-style: square;
				}
			}
		}
		margin-bottom: 35px;
		.panel-body {
			padding: 0;
			.vcard {
				padding: 0;
				div {
					@include font_size(12px);
					margin-left: 35px;
					margin-right: 15px;
					padding: 0;
					div {
						margin-left: 0;
					}
					&.adr {
						margin-top: 15px;
					}
					&.office-hours {
						margin-bottom: 15px;
					}
				}
				&.office {
					h4 {
						min-height: 28px;
						background-color: #CCC;
						padding: 8px;
						padding-left: 35px;
						letter-spacing: 0.05em;
						font-weight: bold;
						a {
							@include font_size(13px);
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	
	body.bio .sidebar.sidebar-right {
		margin-top: 45px; // for top placement of bio portrait
		.bio-card {
			.panel-body {
				.vcard {
					
					position: relative;
					img.photo {
						margin-top: 6px;
						margin-bottom: 25px;
						margin-left: auto;
						margin-right: auto;
						display: block;
					}
					h4 {
						@include font_size(13px);
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-weight: bold;
						margin-left: 35px;
					}
					.title.org {
						margin-left: 35px;
						margin-right: 35px;
						padding-left: 0;
						margin-top: 15px;
						margin-bottom: 25px;
						p {
							@include font_size(12px);
							@include line_height(14px);
							font-style: italic;
							margin-bottom: 5px;
							
						}
					}
					ul.portlet-items {
						margin: 0;
						border-top: 1px solid #FFF;
						height: 40px;
						li {
							float: left;
							height: 40px;
							border-right: 1px solid #FFF;
							width: 33.33%;
							text-align: center;
							&:last-child {
								margin-right-weight: 0;
							}
							a {
								display: inline-block;
								margin-left: auto;
								margin-right: auto;
								height: 40px;
								@include font_size(12px);
								@include line_height(40px);
								letter-spacing: 0.05em;
								padding-left: 35px;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
								background-position: 20% 50%;
								background-repeat: no-repeat !important;
							}
							.email a {
								background-image: url(../images/icons/email.gif);
							}
							.cv a {
								background-image: url(../images/icons/filetype/pdf.gif);
							}
							.vcard-file a {
								background-image: url(../images/icons/calendar-icon-t.png);
							}
						}
					}
				}
			}
		}
	}
	
	#util-bar-wrap {
		padding-right: 105px;
	}
	
	#top-bar-wrap, #content-row {
		padding-left: 105px; // 90 + 15 px
		padding-right: 105px;
	}
	
	#content-main {
		> div, > h1 {
	  	//margin-left: 90px; // TODO: remove since now using .row 15+90=105 applied to content-row
		}
		#summary {
			#jumplinks, #education {
				width: 50%;
			}
			.left {
				float: left;
			}
		}

	}
	
	.top-bar {
		.top-bar-section {
			 li {
				ul { // .dropdown
					// TODO: Tablet/Mobile right white margin
					//width: 220px !important;
					li {
						a {
							padding: 25px;
						}
					}
				}
			}
		}
	}
	
	.panel-heading#content-panel-heading {
		display:none;
	}
	
	/*
		.dropdown {
			 width: 220px !important;
			 
			 li {
				 a {
					 display: inline-block !important;
					 border: 1px solid red !important;
					 padding:25px;
				 }
			 }
		}
	*/
	
}

// Temporary: TODO: Identify and manage breakpoint at 992
@media screen and (max-width: $screen-md-max) { // < 1999
	// Remove margins from smaller than 992

	#util-bar-wrap {
		padding-right: 0;
	}
	#top-bar-wrap, #content-row {
		padding-left: 0; // 90 + 15 px
		padding-right: 0;
	}
	#content-main {
		> div, > h1 {
	  	//margin-left: 0;
		}
	}
	.sidebar {
		&.sidebar-right {
			> div {
				margin-left: 0;
			}
		}
	}
	#footer {
		.foot-wrap {
			#foot-left {
				margin-left: 0;
			}
		}
	}
}

@media screen and (max-width: $screen-lg-min) { // width < 1200
	#footer {
		.footer-nav{
			
			&#foot-left, &#foot-center {
				display: none;
			}
			&#foot-right {
				margin-left: 160px !important;
			}
		}
	}
}
@media screen and (max-width: $screen-sm-max) { // width < 991
	#footer {
		.footer-nav{
			border-left-width: 0;
			text-align: center;
			&#foot-right {
				margin-left: 0 !important;
				li {
					width: 220px;
					margin: 0 auto !important;
					border-bottom: 1px solid #FFF;
				}
				li:last-child {
					border-bottom-width: 0;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-min) { // 991 < width < 1200
	.sidebar {
		&.sidebar-right {
			> div {
				margin-left: 60px;
			}
		}
	}
}

/*----- Tablet breakpoint -------*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768 < width < 991
	head { font-family:"M";}
	body:after{content:"M";}
	#content-main {
		padding-right: 0 !important;
	}
}

/*----- Desktop breakpoint -------*/
@media screen and (min-width: $screen-md-min) { // width > 992
	head { font-family:"L";}
	body:after{content:"L";}
	
	body.bio .sidebar.sidebar-right {
		margin-top: 45px; // for top placement of bio portrait
		.bio-card {
			img.photo {
				margin-top: 15px;
			}
		}
	}
	
	#content-main {
		h1, .breadcrumb {
			//margin-left: 15px;
		}
	}
}

/* Override default grid gutter, which was broke on home/index bottom panel row. */
.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* /_theme.scss */