// Colors from http://identitystandards.ucdavis.edu/graphic-standards/colors.html


/* UCD Palette */
$ucd_black_80: #333333;

$ucd_blue_100: #002855;
$ucd_blue_90: #1a3e68;
$ucd_blue_80: #335379;
$ucd_blue_70: #4d688c;
$ucd_blue_60: #667d9d;
$ucd_blue_50: #7f93ae;
$ucd_blue_40: #99a9bf;
$ucd_blue_30: #b2bdcf;
$ucd_blue_20: #ccd4e0;
$ucd_blue_10: #e5e9ef;

$ucd_green_80: #336e64;
$ucd_green_60: #66928b;

$ucd_bright_gold: #DAAA00;

$rec_blue: #008EAA;


/* Custom colors */
$heading_navy_color: #003366;
$blue_link_color: #0062A0;

$box_header_blue: $ucd_blue_10;
$box_light_gray: #f2f2f2;
$tab_light_gray: #e5e5e5; // Home page

$sticky_nav_color: #e1e1e1;
