/* From reset_all.scss ... TODO: Why? */
body{
    font-size: 14px !important;
    font-family: Arial,sans-serif !important;    
}
.col-lg-4{
	h2{
    font-weight: bold !important;
    font-size: 30px !important;
    margin-bottom: 15px;
	}
    
}
.about-bio {
	h3{
	font-weight: bold;
	}	
}

.btn-primary{
 margin-top: 15px;   
 color: #fff !important;   
}
.sidebar-info{
	h4{
	font-weight: bold;
	font-size: 16px;
	}
}
.sidebar-left{
	.panel{
		background: #e5e5e5;
	}
}
.sidebar-right{
	width:250px;
	height:30px;
	padding-left:0 !important; 
	padding-right:0 !important;
}

.panel-group{
	margin-bottom: 0 !important;
	.panel-body {
		.narrow-col {
			.content {
				padding: 15px;
			}
		}
	}
	.sidebar{
		border: none !important;
	}
}
#top-panel-row {
	h2, h3, p, li, div {
		color: #FFF;
	}
}
/* /end reset_all.scss */

// customize bootstrap variables here:
@import "variables";
@import "theme";
@import "vendor/bootstrap";
@import "components/banners";
$container-large-desktop: 1280px;