@charset "utf-8";
@import "variables";
@import "ucd-variables";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/box-sizing";
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

/* From reset_all.scss ... TODO: Why? */
body{
    //font-size: 14px !important;
    //font-family: Arial,sans-serif !important;    
}
.col-lg-4{
	h2{
    font-weight: bold !important;
    @include font_size(30px, !important);
    margin-bottom: 15px;
	}
    
}
.about-bio {
	h3{
	font-weight: bold;
	}	
}

.btn-primary{
 margin-top: 15px;   
 color: #fff !important;   
}
.sidebar-info{
	h4{
	font-weight: bold;
	font-size: 16px;
	}
}
.sidebar-left{
	.panel{
		background: #e5e5e5;
	}
}
.sidebar-right{
	width:250px;
	height:30px;
	padding-left:0 !important; 
	padding-right:0 !important;
}

.panel-group{
	margin-bottom: 0 !important;
	.panel-body {
		.narrow-col {
			.content {
				padding: 15px;
			}
		}
	}
	.sidebar{
		border: none !important;
	}
}
#top-panel-row {
	h2, h3, p, li, div {
		color: #FFF;
	}
}

/* /end reset_all.scss */

@import "theme";
@import "vendor/bootstrap";
@import "components/banners";
@import "components/navigation";
