@charset "utf-8";
@import "variables";
/* Sub organization overrides */

@media screen and (min-width: $screen-sm-min) { // was 768px
	#footer{
		#vcard{
			margin-right:25px;
		}
		#foot-social{
			position:relative;
			//left:-190px;
			float:right !important;
		}
	} 
}

@media screen and (max-width: $screen-sm-min) { // was 768px
	#footer{
		#vcard{
			text-align:center;
		}
		.footer-nav{
			//border-left:none;
			li{				
				//border-top:1px solid white;
			}
			.last{
				//border-bottom:1px solid white;
			}
		}
	}
}

@media screen and (max-width: $screen-sm-max) { // was 992px
	#foot-social{
		margin-left:55px !important;
	}
}
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-lg-min) { // or $screen-md-max 1199, was max-width: 992px
	#footer{
		.foot-wrap{
			margin:40px;
		}
		#vcard{
			margin-right:25px;		
		}
	} 
}
