
/* 2014-06-12 RAK: This file contains theme CSS and mediaquery for responsive (at end of file). 

  TODO: 
    - Move to SASS
    
*/

body {
  padding-top: 20px;
}
head{
	font-family:'XS';
}
body:after{ 
	content:"XS"; 
	display:none;
}

#utility {
	ul li{	
		text-align:center;
		display: inline;
		list-style-type: none;
		padding-right: 50px;	
		width:100%;
	}
	ul{
		padding-top:100px;
		text-align:center;	
		clear:both;
	}
}
.footer {	
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  border-top: 1px solid #eee;
  text-align:center;
  clear:both;
}

input{
   text-align:center;
}
.contact{
	margin-top:15px;	
}
.content{
	margin-top:15px;
}
.content-title{
	padding-bottom:20px;
	text-align:center;
}
.content-main{
	font-size:16px;
	 h2{
		font-size:25px;
		font-weight:bold;
		padding-top:15px;
		padding-bottom:15px;
	}
}


.jumbotron {
  text-align: center;
  margin-top:20px;
  background-color: transparent;
  border:2px solid black;
  h1{
	font-weight:normal;
  }
}
.sidebar{
	height:100%;
	height:auto;
	margin-top:15px;
	text-align:center;
	background:#e5e5e5;
	h3{
		font-size:20px;
		height:auto;
		background:#e5e5e5;
	}
	.collapsible{
		background:#e5e5e5;
	}
	.panel-title a:hover{
		cursor:text;
	 }
}

more_text{
	display:none;	
}
.sidebar-block-items{
	background:#e5e5e5;	
	padding-bottom:10px;
	text-align:left;
	width:auto;
	height:100%;
	padding-left:15px;
	list-style-type:circle;	
}

.navbar {
	margin-top:10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #e5e5e5; /* Old browsers */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x; /* Repeat the gradient */
	border-bottom: 1px solid #d5d5d5;
}
.navbar-title{
	float:left;
	display:none;
	text-transform:uppercase;
	padding-right:10px;
	padding-top:10px;
	font-size:23px;
	color:#777;
}
.nav-justified{
	
	> li > a {
	  padding-top: 15px !important;
	  padding-bottom: 15px !important;
	  margin-bottom: 0;  
	  font-weight: bold;
	  color: #777;
	  text-align: center;
	  outline:none;
	 
	}
	> .active > a,> .active > a:hover,> .active > a:focus {
	  background-color: #ddd;
	  background-image: none;
	  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
	}

	> li:first-child > a {
	  border-radius: 5px 5px 0 0;
	}
	> li:last-child > a {
	  border-bottom: 0;
	  border-radius: 0 0 5px 5px;
	}	
	.drop-on{	
		.dropdown-menu{
			top:47px;
			width:100%;			
		}
	}
	.dropdown-menu{
		top: 48px !important;
		width:100%;	
		li:hover > ul{
			display:block;
		}		
	}
	li{
		&.open{
			height:auto !important;
			.dropdown-menu{
				position:static;
				float:none !important;
			}
		}
	}
	.drop-on{
		&:hover > ul{
			display:block;
			left:0;		
		}
	}	
	.leaf{
		text-align:center;
		padding:5px;
		
	}	
}
.submenu{
	display:none;
	box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
	position:absolute;
	width:100px;
	left: 100% !important;
	margin-top:-25px;
	padding:0;
	top:auto;	
	border:1px solid rgba(0, 0, 0, 0.15);
	border-radius: 5px 5px 5px 5px;
	background:#fff;
	li a{
		color:inherit;
		text-decoration:none;
	}
}
.caret{
	margin-left:15px;
}
.panel-title a{
	text-decoration:none;
}
.panel-collapse{
	overflow:hidden;	
}
.nav-tabs{
	display:none;
	font-size:20px;	
}

.collapse , .collapsing {
	div{
		padding:15px;
	}
} 

#search{
	width:100px;
}

@media (min-width: 768px) {
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

}

/* All Media Queries */
@media screen and (max-width: 768px) {
		
  /* Remove the padding we set earlier */
    #sidebar-bio-right{
		float:left;	  		
		margin-left:0;
		margin-top:10px;
		clear:both;
  }
	.sidebar{	
		background:transparent;
	}
	.sidebar-right{	
		margin-top:15px;
		clear:both;
		float:left !important;
	}
	.content{
	    min-width:192px;
		clear:both;
	}
	.navbar-title{
		display:inline;
	}
	.submenu{
		position:absolute;
		left:-999px !important;
	}
	.headshot{
		padding:0 !important;
		height:100% !important;		
	}
	
	.facultyStaffDirectory{
		padding:15px 20px;
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	head { font-family:"S";}
	body:after{content:"S";}
	.panel-title {
		a:hover{
			cursor:pointer;
		}		
	}
	.sidebar-right{	
		float:right;		
	}
	.op-sidebar-title {
		text-align:left !important;
	}
}

@media screen and (min-width: 768px) {
	head { font-family:"M";}
	body:after{content:"M";}	
	
}

@media screen and (min-width: 992px) {	
	head { font-family:"L";}
	body:after{content:"L";}

}