/* _typography.scss */
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding

body, div, p, li {
  color: #000;
	@include standard_font;
}

a { color: $ucd_blue_70;}

em {
	font-style: italic;
}

.col-lg-4 {
	h2 {
    font-weight: bold !important;
    @include font_size(30px, !important);
    margin-bottom: 15px;
	}
    
}
.about-bio {
	h3{
	font-weight: bold;
	}	
}
.sidebar-info{
	h4{
	font-weight: bold;
	font-size: 16px;
	}
}

@font-face{
		font-family: 'lucida sans bold';
    src: url('fonts/lucida/LucidaSansBold.ttf');
    font-weight: normal;
    font-style: normal;
}

.uc {
	text-transform: uppercase;
	letter-spacing: 0.1em !important;
}

.content-title{
	padding-bottom:30px;
	@include font_size(36px);
	@include line_height(43px);
	letter-spacing: 0.01em;
	margin-top: 0 !important;
}

#content-main {
	h2{
		@include font_size(24px, !important);
		font-weight:normal;
		padding-top:15px;
		padding-bottom:15px;
	}
	h3 {
		@include font_size(15px);
		@include line_height(25px);
		padding-top:15px;
		padding-bottom:15px;
	}
	.narrow-col {
		h2, h3 {
			padding-bottom: 0;
		}
	}
}

// Bio
body.bio {
	#summary {
		#jumplinks {
			width: 30% !important;
			ul {
				margin-right: 35px;
				li {
					@include font_size(13px);
					@include line_height(22px);
					padding-left: 0 !important;
					background-image: none !important;
					text-align: right;
				}
			}
		}
		#education {
			width: 70% !important;
			ul {
				margin-top: 10px;
				li {
					@include font_size(15px);
					@include line_height(18px);
					margin-bottom: 5px;
					padding-left: 0 !important;
					background-image: none !important;
				}
			}
		}
	}
	
}

#content-main {
	p, li, ol, div, span {
		@include line_height(24px,!important);
	}
	p {
		@include font_size(15px);
		@include line_height(18px);
		&.intro {
			@include font_size(18px);
			@include line_height(30px,!important);
		}
	}
	li, ol {
		@include font_size(15px);
		@include line_height(18px);
	}
	.breadcrumb {
		p {
			@include font_size(12px);
			@include line_height(15px);
			margin-bottom: 0;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	figure {
		figcaption {
			text-align: right;
			@include font_size(10.65px);
			text-transform: uppercase;
		}
	}
}
/*----- Tablet breakpoint --------*/
// At point that left and right margins are gone
@media screen and (max-width: $screen-sm-min) { // width < 768
	// Bio
	body.bio {
		.content-title {
			display: none;
		}
		.bio-card {
			h4.fn { // full name ... replacing content-title in mobile view
				padding-bottom: 30px;
				@include font_size(36px);
				@include line_height(43px);
				letter-spacing: 0.01em;
				margin-top: 0 !important;
			}
		}
	}
}

/*----- Desktop breakpoint -------*/
@media screen and (min-width: $screen-sm-min) {	// width > 768
	.top-panel {
		#content-main {
			.narrow-col {
				color: #FFF;
				h2 {
					text-align: center !important;
				}
				h3, p {
					text-align: left !important;
				}
				.btn {
					
				}
			}
		}
		&.left-panel, &.left-panel, &.left-panel {
			h2 {
				text-align: center !important;
			}
		}
		/*
		&.left-panel {
			//text-align: right;
		}
		&.middle-panel {
			//text-align: center;
		}
		&.right-panel {
			//text-align: left;
		}
		*/
	}
}

/*----- Tablet breakpoint --------*/
// At point that left and right margins are gone
@media screen and (max-width: $screen-md-min) { // width < 992
	
	body.home {
		// Text below banner in thumbnail / tab boxes
		
		#content-main {
			.narrow-col {
				h2 {
					@include font_size(17px);
				}
			}
			
			#top-panel-row {
				.narrow-col {
					.bcontroller {
						.btn-primary {
							@include font_size(11px); // See All link
							@include line_height(18px,!important);
						}
					}
				}
			}
			#bottom-panel-row {
				h2 {
					@include font_size(18px);
				}
			}
		}
	}
}


/*----- Desktop breakpoint -------*/
@media screen and (min-width: $screen-md-min) { // width > 992
	body.home {
		// Button text at bottom of happy boxes
		#content-main {
			#top-panel-row {
				.narrow-col {
					.bcontroller {
						.btn-primary {
							@include font_size(14px);
							@include line_height(30px,!important);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-lg-min) { // width < 1200
	body.home {
		// Text below banner in thumbnail / tab boxes
		
		#content-main {
			.narrow-col {
				a, p, li {
					@include font_size(12px);
					@include line_height(15px,!important);
				}
			}
		}
	}
}

/* /_typography.scss */