
body, div, p, li {
  color: #000; //$ucd_black_80;
	@include standard_font;
}

@font-face{
		font-family: 'lucida sans bold';
    src: url('fonts/lucida/LucidaSansBold.ttf');
    font-weight: normal;
    font-style: normal;
}

/*----- Desktop breakpoint -------*/
@media screen and (min-width: 992px) {	
	.top-panel {
		.content-main {
			.narrow-col {
				color: #FFF;
				h2 {
					text-align: center !important;
				}
				h3, p {
					text-align: left !important;
				}
				.btn {
					
				}
			}
		}
		&.left-panel, &.left-panel, &.left-panel {
			h2 {
				text-align: center !important;
			}
		}
		/*
		&.left-panel {
			//text-align: right;
		}
		&.middle-panel {
			//text-align: center;
		}
		&.right-panel {
			//text-align: left;
		}
		*/
	}
}