/* _typography.scss */
@import "vendor/bootstrap/variables"; // to bring in width variables that we are not overriding

body, div, p, li {
  color: #000;
	@include standard_font;
}

a { color: $ucd_blue_70;}

em {
	font-style: italic;
}

@font-face{
		font-family: 'lucida sans bold';
    src: url('fonts/lucida/LucidaSansBold.ttf');
    font-weight: normal;
    font-style: normal;
}

.uc {
	text-transform: uppercase;
	letter-spacing: 0.1em !important;
}

// Bio
body.bio {
	#summary {
		#jumplinks {
			width: 30% !important;
			ul {
				margin-right: 35px;
				li {
					@include font_size(13px);
					@include line_height(22px);
					padding-left: 0 !important;
					background-image: none !important;
					text-align: right;
				}
			}
		}
		#education {
			width: 70% !important;
			ul {
				margin-top: 10px;
				li {
					@include font_size(15px);
					@include line_height(18px);
					margin-bottom: 5px;
					padding-left: 0 !important;
					background-image: none !important;
				}
			}
		}
	}
	
}

#content-main {
	p, li, ol, div, span {
		@include line_height(24px,!important);
	}
	p {
		@include font_size(15px);
		@include line_height(18px);
		&.intro {
			@include font_size(18px);
			@include line_height(30px,!important);
		}
	}
	li, ol {
		@include font_size(15px);
		@include line_height(18px);
	}
	.breadcrumb {
		p {
			@include font_size(12px);
			@include line_height(15px);
			margin-bottom: 0;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	figure {
		figcaption {
			text-align: right;
			@include font_size(10.65px);
			text-transform: uppercase;
		}
	}
}

/*----- Desktop breakpoint -------*/
@media screen and (min-width: $screen-sm-min) {	// width > 768
	.top-panel {
		#content-main {
			.narrow-col {
				color: #FFF;
				h2 {
					text-align: center !important;
				}
				h3, p {
					text-align: left !important;
				}
				.btn {
					
				}
			}
		}
		&.left-panel, &.left-panel, &.left-panel {
			h2 {
				text-align: center !important;
			}
		}
		/*
		&.left-panel {
			//text-align: right;
		}
		&.middle-panel {
			//text-align: center;
		}
		&.right-panel {
			//text-align: left;
		}
		*/
	}
}

/* /_typography.scss */